<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music')}"></head>
<meta charset="UTF-8">
<title></title>
<!-- static 폴더 이후의 위치를 적으면 된다. -->
<link rel="stylesheet" th:href="@{/css/musicLike.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>

<script th:inline="javascript">

	// 유저 좋아요

	$(document).ready(function() {
		
		fn_musicLikeList();
		//fn_deleteMusicLike();
	
	});
	
	function fn_musicLikeList() {
		
		let page = $('#page').val();
		
		$.ajax({
			type: 'get',
			url: '/music/user/musicLikeList',
			data : 'page=' + page,
			dataType: 'json',
			success: function(resData) {
			
				alert('a');
				
				// 최신화
				$('.musicLike_header').empty();
				$('.musicLike_body').empty();
				
				// 목록조회
				// 1) 헤더
				$('.musicLike_header')
				.append('<div class="musicLike_title">'+resData.userNickName+' 님의 좋아요 리스트입니다</div>')
				.append('<div class="musicLike_cnt">현재 '+resData.musicLikeCnt+' 개의 곡이 있습니다</div>')
						
				// 2) 목록
				
				let body = $('<tbody>');
				
				// (1) tbody 생성
				$.each(resData.selectUserMusicLikeList, function(index, musicList) {
					
					// 썸네일 조건부여
					//if(musicList.hasThumbNail == 1) {
						// let thumbnail = '/music/thumbnail';
					//} else if (musicList.hasThumbNail == 0) {
						let thumbnail = '/images/defaultImage.png';
					//}
					
					$('<tr class="musicLike_tr">')
					.append( $('<td class="musicLike_td">')
							.append('<div class="musicLike_no">'+(index + 1)+'</div>') )
					.append( $('<td class="musicLike_td_del">')
							.append( $('<div class="musicLike_del">')
									.append('<img class="musicLike_thumbnail" src="' + thumbnail + '">') ) )
					.append( $('<td class="musicLike_td_del">')
							.append('<div class="musicLike_del">'+musicList.musicTitle+'</div>') 
							.append('<div class="musicLike_del">'+musicList.userDTO.artist+'</div>') )
					.append( $('<td class="musicLike_td_del">')
							.append('<div class="musicLike_del">'+musicList.musicGenre+'</div>') )
					.append( $('<td class="musicLike_td">')
							.append('<div class="musicLike_delete">삭제</div>') )
					.appendTo( $(body) );

				});
				
				// (2) 테이블 생성
				$('.musicLike_body')
				.append( $('<table class="musicLike_table">')
						.append( $('<thead>')
								.append( '<tr class="musicLike_tr"><td class="musicLike_td">번호</td><td class="musicLike_td" colspan="3">음악정보</td><td class="musicLike_td">삭제</td></tr>') )
						.append( $(body) ) )
				
				
			}
				
		});
	}


</script>
</head>
<body>

	
	<div th:replace="~{layout/header.html::header_layout}"></div>

	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
	
		
		<div class="musicLike_container">
		<input type="hidden" id="page" value="1">
		
			<div class="musicLike_page">
			
			
				<div class="musicLike_header">
				
					<div class="musicLike_title">~님의 좋아요게시판입니다</div>
					<div class="musicLike_cnt">총 곡수는 5개입니다</div>
				
				</div>
				<div class="musicLike_body">
					<table class="musicLike_table">
						<thead>
							<tr class="musicLike_tr">
								<td class="musicLike_td">
									번호
								</td>
								<td class="musicLike_td" colspan="3">
									음악정보
								</td>
								<td class="musicLike_td">
									삭제
								</td>
							</tr>
						</thead>
						<tbody>
							<tr class="musicLike_tr">
								<td class="musicLike_td">
									<div class="musicLike_no">No</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">썸네일</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">음악제목</div>
									<div class="musicLike_del">아티스트</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">장르</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_delete">삭제</div>
								</td>
							</tr>
							<tr class="musicLike_tr">
								<td class="musicLike_td">
									<div class="musicLike_no">No</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">썸네일</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">음악제목</div>
									<div class="musicLike_del">아티스트</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">장르</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_delete">삭제</div>
								</td>
							</tr>
						</tbody>
					</table>
	
				</div>

		</div>
				
			
			
			
			
			</div>
		
			
		
		
		

	
		
		
		</div>
	</div>
		
</body>
</html>