<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music')}"></head>
<meta charset="UTF-8">
<title></title>
<!-- static 폴더 이후의 위치를 적으면 된다. -->
<link rel="stylesheet" th:href="@{/css/musicLike.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>

<script th:inline="javascript">

	// 유저 많이들은

	$(document).ready(function() {
		fn_musicManyList();			// 구현 : 유저 많이들은 리스트 조회
		fn_changeMusicManylPage();	// 기능 : 유저 많이들은 페이징 이동
		fn_deleteMusicMany();		// 구현 : 유저 많이들은 리스트에서 해제
		fn_deleteMusicManyAll();	// 구현 : 유저 많이들은 전체 삭제
		
	});
	
	// 전역변수
	var page = 1;	// 페이지 디폴트값
	var thumbnail;	// 썸네일
	var body;		// 테이블 바디
	var paging;		// 페이징 합치는 변수
	var pagingUtil;	// 페이지 유틸
	var musicNo;	// 삭제할 음악 변수
	
	function fn_musicManyList() {	// 구현 : 유저 많이들은 리스트 조회
		
	//	let page = $('#page').val();
		
		$.ajax({
			type: 'get',
			url: '/music/user/musicManyList',
			data : 'page=' + page,
			dataType: 'json',
			success: function(resData) {
				

				// 최신화
				$('.musicLike_top').empty();
				$('.musicLike_header').empty();
				$('.musicLike_body').empty();
				
				// 목록조회
				// 1) 헤더
				$('.musicLike_top').
				append('<div class="musicLike_title"><i class="fa-solid fa-fire"></i>&nbsp;&nbsp;많이들은 게시판</div>')
				
				
				$('.musicLike_header')
				.append( $('<div class="musicLike_header_left">')
						.append('<div class="musicLike_title">'+resData.userNickName+' 님이 많이들은 음악리스트입니다</div><div class="musicLike_cnt">현재 '+resData.userMusicManyCnt+' 개의 곡이 있습니다</div>') )
				.append( $('<div class="musicLike_header_right">')
						.append('<div class="musicMany_deleteAll">전부삭제</div>') );
						
				// 2) 목록
				
				body = $('<tbody>');
				
				// (1) tbody 생성
				$.each(resData.musicManyList, function(index, musicList) {
					
					
					
					
					// 썸네일 조건부여
					if(musicList.hasThumbNail == 1) {
						thumbnail = '/tune/display/image?musicNo=' + musicList.musicNo;
					} else if (musicList.hasThumbNail == 0) {
						thumbnail = '/images/defaultImage.png';
					}
					
					$('<tr class="musicLike_tr">')
					.append( $('<td class="musicLike_td_no"><div class="musicLike_no">' + musicList.musicNo + '</div></td>') )
					.append( $('<td class="musicLike_td_del"><div class="musicLike_del"><img class="musicLike_thumbnail" src="' + thumbnail + '"></div></td>') )	
					.append( $('<td class="musicLike_td_del"><div class="musicLike_del">'+musicList.musicTitle+'</div><div class="musicLike_del">'+musicList.userDTO.artist+'</div></td>') )
					.append( $('<td class="musicLike_td_del"><div class="musicLike_del">'+musicList.musicGenre+'</div></td>') )
					.append( $('<td class="musicLike_td"><div class="musicMany_delete" data-musicno="'+musicList.musicNo+'">지우기</div></td>') )
					.appendTo( $(body) );

				});
				// (2) 테이블 생성
				$('.musicLike_body')
				.append( $('<table class="musicLike_table"><thead><tr class="musicLike_tr"><td class="musicLike_td">번호</td><td class="musicLike_td" colspan="3">음악정보</td><td class="musicLike_td">삭제</td></tr></thead></table>') 
						.append( $(body) ) );
				
						
				// (3) 페이징 처리
				$('.musicLike_footer').empty();
				
				
				pageUtil = resData.pageUtil;
				paging = $('<div class="musicLike_paging">');
				
				
				
				if(page != 1) {
					$(paging).append('<div class="musicLike_btn" data-page="' + (page - 1) + '">◀</div>')
				}
				
				for(let p = pageUtil.beginPage; p <= pageUtil.endPage; p++) {
					
						$(paging).append( '<div class="musicLike_btn" data-page="'+p+'">'+p+'</div>' )
				}
				
				if(page != pageUtil.totalPage) {
					$(paging).append('<div class="musicLike_btn" data-page="' + (page + 1) + '">▶</div>')
				}
				
				$(paging).appendTo( $('.musicLike_footer') );
				
			}
				
		});
	}
	
	function fn_changeMusicManylPage(){	// 기능 : 페이지 이동
		$(document).on('click', '.musicLike_btn', function(){
			page = $(this).data('page');
			fn_musicLastlyList();
		});
	}
	
	function fn_deleteMusicMany() {	// 구현 : 많이들은 리스트에서 삭제
		
		$(document).on('click', '.musicMany_delete', function(){
			
			musicNo = $(this).data('musicno');
			
			$.ajax({
				type: 'post',
				url: '/music/user/deleteMusicLog',
				data : 'musicNo=' + musicNo,
				dataType: 'json',
				success: function(resData) {
				
					if(resData.result == 1) {
						alert('삭제했습니다');
						fn_musicManyList();
						
					}
					
					}
				});
				
			
		});
		
	};	
	
	function fn_deleteMusicManyAll() {	// 구현 : 많이들은 전체삭제
		
	$(document).on('click', '.musicMany_deleteAll', function(){
		
			$.ajax({
				type: 'post',
				url: '/music/user/deleteAllUserMusicLog',
				dataType: 'json',
				success: function(resData) {
				
					if(resData.result == 1) {
						alert('전부 삭제했습니다');
						fn_musicManyList();
					}
				}
			});
		});
	}



</script>
</head>
<body>

	
	<div th:replace="~{layout/header.html::header_layout}"></div>

	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
	
		
		<div class="musicLike_container">
		
			<div class="musicLike_page">
				
				<div class="musicLike_top"></div>
			
				<div class="musicLike_header">
				
					<div class="musicLike_title">~님이 최근들은 음악리스트입니다</div>
					<div class="musicLike_cnt">총 곡수는 5개입니다</div>
				
				</div>
				<div class="musicLike_body">
					<table class="musicLike_table">
						<thead>
							<tr class="musicLike_tr">
								<td class="musicLike_td">
									번호
								</td>
								<td class="musicLike_td" colspan="3">
									음악정보
								</td>
								<td class="musicLike_td">
									삭제
								</td>
							</tr>
						</thead>
						<tbody>
							<tr class="musicLike_tr">
								<td class="musicLike_td">
									<div class="musicLike_no">No</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">썸네일</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">음악제목</div>
									<div class="musicLike_del">아티스트</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">장르</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_delete">삭제</div>
								</td>
							</tr>
							<tr class="musicLike_tr">
								<td class="musicLike_td">
									<div class="musicLike_no">No</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">썸네일</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">음악제목</div>
									<div class="musicLike_del">아티스트</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_del">장르</div>
								</td>
								<td class="musicLike_td">
									<div class="musicLike_delete">삭제</div>
								</td>
							</tr>
						</tbody>
					</table>
	
				</div>
				<div class="musicLike_footer">
					<div id="musicLike_paging"></div>
				
				
				</div>

		</div>
				
			
			
			
			
			</div>
		
			
		
		
		

	
		
		
		</div>
	</div>
		
</body>
</html>