<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music')}"></head>
<meta charset="UTF-8">
<title></title>
<!-- static 폴더 이후의 위치를 적으면 된다. -->
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>

<script th:inline="javascript">

	$(document).ready(function() {
		//fn_aaa();
		//fn_userPlaylist();	// 구현 : 유저의 플레이리스트 조회 ajax
		//fn_playlistCnt();
		//fn_deletePlaylist();		// 구현: 플레이리스트 삭제
		//fn_playlistCnt();
	});
	
	// 구현 : 유저의 플레이리스트 목록 조회

	
/* 	
	function fn_userPlaylist() {
		
			$.ajax({
				type: 'get',
				url: '/music/user/playlist',
				dataType: 'json',
				success: function(resData) {
					
					// 유저명
					$('#playlist_title').empty();		
					$('#playlist_title')
					.append( $('<p class="playlist_title_username">' + resData.userName + '님의 플레이리스트</p>') )
					.append( $('<div class="playlist_cnt">※ 총 <span class="playlist_cnt_emp">' + resData.userPlaylistCnt + ' </span> 개의 플레이리스트를 보유하고 있습니다</div>') )
					// 플레이리스트 총 개수
					//$('#playlist_header').empty();
					
					// 플레이리스트 목록
					$('.playlist_item_area').empty();	
					$.each(resData.userPlaylist, function(index, playlist) {	
						
						$('<div class="playlist_item">')
						.append( $('<div class="playlist_item_area_left"><div class="playlist_thumbnail"></div></div>') )
						.append( $('<div class="playlist_item_area_middle">')
								.append( $('<div class="playlist_item_area_right_item">').text(playlist.listName) ) )
								//.append( $('<div class="playlist_item_area_right_item userPlaylist_cnt">').text(playlist.playlistMusicCnt) ) )			// 기능 : 플레이리스트별 수록곡 수
			
						.append( $('<div class="playlist_item_area_right"><div class="btn_playlist_delete">삭제</div></div>') )
						.appendTo('.playlist_item_area');
						//fn_playlistCnt();			// 기능 : 플레이리스트별 수록곡 수
					}); 
				}
			});	
	}  */
	
	function fn_playlistCnt() {	
		
		$.ajax({
			type: 'get',
			url: '/music/user/playlistMusicCnt',
			dataType: 'json',
			success: function(resData) {
				
				$('.playlist_item_area_right').empty();	// 음악수 초기화
				
				$.each(resData.userPlaylistMusicCntList, function(index, cnt) {

					$('.playlist_item_area_right').text(cnt + ' 곡');
				});  
			}
		});	
	}  
	
	/* function fn_playlist_thumbnail() {	// 기능 : 플레이리스트별 썸네일
		
		$.ajax({
			type: 'get',
			url: '/music/user/playlistThumbnail',
			data : 'listNo=' + $('#listNo').val(),
			dataType: 'json',
			success: function(resData) {
				
				$('.userPlaylist_cnt').empty();	// 음악수 초기화
				
				
				alert('a');
			}
		});	
		
		
	} */
	


</script>
</head>
<body>

	<!--  page : 최신리스트 게시판 -->
	
	<div th:replace="~{layout/header.html::header_layout}"></div>

	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
	
		
		<div class="playlist_container">
			<div class="playlist">
				<!-- 기능 : 유저명  -->
				<div id="playlist_title" class="playlist_title">
					<p class="playlist_title_username" th:text="|${userName} 님의 플레이리스트|"></p>
					<div class="playlist_cnt">※ 총 <span class="playlist_cnt_emp" th:text="${userPlaylistCnt}"></span>개의 플레이리스트를 보유하고 있습니다</div>
				</div>
				
				<!-- 기능 : 유저 플레이리스트 총 개수  -->
				<div id="playlist_header" class="playlist_header">
					<div class="btn_playlist_add">+    플레이리스트 만들기</div>
					<div class="btn_playlist_edit">  편집하기</div>     
					<script>
					
						// * 윈도우함수
						$('.btn_playlist_add').click(function() {
							window.open('/music/move/playlistAdd', 'page', 'scrollbars=no, width=600px, height=400px, top=290px, left=575px, resizable=no');
							// 전체 너비 1650, 높이 900
							// 팝업창 너비 600, 높이 400
							// left : 525, top : 250
						});
						
					
						
						
					
					</script>
				</div>
				
				<div class="playlist_body">
					<div class="playlist_item_area">
					
						<!--  # 구현 : 플레이리스트 목록 불러오기 -->
						<div class="playlist_item" th:each="playlist,vs:${userPlaylist}">
						
							
							<div class="playlist_item_area_left">
								<input type="checkbox" class="playlist_box">
								<div class="playlist_thumbnail">
									
									<!-- # 기능 : 플레이리스트 썸네일 가져오기 : 가장 최신곡 썸네일
									- 문제 : userPlaylist에는 musicNo를 못가져옴
									- 해결 : 업로드 시 썸네일이 별도로 설정되지 않으면 
									 -->
									 <!-- 1 후에 썸네일 처리하기
									<img class="thumbnail" th:src="@{/music/user/playlistThumbnail(listNo=${playlist.listNo})}"> -->
									<!-- 2) 업로드시 디폴트 이미지로 자동으로 업로드 되기 때문에 -->
									<img class="playlist_thumbnail" th:src="@{/images/defaultImage.png}">
							
									
								</div>
							</div>
							
							<div class="playlist_item_area_middle">
								<div class="playlist_item_area_right_item" th:text="${playlist.listName}"></div>
								<div class="playlist_item_area_right_item userPlaylist_cnt">
						 
									
								</div>
							</div>
							<div>
								<div class="playlist_item_area_right">  
									<input type="hidden" id="listNo" th:value="${playlist.listNo}">
									<div class="btn_playlist btn_playlist_modify" id="btn_playlist_modify" th:value="${playlist.listNo}">편집하기</div>
									<script>
					
									// * 윈도우함수: 반복문에서 얻은 val값을 얻고싶을경우 : (1) 클래스 타입을 이벤트 대상으로 삼는다 (2) 이벤트 대상을 기준으로 함수로 대상태그를 찾는다
									$('.btn_playlist_modify').click(function() {
										var listNo = $(this).prev().val();
										window.open('/music/move/playlisteModify?listNo=' + $(this).prev().val() , 'page', 'scrollbars=no, width=600px, height=400px, top=290px, left=575px, resizable=no');
										// 전체 너비 1650, 높이 900
										// 팝업창 너비 600, 높이 400
										// left : 525, top : 250
									});
						
						
						
					
					</script>
									
									
									<div class="btn_playlist" id="btn_playlist_delete" th:value="${playlist.listNo}">삭제</div>
								</div>
							</div>
						</div>
					</div>
					
					
					
			
				
				</div>
			</div>
		</div>
		
			
	</div>
</body>
</html>