<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('관리자>1:1문의')}"></head>
<meta charset="UTF-8">
<title>고객센터>태그뮤직</title>
<style>

	.blind {
		display: none;
	}	
</style>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<link rel="stylesheet" th:href="@{/css/customerService.css}">
<link rel="stylesheet" th:href="@{/css/chatListForAdmin.css}">
<script th:inline="javascript">

	fn_detail();
	fn_getChatList();
	


	function fn_getChatList() {
		
		$.ajax({
			type: 'get',
			url: '/chat/list/scroll',
			dataType: 'json',
			success: function(resData){
				$('.chat_list_container').empty();
				$.each(resData.arrayList, function(i, chat){
						
					var chats = '<div class="chat_warp" data-groupno="' + chat[0].groupNo + '">';
					chats += '<div><img src="'+chat[0].userDTO.profileImage+'"></img></div>'; 
					chats += '<div>'+chat[0].userDTO.name+'</div>';
					
					if(Array.isArray(chat[1])){
						if(chat[0].chatDate > chat[1].chatDate) {
							
							chats += '<div>'+chat[0].content+'</div>';
							moment.locale('ko-KR');
							chats += '<div>'+moment(chat[0].chatDate).format('YY-MM-DD A h:mm:ss') +'</div>';
							
						}else {
							chats += '<div>'+chat[1].content+'</div>';
							moment.locale('ko-KR');
							chats += '<div>'+moment(chat[1].chatDate).format('YY-MM-DD A h:mm:ss') +'</div>';
						}
						
					}else {
						
						chats += '<div>'+chat[0].content+'</div>';
						moment.locale('ko-KR');
						chats += '<div>'+moment(chat[0].chatDate).format('YY-MM-DD A h:mm:ss') +'</div>';
					}
					chats += '</div>';
					$('.chat_list_container').append(chats);
				});
				
			}
		});
	}


	function fn_detail(){
		
		$(document).on('click', '.chat_warp', function(){
			$.ajax({
				type: 'post',
				url: '/chat/list/detail',
				data: 'groupNo='+$(this).data('groupno'),
				dataType: 'json',
				success: function(resData){
					
					$('.chat_detail_container').empty();
					
					var div = '';
	
					$.each(resData.chatDetail, function(i, detail){
					
						var div = '';
						
						if(detail.depth == 1){
							if(detail.userNo == 1){
								div += '<div class="chat_admin_for_detail">';
								div += '<div><img src="'+detail.userDTO.profileImage+'" style="width:50px;"></img></div>';
								div += '<div>'+ detail.userDTO.name +'</div>';
								div += '<div>'+ detail.content +'</div>';
								div += '<div>'+ moment(detail.chatDate).format('YY-MM-DD A h:mm:ss') +'</div>';
								
							}else {
								div += '<div class="chat_user_for_detail">';
								div += '<div><img src="'+detail.userDTO.profileImage+'" style="width:50px;"></img></div>';
								div += '<div>'+ detail.userDTO.name +'</div>';
								div += '<div>'+ detail.content +'</div>';
								div += '<div>'+ moment(detail.chatDate).format('YY-MM-DD A h:mm:ss') +'</div>';
							}
							
							
						}else {
							
							div += '<div><form id="addChat" onkeypress="show_name(event)">';
							div += '<div id="id_addChat">';
							div += '<input type="text" name="content" autofocus>';
							div += '<input type="hidden" name="depth" value="'+ detail.depth+'">';
							div += '<input type="hidden" name="groupNo" value ="'+detail.groupNo+'">';
							div += '<input type="hidden" name="groupOrder" value ="'+detail.groupOrder+'">';
							div += '<input type="button" value="전송" onclick="fn_addChat();">';
							div += '</div>';
							div += '</form></div>';
							
						}
						
						div += '</div>';
						
						$('.chat_detail_container').append(div);
						
						$('.chat_detail_container').scrollTop($(".chat_detail_container")[0].scrollHeight);
						$("input[name=content]").focus();
					});
				}
			});
			
			
		});
		

	}
	
	
	
	
	
	function fn_addChat(){
		
		$.ajax({
			type: 'post',
			url: '/admin/chat/add',
			data: $('#addChat').serialize(),
			dataType: 'json',
			success: function(resData){
				
				if(resData.insertChat){
					fn_re_detail(resData.groupNo);
					/*fn_getChatList();*/
					
				}
				$("input[name=content]").focus();
			}
		});
	}
	
	
	function fn_re_detail(groupNo) {
		$.ajax({
			type: 'post',
			url: '/chat/list/detail',
			data: 'groupNo='+groupNo,
			dataType: 'json',
			success: function(resData){
				$('.chat_detail_container').empty();
				
				var div = '';

				$.each(resData.chatDetail, function(i, detail){
				
					var div = '';
					
					if(detail.depth == 1){
						if(detail.userNo == 1){
							div += '<div class="chat_admin_for_detail">';
							div += '<div><img src="'+detail.userDTO.profileImage+'" style="width:50px;"></img></div>';
							div += '<div>'+ detail.userDTO.name +'</div>';
							div += '<div>'+ detail.content +'</div>';
							div += '<div>'+ moment(detail.chatDate).format('YY-MM-DD A h:mm:ss') +'</div>';
							
						}else {
							div += '<div class="chat_user_for_detail">';
							div += '<div><img src="'+detail.userDTO.profileImage+'" style="width:50px;"></img></div>';
							div += '<div>'+ detail.userDTO.name +'</div>';
							div += '<div>'+ detail.content +'</div>';
							div += '<div>'+ moment(detail.chatDate).format('YY-MM-DD A h:mm:ss') +'</div>';
						}
						
						
					}else {
						
						div += '<div><form id="addChat" onkeypress="show_name(event)">';
						div += '<div id="id_addChat">';
						div += '<input type="text" name="content" autofocus>';
						div += '<input type="hidden" name="depth" value="'+ detail.depth+'">';
						div += '<input type="hidden" name="groupNo" value ="'+detail.groupNo+'">';
						div += '<input type="hidden" name="groupOrder" value ="'+detail.groupOrder+'">';
						div += '<input type="button" value="전송" onclick="fn_addChat();">';
						div += '</div>';
						div += '</form></div>';
						
					}
					
					div += '</div>';
					
					$('.chat_detail_container').append(div);
					$('.chat_detail_container').scrollTop($(".chat_detail_container")[0].scrollHeight);
					$("input[name=content]").focus();
				
				});

			}
		});
		
	}
	

    function show_name(e){
        if(e.keyCode == 13){
        	fn_addChat();
        	e.preventDefault();
        }
     }
	


	

</script>
<body>

	<div th:replace="~{layout/header.html::header_layout}"></div>
	<div th:replace="~{layout/side.html::side_layout}"></div>
	
	<div class="container1">
		<div class="board_title" style="padding-bottom: 10px;">1:1 문의 관리자 페이지</div>
		<hr class="hr-1">
	</div>

	<div class="container2">
		<div class="chat_list_main">
			<div id="chat_list" class="chat_list">
				<div class="chat_list_container" id="chat_list_container"></div>
			</div>
				
			<div class="wrapper">	
				<div class="loading_bar"></div>
			</div>	
		</div>
		
		<div class="chat_detail_main">
			<div class="chat_detail_container"></div>
		</div>
	</div>
	






</body>
</html>