<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('관리자페이지')}"></head>
<meta charset="UTF-8">
<title>고객센터>관리자</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<script th:src="@{/js/admin.js}"></script>
<link rel="stylesheet" th:href="@{/css/customerService.css}">
<script th:inline="javascript">

	$(document).ready(function(){
		fn_page_list(page);
		fn_checkAll();
		fn_checkOne();
		fn_user_search();
		fn_autoComplete();
		fn_sleepUser();
		fn_retireUser();
		fn_sleep_user_list();
		fn_retire_user_list();
	});
	

	
</script>
<body>

	<div th:replace="~{layout/header.html::header_layout}"></div>
	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		<!--  ** 모든 컨텐츠는 해당 content태그 아래에서 작성하시오  ** -->
		<div class="container">
		
		<div class="mainbox">
			
			<div class="title">관리자 페이지</div>
			
			<div class="top_bar">
			    <ul>
			        <li class="click">
			            <a th:href="@{/admin/user/control}">유저관리</a>
			        </li>
			        <li>
			            <a th:href="@{/admin/music/control}">음원관리</a>
			        </li>
			        <li>
			            <a th:href="@{/admin/chatUserList}">1:1문의 관리</a>
			        </li>
			    </ul>
			</div>

			<div class="admin_menu">
				<div onclick="fn_page_list(1);">가입 유저 관리</div>
				<div id="list_sleep_user">휴면 유저 관리</div>
				<div id="list_retire_user">탈퇴 유저 관리</div>
			</div>
			
			
			<div>
				<form id="frm_search1">
					<select name="column" id="column1">
						<option value="">:::선택:::</option>
						<option value="USER_NO">회원번호</option>
						<option value="NAME">이름</option>
						<option value="GENDER">성별</option>
						<option value="ARTIST">아티스트명</option>
						<option value="EMAIL">이메일</option>
						<option value="MOBILE">핸드폰번호</option>
						<option value="SNS_TYPE">가입형태</option>
					</select>
					<input type="text" name="query" id="query" list="auto_complete">
					<datalist id="auto_complete"></datalist>
					<input type="button" value="조회" onclick="fn_user_search();">
					<!-- <input type="hidden" id="page" value="1" name="page"> -->
				</form>
			</div>
			<div>
				<form id="frm_search2" action="@{/admin/user/search}">
					<select name="column" id="column2">
						<option value="">:::선택:::</option>
						<option value="JOIN_DATE">가입일</option>
						<option value="JOIN_DATE">생일</option>
					</select>
					<input type="text" name="start" id="start">
					~
					<input type="text" name="stop" id="stop">
					<span>
						<input type="submit" value="조회">
					</span>
					<input type="hidden" id="page" value="1" name="page">
				</form>
			</div>
			
			<div id="">
				<input type="button" id="btn_sleepUser" value="휴면">
				<input type="button" id="btn_retireUser" value="탈퇴">
			</div>
			
			
			
			<div class="user_list_container">
				<table>
					<thead>
						<tr>
							<td><input type="checkbox" id="check_all" class="lbl_all"></td>
							<td><span data-title="USER_NO">회원번호</span></td>
							<td><span data-title="PROFILE_IMAGE">프로필이미지</span></td>
							<td><span data-title="NAME">이름</span></td>
							<td><span data-title="GENDER">성별</span></td>
							<td><span data-title="ARTIST" >아티스트명</span></td>
							<td><span data-title="">생일</span></td>
							<td><span data-title="EMAIL">이메일</span></td>
							<td><span data-title="MOBILE">MOBILE.NO</span></td>
							<td><span data-title="JOIN_DATE">가입일</span></td>
							<td><span data-title="SNS_TYPE">가입형태</span></td>
							<td><span data-title="AGREE_CODE">위치동의</span></td>
							<td><span data-title="AGREE_CODE">마케팅동의</span></td>
							
						</tr>
					</thead>
					<tbody id="list_body">
					
					
					
					




					</tbody>
					<tfoot>
						<tr>
							<td colspan="6" class="list_page_footer">
							   <input type="hidden" id="page" value="1">
							   
							   
							   
							</td>
						</tr>
					</tfoot>
				</table>
					
					

			
			
			</div>
		
		
		
		</div>
			
			
			

			

			
			
			
		</div>
	</div>
	






</body>
</html>