<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('관리자페이지')}"></head>
<meta charset="UTF-8">
<title>고객센터>관리자</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<script th:src="@{/js/admin.js}"></script>
<link rel="stylesheet" th:href="@{/css/customerService.css}">
<script th:inline="javascript">

	$(document).ready(function(){
		fn_checkAll();
		fn_checkOne();
		fn_user_search1();
		fn_autoComplete();
		fn_sleepUser();
		fn_retireUser();
		//fn_sleep_user_list();
		//fn_retire_user_list();
		fn_page_list(1);
	});
	
	
	
	// 고전이벤트
	// $(document).on('click', .class명', function() {
		
		// 사용하는경우
		// 1. 선행 ajax의 응답으로 만든 태그를 대상으로 이벤트를 만들고싶을때
		// 2. 대상이 한개일때는 id(#), 대상이 복수일경우 클래스(.)를 대상으로 삼는다
		
	// })';
	
	
</script>
<body>

	<div th:replace="~{layout/header.html::header_layout}"></div>
	<div th:replace="~{layout/side.html::side_layout}"></div>
		
	<div class="board_controller">
		
			<div class="board_title">관리자 페이지</div>
			
			<div class="board_top_controller">
				<div class="board_tab_controller">
				    	<div class="board_tab tab_click" id="admin_control">유저관리</div>
				    	<div class="board_tab" id="music_control">음원관리</div>
				    	<div class="board_tab" id="admin_chatUserList">1:1문의 관리</div>
				</div>
			</div>

			<div class="admin_menu" >
				<div onclick="fn_page_list(1);">가입 유저 관리</div>
				<div onclick="fn_sleep_user_list(1);">휴면 유저 관리</div>
				<div onclick="fn_retire_user_list(1);">탈퇴 유저 관리</div>
			</div>
			
			<div></div>
			
			<div>
				<form id="frm_search1">
					<select name="column" id="column1">

					</select>
					<input type="text" name="query" id="query" list="auto_complete">
					<datalist id="auto_complete"></datalist>
					<input type="button" value="조회" onclick="fn_user_search1();">
					<input type="hidden" name="table" id="search_for_table">
				</form>
			</div>
			<div>
				<form id="frm_search2">
					<select name="column" id="column2">
					
					</select>
					<input type="text" name="start" id="start">
					~
					<input type="text" name="stop" id="stop">
					<span>
						<input type="button" value="조회" onclick="fn_user_search2();">
					</span>
				</form>
			</div>
			
			<div id="various_functions">
			
			
			</div>
			
			
			<div class="container">
				<table class="rwd-table">
					<thead>
						<tr class="list_body">
							<td><input type="checkbox" id="check_all" class="lbl_all"></td>
							<td><span data-title="USER_NO">회원번호</span></td>
							<td><span data-title="PROFILE_IMAGE">프로필이미지</span></td>
							<td><span data-title="NAME">이름</span></td>
							<td><span data-title="GENDER">성별</span></td>
							<td><span data-title="ARTIST" >아티스트명</span></td>
							<td><span data-title="">생일</span></td>
							<td><span data-title="EMAIL">이메일</span></td>
							<td><span data-title="MOBILE">MOBILE.NO</span></td>
							<td><span>가입일</span></td>
							<td><span id="change_Date"></span></td>
							<!-- 휴면일 -->
							<td><span data-title="SNS_TYPE">가입형태</span></td>
							<td><span data-title="AGREE_CODE">위치동의</span></td>
							<td><span data-title="AGREE_CODE">마케팅동의</span></td>
						</tr>
					</thead>
					<tbody id="list_body">
					
					
					
					




					</tbody>
					<tfoot>
						<tr>
							<td colspan="14" class="list_page_footer">
							   
							   
							   
							</td>
						</tr>
					</tfoot>
				</table>
			</div>
	</div>
	






</body>
</html>