<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/musicBoard.css}">
<link rel="stylesheet" th:href="@{/css/musicPlayer.css}">
<link rel="stylesheet" th:href="@{/css/playlist.css}">
<link rel="stylesheet" th:href="@{/css/createPlaylist.css}">

<style>
	
	.blind {
		display: none;
	}
	.profile_image:hover {
		border: 2px solid white;
		border-radius: 20px;
		cursor: pointer;
	}
	.profile_box {
		position: relative;
		float: right;
		margin-right: 30px;
		width: 300px;
		background-color: green;
		text-align: center;
	}
</style>


<script th:inline="javascript">

	$(document).ready(function() {
		
		fn_totalSearch();	// 구현 : 전체검색 + 기능 : 빈칸검색방지
		fn_musicRanking();  // 구현 : 랭킹(좋아요수 + 댓글수)
		fn_aaaddd();
	});
	
	// 구현 : 전체검색 + 빈칸검색방지 
	function fn_totalSearch() {
		
		$('#totalSearch').click(function() {
			
			if($('#query').val() == '') {
				alert('검색어를 입력하세요');
				event.preventDefault();
				return;
			}
			location.href='/music/main/totalSearch?query=' + $('#query').val() + '&page=' + $('#layout_page').val();
		});
	};
	
	// 구현 : 랭킹
	function fn_musicRanking() {
		
		$.ajax({
				type: 'get',
				url: '/music/ranking',
				dataType: 'json',
				success: function(resData) {
				
						
					$.each(resData.rankingList, function(index, rank) {
						
						$('<li class="ranking_li">').append('<a class="ranking_link" id="ranking_link" href="/music/detail?musicNo=' + rank.musicNo + '">'+ (index + 1) + '&nbsp;&nbsp;&nbsp;' + rank.musicTitle + '&nbsp;&nbsp;&nbsp;' + rank.activeLogDTO.userDTO.artist + '</a>')
						.appendTo('#ranking_ol');
					});
				}
		});		
	}
	

	
	function fn_aaaddd() {
		
		
		
	
		
		
	}
		
	
	


</script>


<script type="text/javascript">
$(document).ready(function(){
	fn_remainingDay();
});
function fn_remainingDay(){
	var userEmail = $('#userEmail').data('email');
	$.ajax({
		type: 'post',
		url: '/payment/remainingDay',
		data: 'email=' + userEmail,
		dataType: 'json',
		success: function(resData){
			$('#remainingDay').text('이용권 종료일 : '+resData.remainingDay);
			$('#dDay').text('이용권 남은일수 : '+resData.dDay + '일');
			console.log(resData.result);
			console.log(resData.dDay);
			
		},
		error: function(xqXHR){
			console.log('실패!');
		}
	});
}
	
</script>

</head>
<body>
	

	<div th:fragment="header_layout" >
	
		<div class="header">
		<div class="header_menu">
			<div class="header_left_menu">
				<div class="header_search_area">
					<div class="header_search_area_left">
						<input type="text" id="query" name="query" placeholder="검색" class="header_search">
						<!-- * 검색시 page 파라미터 디폴트값-->
						<input type="hidden" id="layout_page" value="1">
					</div>
					<div class="header_search_area_right">
						<a class="header_search_btn" id="totalSearch">검</a>
					</div>
				</div>
				
				<div class="header_rank">
					<ol class="ranking_ol" id="ranking_ol">
						
					</ol>
				</div>
				<script>
				
					// * 랭킹 조회하기 : 평소에는 1위만, 마우스 커서를 두면 2위부터 10위까지 조회
					// - 평소에는 2~10위의 내용 가리고 있음 
					$('#ranking_ol').mouseover(function() {
						
						// 1) 2~10위까지 랭킹 내용 보여주기
							// (1) 기존클래스 삭제
							$('#ranking_ol').removeClass('ranking_ol');
							// (2) hover 클래스 추가
							$('#ranking_ol').addClass('ranking_ol_hover');
							// (3) 2~10위 가려진 내용 보여주기
							$('.ranking_li').removeClass('ranking_li');														
					 
					});
					
					// * 랭킹 조회하기 : 마우스 커서가 떠나면 원상태로 복구 
					$('#ranking_ol').mouseleave(function() {
						// (1) 기존클래스 삭제
							$('#ranking_ol').removeClass('ranking_ol_hover');
							// (2) hover 클래스 추가
							$('#ranking_ol').addClass('ranking_ol');
							// (3) 2~10위 가려진 내용 보여주기	
							$('.ranking_ol').children().addClass('ranking_li');		
					});

				</script>
			</div>
			<div class="header_btn">
				<input type="button" value="알람">
				<span th:if="${session.loginUser == null}">
					<a th:href="@{/user/login/form}">로그인</a>
				</span>
				<div th:if="${session.loginUser != null}">
					<div>
						<img class="profile_image" th:src="${session.loginUser.profileImage}" style="width:30px">
					</div>
					<script>
						$('.profile_image').click(function(){
							$('.profile_box').toggleClass('blind');
						});
					</script>
					<span th:utext="${loginUser}"></span>
					<!-- 프로필 사진 클릭시 팝업 창 -->
					<div class="profile_box blind">
						<div>
							<span th:text="${session.loginUser.artist}"></span> 님
						</div>
						<div><span th:text="${session.loginUser.email}"></span></div>
						<div>
							<div>
								<span id="remainingDay"></span>
							</div>
							<div>
								<span id="dDay"></span>
							</div>
						</div>					
						<div>
							<input type="button" value="TagMusic 계정관리" class="account_manage">
						</div>
						<div>
							<input type="button" value="로그아웃" class="btn_logout">
						</div>
						<script>
							$('.account_manage').click(function(){
								location.href='/user/mypage';
							});
							$('.btn_logout').click(function(){
								location.href='/user/logout';
							})
						</script>
						<input type="hidden" id="userEmail" th:data-email="${session.loginUser.email}">
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
		
	</div>
	





</body>
</html>