<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/board.css}">

<style>
	
	.blind {
		display: none;
	}
	.profile_image:hover {
		border: 2px solid white;
		border-radius: 20px;
		cursor: pointer;
	}
	.profile_box {
		position: relative;
		float: right;
		margin-right: 30px;
		width: 300px;
		background-color: green;
		text-align: center;
	}
</style>

<script th:inline="javascript">

	$(document).ready(function() {
		
		fn_totalSearch();	// 구현 : 전체검색 + 기능 : 빈칸검색방지
		fn_musicRanking();  // 구현 : 랭킹(좋아요수 + 댓글수)
		fn_rankingMove();
		fn_aaa();
	});
	
	// 구현 : 전체검색 + 빈칸검색방지 
	function fn_totalSearch() {
		
		$('#totalSearch').click(function() {
			
			if($('#query').val() == '') {
				alert('검색어를 입력하세요');
				event.preventDefault();
				return;
			}
			location.href='/music/main/totalSearch?query=' + $('#query').val() + '&page=' + $('#layout_page').val();
		});
	};
	
	// 구현 : 랭킹
	function fn_musicRanking() {
		
		$.ajax({
				type: 'get',
				url: '/music/ranking',
				dataType: 'json',
				success: function(resData) {
				
						
					$.each(resData.rankingList, function(index, rank) {
						
						$('<li class="ranking_li">').append('<a class="ranking_link" href="/music/detail?musicNo=' + rank.musicNo + '">'+ (index + 1) + '&nbsp;&nbsp;&nbsp;' + rank.musicTitle + '&nbsp;&nbsp;&nbsp;' + rank.activeLogDTO.userDTO.artist + '</a>')
						.appendTo('#ranking_ol');
					});
				}
		});		
	}
	

	
	function fn_aaa () {
		
		$('#ranking_ol').click(function () {
			alert('di');
			
		});
		
	
		
		
	}
		
	
	


</script>

</head>
<body>


	<div th:fragment="header_layout" >
	
		<div class="header">
		<div class="header_menu">
			<div class="header_left_menu">
				<div class="header_search_area">
					<div class="header_search_area_left">
						<input type="text" id="query" name="query" placeholder="검색" class="header_search">
						<!-- * 검색시 page 파라미터 디폴트값-->
						<input type="hidden" id="layout_page" value="1">
					</div>
					<div class="header_search_area_right">
						<a class="header_search_btn" id="totalSearch">검</a>
					</div>
				</div>
				
				<div class="header_rank">
					<ol class="ranking_ol" id="ranking_ol">
							
					</ol>
				</div>
			</div>
			<div class="header_btn">
				<input type="button" value="알람">
				<span th:if="${session.loginUser == null}">
					<a th:href="@{/user/login/form}">로그인</a>
				</span>
				<div th:if="${session.loginUser != null}">
					<div>
						<img class="profile_image" th:src="${session.loginUser.profileImage}" style="width:30px">
					</div>
					<script>
						$('.profile_image').click(function(){
							$('.profile_box').toggleClass('blind');
						});
					</script>
					<span th:utext="${loginUser}"></span>
					<!-- 프로필 사진 클릭시 팝업 창 -->
					<div class="profile_box blind">
						<div>
							<span th:text="${session.loginUser.artist}"></span> 님
						</div>
						<div><span th:text="${session.loginUser.email}"></span></div>					
						<div>
							<input type="button" value="TagMusic 계정관리" class="account_manage">
						</div>
						<div>
							<input type="button" value="로그아웃" class="btn_logout">
						</div>
						<script>
							$('.account_manage').click(function(){
								location.href='/user/mypage';
							});
							$('.btn_logout').click(function(){
								location.href='/user/logout';
							})
						</script>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
		
	</div>




</body>
</html>