<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/board.css}">

<style>
	
	.blind {
		display: none;
	}
	.profile_image:hover {
		border: 2px solid white;
		border-radius: 20px;
		cursor: pointer;
	}
	.profile_box {
		position: relative;
		float: right;
		margin-right: 30px;
		width: 300px;
		background-color: green;
		text-align: center;
	}
</style>

</head>
<body>


	<div th:fragment="header_layout" >
	
		<div class="header">
		<div class="header_menu">
			<div class="header_left_menu">
				<div class="header_search_area">
					<input type="text" id="" name="" placeholder="검색" class="header_search">
					<input type="button" class="header_search_btn" value="검색">
				</div>
				
				<div class="header_rank">랭킹
					<ol>
						<li>1</li>
						<li>2</li>
						<li>3</li>
					</ol>
				</div>
			</div>
			<div class="header_btn">
				<input type="button" value="알람">
				<span th:if="${session.loginUser == null}">
					<a th:href="@{/user/login/form}">로그인</a>
				</span>
				<div th:if="${session.loginUser != null}">
					<div>
						<img class="profile_image" th:src="${session.loginUser.profileImage}" style="width:30px">
					</div>
					<script>
						$('.profile_image').click(function(){
							$('.profile_box').toggleClass('blind');
						});
					</script>
					<span th:utext="${loginUser}"></span>
					<!-- 프로필 사진 클릭시 팝업 창 -->
					<div class="profile_box blind">
						<div>
							<span th:text="${session.loginUser.artist}"></span> 님
						</div>
						<div><span th:text="${session.loginUser.email}"></span></div>					
						<div>
							<input type="button" value="TagMusic 계정관리" class="account_manage">
						</div>
						<div>
							<input type="button" value="로그아웃" class="btn_logout">
						</div>
						<script>
							$('.account_manage').click(function(){
								location.href='/user/mypage';
							});
							$('.btn_logout').click(function(){
								location.href='/user/logout';
							})
						</script>
					</div>
				</div>
			</div>
			
		</div>
		
	</div>
		
	</div>




</body>
</html>