<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">

<title>Tag Music > 상세보기</title>
<link rel="stylesheet" th:href="@{/css/musicPlayer.css}">
<link rel="stylesheet" th:href="@{/css/tuneDetail.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
</head>
<body>

	<iframe id="music_iframe" th:src="@{/}" align frameborder="0" width="100%" height="100%" bottom class="player">음악</iframe> 
	<!-- 음원 재생 바(bar) -->
	<footer>
		<div>
			<audio controls="controls" autoplay controlsList="nodownload" id="iframe_audio" class="iframe_audio">
				<source th:src="@{/tune/display/music(musicNo=${music.musicNo})}" type="audio/mp3" />
			</audio>
		</div>
		
		<div class="controlls_wrap">
			<div class="left_controlls">
				<div class="left_controll">
					<img class="btn_side img_previous" th:src="@{/images/previous.png}">
				</div>
				<div class="left_controll">
					<img class="btn_main img_play audio_play blind" th:src="@{/images/play.png}">			
					<img class="btn_main img_stop audio_pause" th:src="@{/images/pause.png}">
				</div>
				<div class="left_controll">
					<img class="btn_side img_next" th:src="@{/images/next.png}">
				</div>
				<div class="left_controll" >
					<span class="current_time"></span>
				</div>
			</div>
			
			<div class="center_controlls">
				<div class="album_image">
					<img th:src="@{/tune/display/image(musicNo=${music.musicNo})}" id="iframe_album_image" style="height: 68px;">
				</div>
				<div class="music_info">
					<div class="iframe_msg_title" th:text="${music.musicTitle}"></div>
					<div class="iframe_msg_content" th:text="|${music.email} - ${music.musicAlbum}|"></div>
				</div>
				<div>
					<img class="btn_side img_dot" th:src="@{/images/dot.png}">
				</div>
			</div>
			
			<div class="right_controlls">
				<div class="right_controll">
					<input class="mdl-slider mdl-js-slider" type="range"
	  						min="0" max="100" value="25" tabindex="0">
					<img class="btn_side img_sound" th:src="@{/images/sound.png}">
					<img class="btn_side img_no_sound blind" th:src="@{/images/no_sound.png}">
				</div>
				<div class="right_controll">
					<img class="btn_side img_no_repeat" th:src="@{/images/repeat_one_gray.png}">
					<img class="btn_side img_one_repeat blind" th:src="@{/images/repeat_one_white.png}">
				</div>
				<div class="right_controll">
					<img class="btn_side img_shuffle" th:src="@{/images/shuffle.png}">
				</div>
				<div class="right_controll">
					<input id="hide_detail" type="button" value="눌러!">
				</div>
				<div>
					<input type="button" id="isPassHave" value="티켓가지고있어?" onclick="isPassHave();">
				</div>
			</div>
		</div>
	
	<script>
		setInterval(function() {
		    var current = document.getElementById('iframe_audio').currentTime;
			$('.current_time').text('');
			$('.current_time').append(Math.round(current,0));
		}, 1000);
		$(function(){
			fn_hiding();
			fn_audio_play();
			fn_audio_pause();
			fn_muted();
			fn_repeat();
		})
		
		// 보여지는 부분들
			function fn_hiding() {
				$('#hide_detail').click(function(){
					alert('클릭!!!!');
					$('.tune_container').toggleClass('blind');
					window.parent.location.href="/user/mypage";
				});
			}
			
			function fn_audio_play() {
				$('.audio_play').click(function(){
					document.getElementById('iframe_audio').play();
					$('.audio_play').addClass('blind');
					$('.audio_pause').removeClass('blind');
				});
			}
			function fn_audio_pause() {
				$('.audio_pause').click(function(){
					
					document.getElementById('iframe_audio').pause();
					$('.audio_play').removeClass('blind');
					$('.audio_pause').addClass('blind');
				});
			}
			
			/* 음소거 */
			function fn_muted() {
				$('.img_no_sound').click(function(){
					document.getElementById('iframe_audio').muted = false;
					$('.img_no_sound').addClass('blind');
					$('.img_sound').removeClass('blind');
				});
				$('.img_sound').click(function(){
					document.getElementById('iframe_audio').muted = true;
					$('.img_no_sound').removeClass('blind');
					$('.img_sound').addClass('blind');
				});
			}
			/* 한 곡 반복 재생 */
			function fn_repeat() {
				$('.img_no_repeat').click(function(){
					alert('클릭!');
					document.getElementById('iframe_audio').loop = true;
					$('.img_no_repeat').addClass('blind');
					$('.img_one_repeat').removeClass('blind');
				});
				$('.img_one_repeat').click(function(){
					alert('아얐!!');
					document.getElementById('iframe_audio').loop = false;
					$('.img_no_repeat').toggleClass('blind');
					$('.img_one_repeat').toggleClass('blind');
				});
			}
			function fn_currentTime(){
				document.getElementById('iframe_audio').currentTime = "seconds";
			}
	
			
		
		</script>	
		
<script>
	function isPassHave(){
		$.ajax({
			type: 'post',
			url: '/payment/isPassHave',
			dataType: 'json',
			success: function(resData){
				if(resData.result == 0){
					if(confirm('이용권이 없는 회원입니다. 이용권을 구매하러 가시겠습니까?')){
						location.href="/payment/buy";
					}
				}
				if(resData.isNotLogin == 'loginPlz'){
					if(confirm('로그인이 안된 유저입니다 로그인 하시겠습니까?')){
						location.href="/user/login/form";
					}
				}
			}
		});
	}
</script>
	</footer>
	
</body>
</html>