<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/main.css}">
<link rel="stylesheet" th:href="@{/css/musicBoard.css}">
<link rel="stylesheet" th:href="@{/css/musicPlayer.css}">

<script th:inline="javascript">

	$(document).ready(function() {

	});


</script>

</head>
<body>

			<div class="layout_tagMusic_player">
				<div>가</div>
				<div>나</div>
				<div>다</div>
			
			</div>		
	
		
		
	




</body>
</html>