<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music > 마이페이지')}"></head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<body>
	<nav th:fragment="mypageFragment" >
		<h1 class="nav_top"><a th:href="@{/}">태그뮤직(로고)</a></h1>
		<!-- 멜론 마이페이지 참고사항, 추후 변경할 예정 -->
		<div id="mypageHome" class="text_box">내 정보 홈</div>
		<div class="text_box">개인정보 관리</div>
		<div class="text_box">로그인 및 보안</div>
		<div class="text_box">개인정보 이용</div>
		<div class="text_box" id="paymentHistory">결제이력</div>
		<form th:action="@{/payment/history}" method="post" id="submit_history">
           <input type="hidden" name="userName" th:value="${session.loginUser.name}">
        </form>
		<script>
			// 내 정보 홈
			$('#mypageHome').click(function(){
				location.href='/user/mypage';
			});
			$('#paymentHistory').click(function(){
				$('#submit_history').submit();
			});
			
		</script>
	</nav>
</body>
</html>