<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<link rel="stylesheet" th:href="@{/css/layout.css}">
</head>
<body>

	<div th:fragment="side_layout">
		<div class="menu">
			
			<div class="menu_body">
				<div class="body_menus">
					<a class="menus_link" th:href="@{/}"><img alt="o" th:src="@{/images/musical-note.png}" style="width:15px;">홈</a>
				</div>
				<div class="body_menus">
					<a th:href="@{/music/move/playlist}"><img alt="o" th:src="@{/images/add-list.png}" style="width:15px;">플레이리스트</a>
				</div>
				<div class="body_menus">
					<a th:href="@{/music/move/musicLike}"><img alt="o" th:src="@{/images/heart-solid.png}" style="width:15px;">좋아요</a>
				</div>
				<div class="body_menus">
					<a th:href="@{/music/move/musicLastly}"><img alt="o" th:src="@{/images/recent.png}" style="width:15px;">최근들은</a>
				</div>
				<div class="body_menus">
					<a th:href="@{/music/move/musicMany}"><img alt="o" th:src="@{/images/fire.png}" style="width:18px;">많이들은</a>
				</div>


				<div class="body_menus"><img alt="o" th:src="@{/images/ticket.png}" style="width:18px;"><a th:href="@{/payment/buy}">이용권</a></div>
				<div class="body_menus"><img alt="o" th:src="@{/images/headphones.png}" style="width:18px;"><a th:href="@{/board/list}">고객센터</a></div>
				

				
			</div>		
			<div class="footer_menu">발영역
				<div>사업주</div>
				<div>사업번호</div>
				<div>전화번호</div>
				<div>주소</div>
			</div>			
		</div>
	</div>

</body>
</html>