@charset "UTF-8";
html, body, div, input, a, form, textarea {
	margin: 0;
	padding: 0;
}
.blind {
	display: none;
}
.flex {
	display: flex;
	width: 100%;
	height: 60px;
	align-items: center;
}

.write_title {
	width: 100px;
	font-size: 18px;
	font-weight: 600;
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 크기 공통 */
.tune_controller {
	max-width: 100%;
	height: 100%;
}

.music_input {
	display: flex;
	align-items: center;
	border: 1px solid #bdc2de;
	margin: 0 30px;
	width: 80%;
	height: 80%;
}
.music_input_content {
	display: flex;
	align-items: center;
	border: 1px solid #bdc2de;
	margin: 0 30px;
	width: 80%;
	height: 400px;
}
/* input 박스 */
#musicAlbum, #musicTitle, #musicGenre, #music, #albumImg, #musicContent	 {
	display: flex;
	align-items: center;
	box-sizing: border-box;
	border: none;
	width: 90%;
	height: 40px;
	line-height: 40px;
	margin: 0 30px;
	outline: none;
	
}


#btn_add, #btn_cancel {
	width: 130px;
	height: 50px;
	margin: 10px;
	border: none;
	border-radius: 300px;
	background-color: #bdc2de;
}
#btn_add:hover {
	color: #fdfdfd;
	background-color: green;
}
#btn_cancel:hover {
	color: #fdfdfd;
	background-color: #FF5361;
}
.write_top_controller, .write_bottom_controller {
	padding: 30px;
	border-radius: 10px;
	box-shadow: 1px 1px 3px 1px #37486b;
	margin: 20px 0;
}

/* bottom_controller */
.write_bottom_controller {
	display: flex;
	flex-direction: column;
}
.albumImg {
	display: flex;
}

.btn_area {
	display: flex;
	justify-content: right;
	margin-bottom: 100px;
}

@media only screen and (max-width: 940px) {
	.header, .menu {
		display: none;
	}
	.tune_container {
		position: relative;
	}
}
@media only screen and (min-width: 940px) {
	.tune_controller {
		position: relative;
		margin-top: 100px;
		margin-left: 240px;
	}
	.write_controller {
		max-width: 90%;
		margin: 140px 10% 0 20px;
		padding-left: 30px;
	}
}