@charset "UTF-8";

/* 클래스 초기화 - layout.css와 동일 */
html, body, section, article, div, a, input, ul, li, input {
	margin: 0px;
	padding: 0px;
	background-color: inherit;
	color: inherit;
	text-decoration: none;
}
body {
	width: 100%;
	background-color: #f8f9fa;
	
}
.blind {
	display: none;
}
/* 공통 */
.box_title {
	font-size: 20px;
	font-weight: 700;
	margin: 10px 0 30px;
}
.box_msg {
	color: #989796;
	font-size: 14px;
}

@media (max-width: 800px) {
	/* mypageNav */
	nav {
		display: none;
	}
	/* mypage */
	.mypage_top_controller, .mypage_middle_controller, .mypage_bottom_controller {
		display: flex;
		justify-content: center;
		flex-direction: column;
	}
	.mypage_bix_box {
		width: 80%;
	}
	.mypage_small_box {
		width: 80%;
	}
}
@media (min-width: 800px) {
	/* mypageNav */
	.nav_top {
		margin-bottom: 60px;
		text-align: center;
	}
	nav {
		z-index: 1;
		position: fixed;
		align-items: center;
		width: 220px;
		height: 100%;
		background-color: #fdfdfd;
		box-shadow: 1px 0px 10px 0 #37486b;
		color: #989796;
		font-size: 16px;
		font-weight: 500;
		padding-top: 20px;
		top: 0;
		left: 0;
	}
	.nav_textBox_controller {
		display: flex;
		flex-direction: column;
		align-items: center;		
	}
	.text_box {
		display: flex;
		align-items: center;
		width: 100%;
		height: 60px;
		font-size: 18px;
		
	}
	/* mypageNav 현재 위치 */
	.text_box_click {
		color: #37486b;
		font-weight: 700;
		background-color: rgb(243, 243, 243);
	}
	.text_box:hover {
		background-color: #37486b;
		color: #fdfdfd;
		font-weight: 700;
		cursor: pointer;
	}
	
	.mypageNav_text {
		padding: 30px;
	}

	/* mypage */
	.mypage_controller {
		position: relative;
		top: 0;
		left: 0;
		margin-left: 250px;
		padding: 60px 50px 0 40px;
		min-width: 1000px;
	}
	.mypage_top_controller, .mypage_middle_controller, .mypage_bottom_controller {
		display: flex;
		margin: 10px 0;
	}
	.mypage_middle_controller {
		margin-top: 30px;
	}
	.mypage_profile_box {
		justify-content: center;
		align-items: center;
		flex-direction: column;
		text-align: center;
	}
	.mypage_bix_box {
		width: 100%;
	}
	.mypage_small_box {
		width: 33%;
	}
}

/* mypage */
.mypage_box {
	display: flex;
	align-items: center;
	margin : 2%;
	background-color: #ffffff;
	box-shadow: 1px 1px 3px 1px #37486b;
	border-radius: 10px;
	padding: 20px;
}
.flex_cloumn {
	display: flex;
	flex-direction: column;
}

.mypage_box:hover {
	cursor: pointer;
	background-color: #37486b;
	color: #fdfdfd;
	font-weight: 600;
}

.mypage_title {
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 20px;
}
.artist_title {
	font-size: 24px;
	font-weight: 700;
	padding-left: 20px;
}
.artist_msg {
	font-size: 18px;
	padding-left: 20px;
	color: #989796;
}

/* mypage_프로필 사진 수정 화면 */
.profile_image_controller {
	position: relative;
	width: 420px;
	z-index: 101;
	background-color: #fdfdfd;
	margin: 120px auto 100px;
	text-align: center;
	color: #1f1f1f;
	border-radius: 10px;
	padding: 30px;
}
.profile_title {
	padding: 20px;
	font-size: 20px;
	font-weight: 600;
}
.profile_image {
	width: 300px;
}
.profile_file {
	display: flex;
	justify-content: center;
	margin: 10px;
	text-align: center;
}

#profileImagefile {
	margin: 10px 0 20px;
}

.btn_small {
	width: 120px;
	height: 40px;
	border-radius: 30px;
	border: none;
	background-color: #bdc2ce;
	margin: 10px;
}
/* myinfo ---------------------------------------------------------------- */
.info_controller {
	position: relative;
	display: flex;
	flex-direction: column;
	color: #1f1f1f;
	font-size: 16px;
	width: 95%;
	margin-top: 50px;
}
.info_top_contents, .info_bottom_contents {
	display: flex;
	justify-content: center;
}
.info {
	display: flex;
	padding: 20px 30px;
	width: 300px;
	box-shadow: 1px 1px 3px 1px rgb(241, 241, 241);
	margin: 10px 10px;
	background-color: #fdfdfd;
	border-radius: 10px;
}
.info:hover {
	background-color: #37486b;
	font-weight: 600;
	color: #fdfdfd;
	cursor: pointer;
}
.info_agree_box {
	display: flex;
	flex-direction: column;
	border-bottom: 1px solid #bdc2ce;
	padding: 5px 20px;
}
.info_agree_box label {
  display: inline-flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.info_agree {
	width: 100%;
	display: flex;
	align-items: center;
	border-top: 1px solid #bdc2ce;
	height: 60px;
}

/* 모달창 */
.box_backlayer {
	position: fixed;
	z-index: 100;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.7);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
.modify_box {
	position: relative;
	width: 600px;
	background-color: white;
	margin: 0 auto;	
	padding:  50px 50px;
	top: 180px;
	border-radius: 10px;
}

.btn_box {
	display: flex;
	justify-content: center;
	margin-top: 40px;
}
.btn {
	width: 240px;
	height: 48px;
	border-radius: 4px;
	background-color: #bdc2ce;
	font-size: 15px;
	font-weight: 500;
	vertical-align: middle;
	border: none;
	margin: 0 10px;
}
.info_title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 30px;
}
.current_info {
	color: #bdc2ce;
	padding: 5px 0;
	
	display: flex;
	align-items: center;
}
.current_info_content {
	margin-left: 20px;
	font-size: 18px;
}
.info_input {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	border: 1px solid #bdc2ce;
	margin: 10px 0;
}

.info_input_newPw {
	width: 100%;
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	height: 50px;
	border: 1px solid #bdc2ce;
	margin: 10px 0;
}
/* myinfo - input 타입 모음 */
#artist, #name, #originPw, #newPw, #reNewPw, #pw, #email ,#mobile {
	width: 100%;
	height: 80%;
	outline: none;
	border: none;
	font-size: 18px;
	margin: 0 20px;
	color: #37486b;
	box-sizing: border-box;
}
#originPw:read-only {
	background-color: inherit;
	color: #37486b;
	font-weight: 600;
}
/* 비밀번호 변경 */
.read_only {
	background-color: #e1e2e3;
}
#btn_checkPw {
	padding: 5px 10px;
	margin-right: 20px;
	border-radius: 30px;
	background-color: #bdc2ce;
	border: none;
}
#btn_checkPw:hover {
	background-color: #37486b;
	color: #fdfdfd;
	box-shadow: 0px 1px 3px 0 #989796;
}

.info_msg {
	font-size: 13px;
	color: #989796;
	padding: 0 10px;
}

/* 로그아웃 버튼 (user 전역 공통) */
.logout_box:hover, .cancel:hover {
	background-color: #FF5361;
	color: #fdfdfd;
	font-weight: 600;
}
.correct:hover {
	background-color: green;
	color: #fdfdfd;
}
.change:hover {
	background: #37486b;
	color:#fdfdfd;
	font-weight: 600;
}

/* 탈퇴 페이지 */
.retire_controller {
	width: 30%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 10% auto;
	padding: 50px 50px;
	box-shadow: 1px 1px 3px 1px #37486b;
	border-radius: 10px;
}
.retire_text_goMain {
	margin-top: 20px;
}