@charset "UTF-8";

/* 공통영역 (header.html을 포함한 모든 html에 적용) */

/* 클래스 초기화  */
.blind {
	display: none;
}

.naver_join_controllers {
	display: flex;
	flex-direction: column;
	width: 600px;
	background-color: #fdfdfd;
	box-shadow: 0 1px 10px 0 #37486b;
	margin: 40px auto;
	border-radius: 10px;
}
.naver_join_contents {
	padding: 30px 60px;
	border-radius: 10px;
}

.right {
	text-align: right;
	color: #bdc2ce;
	padding: 10px 0;
}
.btn {
	width: 40%;
	height: 40px;
	background-color: #bdc2ce;
	border-radius: 10px;
	border:none;
	margin: 20px 20px 0;
}
.btn:hover {
	cursor: pointer;
}

.join_bottom_controller {
	display: flex;
	justify-content: center;
}
#btn_join {
	border-radius: 30px;
}
#btn_join:hover {
	background-color: green;
	color: #fdfdfd;
}
#btn_cancel:hover {
	background-color: red;
	color: #fdfdfd;
}
#msg_email {
	color: indianred;
	margin-bottom: 20px;
}