<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('태그뮤직 > 공지사항')}"></head>
<meta charset="UTF-8">
<title>고객센터>태그뮤직</title>
<link rel="stylesheet" th:href="@{/css/board.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script>
	$(function(){
		// 탭 (href)
		$('#tabHome').click(function(){
			location.href='/customerService/home';
		})
		$('#tabNotice').click(function(){
			location.href='/board/list';
		})
		$('#tabFAQ').click(function(){
			location.href='/upload/list';
		})
		$('#tabChat').click(function(){
			location.href='/customerService/chat';
		})
	})
</script>
<body>		

<div th:replace="~{layout/header.html::header_layout}"></div>
	<div th:replace="~{layout/side.html::side_layout}"></div>
	
	<div class="board_controller">
		
		<!-- 제목 -->
		<div class="board_title">공지사항 게시글 정보</div>
		<!-- 상단 (tap) -->
		<div class="board_top_controller">
			<div class="board_tab_controller">
				<div class="board_tab" id="tabHome">홈</div>
				<div class="board_tab tab_click" id="tabNotice">공지사항</div>
				<div class="board_tab" id="tabFAQ">자주 하는 질문</div>
				<div class="board_tab" id="tabChat">1:1 문의하기</div>
			</div>
		</div>
				
    <div>			
	    <ul>
		  <table class="table table-striped"> 
			<thead>
			  <tr class="detail_tr">
				<td style="width: 100%;">
					<span class="detail_title">제목</span>
				   <li class="detail_li" th:text="|${board.boardTitle}|"></li>
				</td>
				<td style="width: 100%; text-align: center;">
			      <li th:text="|작성일 : ${#dates.format(board.boardCreateDate,'yyyy. M. d HH:mm')}"></li>
				</td>
				<td style="width: 100%;">
			      <li th:text="|조회수 : ${#numbers.formatInteger(board.boardHit,1,'COMMA')}|"></li>
				</td>
				<td style="width: 100%;">
				  <li th:text="|수정일 : ${#dates.format(board.boardModifyDate,'yyyy. M. d HH:mm')}"></li>
				</td>
			  </tr>
			</thead> 
			     
			<tbody>
			  <tr>
			   	<td align=left valign=top>
			    <li th:utext="|${board.boardContent}|"></li>
			    </td>
			  </tr>	
			</tbody>  	
					
		   <tfoot>
		   </tfoot> 
		</table>
	   </ul>	
	  </div>
		 
		<hr>
 
	<div class="board_bottom_controller">
		<form id="frm_btn" method="post">
			<input type="hidden" name="boardNo" th:value="${board.boardNo}" class="btn">
			<input type="button" value="게시글목록" class="btn" onclick="location.href='/board/list'">
			<input type="button" value="게시글삭제" id="btn_remove_board" class="btn">
			<input type="button" value="게시글수정" id="btn_edit_board" class="btn btn_edit">
		</form>
		<script>
			$('#btn_edit_board').click(function(){
				$('#frm_btn').attr('action', '/board/edit');
				$('#frm_btn').submit();
			});
			$('#btn_remove_board').click(function(){
				if(confirm('삭제하시겠습니까?')){
					$('#frm_btn').attr('action', '/board/remove');
					$('#frm_btn').submit();
				}
			});
		</script>
	  </div>
	</div> <!-- board_controller -->
</body>
</html>