<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('태그뮤직>고객센터')}"></head>
<meta charset="UTF-8">
<title>고객센터>태그뮤직</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/summernote-lite.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/lang/summernote-ko-KR.min.js}"></script>
<link rel="stylesheet" th:href="@{/summernote-0.8.18-dist/summernote-lite.css}">
<link rel="stylesheet" th:href="@{/css/customerService.css}">
<script>
	
	$(document).ready(function(){
		$('#content').summernote({
			width: 1250,
			height: 600,
			lang: 'ko-KR',
			toolbar: [
			    
			    ['style', ['bold', 'italic', 'underline', 'clear']],
			    ['font', ['strikethrough', 'superscript', 'subscript']],
			    ['fontsize', ['fontsize']],
			    ['color', ['color']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']],
			    ['insert', ['link', 'picture', 'video']]
			],
			callbacks: {
				onImageUpload: function(files){
					
					for(let i = 0; i < files.length; i++) {
						
						var formData = new FormData();
						formData.append('file', files[i]);  
						
						$.ajax({
							type: 'post',
							url: '/board/uploadImage',
							data: formData,
							contentType: false,  
							processData: false, 
							dataType: 'json',  
							success: function(resData){
								$('#content').summernote('insertImage', resData.src);
								$('#summernote_image_list').append($('<input type="hidden" name="summernoteImageNames" value="' + resData.filesystem + '">'))
							}
						});  
					}  
				}
			}
		});
		
		
		$('#btn_list').click(function(){
			location.href = '/board/list';
		});
		
		
		$('#frm_edit').submit(function(event){
			if($('#title').val() == ''){
				alert('제목은 필수입니다.');
				event.preventDefault();
				return;
			}
		});
		
	});
	
</script>

<body>

<div th:replace="~{layout/header.html::header_layout}"></div>
	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		<!--  ** 모든 컨텐츠는 해당 content태그 아래에서 작성하시오  ** -->
		<div class="container">
			<div class="mainbox" >
			
				<div class="maintitle">태그뮤직 고객센터</div>
				
				<div class="top_bar">
				    <ul>
				        <li>
				            <a th:href="@{/customerService/home}">홈</a>
				        </li>
				        <li class="click">
				            <a th:href="@{/board/list}">공지사항</a>
				        </li>
				        <li>
				            <a th:href="@{/upload/list}">자주 하는 질문</a>
				        </li>
				        <li>
				            <a th:href="@{/customerService/chat}">1:1문의하기</a>
				        </li>
				    </ul>
				</div>
			 
	<h1>수정 화면</h1>
	  <hr>
	<form id="frm_edit" th:object="${board}" th:action="@{/board/modify}" method="post">
	
		<input type="hidden" name="boardNo" th:field="*{boardNo}">
	
		<div>
			<label for="title">제목</label>
			<input type="text" name="title" id="title" th:value="${board.boardTitle}" style="height: 45px;width:100%;border: 0; background-color:#FFFFFF">
		</div>
	  
		<div>
			<label for="content">게시글 내용</label>
			<textarea name="content" id="content" th:text="${board.boardContent}"></textarea>				
		</div>
		
		<div>
			<input type="button" value="목록" id="btn_list">
			<input type="reset" value="작성초기화">
			<button>수정완료</button>
		</div>
		
	</form>
	
</div> 

</body>
</html>