<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('태그뮤직 > 고객센터')}"></head>
<meta charset="UTF-8">
<title></title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/summernote-lite.js}"></script>
<script th:src="@{/summernote-0.8.18-dist/lang/summernote-ko-KR.min.js}"></script>
<link rel="stylesheet" th:href="@{/summernote-0.8.18-dist/summernote-lite.css}">
<link rel="stylesheet" th:href="@{/css/board.css}">
<script>
	
	$(document).ready(function(){
		$('#content').summernote({
			height: 600,
			lang: 'ko-KR',
			toolbar: [
			    
			    ['style', ['bold', 'italic', 'underline', 'clear']],
			    ['font', ['strikethrough', 'superscript', 'subscript']],
			    ['fontsize', ['fontsize']],
			    ['color', ['color']],
			    ['para', ['ul', 'ol', 'paragraph']],
			    ['height', ['height']],
			    ['insert', ['link', 'picture', 'video']]
			],
			callbacks: {
				onImageUpload: function(files){
					
					for(let i = 0; i < files.length; i++) {
						
						var formData = new FormData();
						formData.append('file', files[i]);  
						
						$.ajax({
							type: 'post',
							url: '/board/uploadImage',
							data: formData,
							contentType: false,  
							processData: false, 
							dataType: 'json',  
							success: function(resData){
								$('#content').summernote('insertImage', resData.src);
								$('#summernote_image_list').append($('<input type="hidden" name="summernoteImageNames" value="' + resData.filesystem + '">'))
							}
						});  
					}  
				}
			}
		});
		
		
		$('#btn_list').click(function(){
			location.href = '/board/list';
		});
		
		
		$('#frm_edit').submit(function(event){
			if($('#title').val() == ''){
				alert('제목은 필수입니다.');
				event.preventDefault();
				return;
			}
		});
		
		// 탭 (href)
		$('#tabHome').click(function(){
			location.href='/customerService/home';
		})
		$('#tabNotice').click(function(){
			location.href='/board/list';
		})
		$('#tabFAQ').click(function(){
			location.href='/upload/list';
		})
		$('#tabChat').click(function(){
			location.href='/customerService/chat';
		})
	});
	
</script>

<body>

	<div th:replace="~{layout/header.html::header_layout}"></div>
	<div th:replace="~{layout/side.html::side_layout}"></div>
	
	<div class="board_controller">
		
		<!-- 제목 -->
		<div class="board_title">공지사항 수정 화면</div>
		<!-- 상단 (tap) -->
		<div class="board_top_controller">
			<div class="board_tab_controller">
				<div class="board_tab tab_click" id="tabNotice">공지사항</div>
				<div class="board_tab" id="tabFAQ">자주 하는 질문</div>
				<div class="board_tab" id="tabChat">1:1 문의하기</div>
			</div>
		</div>
		
		<!-- 중간 (내용) -->
		<div class="board_middle_controller">
			<form id="frm_edit" th:object="${board}" th:action="@{/board/modify}" method="post">
				<!--파라미터 전달 값-->
				<input type="hidden" name="boardNo" th:field="*{boardNo}">
	
				<div class="board_title_box">
					<label for="title"><div class="board_txt_title">제목</div></label>
					<input type="text" name="title" id="title" th:value="${board.boardTitle}" class="board_input_title">
				</div>
				
	  			<textarea name="content" id="content" th:text="${board.boardContent}"></textarea>				
				<div id="summernote_image_list"></div>
			</form>
		</div> <!--board_middle_controller-->
		
		
		<div class="board_bottom_controller">
			<input type="button" value="목록" id="btn_list" class="btn">
			<input type="reset" value="작성초기화" id="reset" class="btn">
			<input type="button" value="작성완료" id="btn_submit" class="btn">
		</div>
		<script>
			$('#btn_submit').click(function(){
				$('#frm_edit').submit();
			});
		</script>
	</div> <!--board_controller-->

</body>
</html>