<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music')}"></head>
<meta charset="UTF-8">
<title></title>
<!-- static 폴더 이후의 위치를 적으면 된다. -->
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>

<script th:inline="javascript">

	$(function() {
		
		fn_thumbnail();

	});
	
	function fn_thumbnail() {
		
		
		
		
	}
	

</script>
</head>
<body>

	<!--  page : 최신리스트 게시판 -->
	
	<div th:replace="~{layout/header.html::header_layout}"></div>

	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		
			<div class="list_container">
				<div class="list_page">
				
					<div class="page_title">
					<!-- 구현 : 요청마다 게시판 이름 변경하기  -->
						<p th:text="${pageName}"></p>
					</div>
				
					<div class="list_page_header">
					<!--  구현 : 장르별 조회하기 -->
						<div class="select_genre">
							<div class="select_genre_title">장르별 선택하기</div>
							<ul class="list_select_ul">
								<li class="list_select_li">전체</li>
								<li class="list_select_li">발라드</li>
								<li class="list_select_li">팝송</li>
								<li class="list_select_li">ost</li>
								<li class="list_select_li">트로트</li>
								<li class="list_select_li">기타</li>
								<li class="list_select_li">기타</li>
							</ul>
						</div>
					</div>
					<div class="select_all_btn_area">
						<input type="button" value="전체선택" class="btn_all">	
					</div>
					<div class="list_page_table">
						<table>
							<thead>
								<tr>
									<td><div class="td">선택</div></td>
									<td><div class="td">No</div></td>
									<td colspan="3"><div class="td_music">곡정보</div></td>
									
									
									<td><div class="td">좋아요</div></td>
									<td><div class="td">리스트에 담기</div></td>
									<td><div class="td">다운로드</div></td>
								</tr>
						</thead>
						<tbody>
							<tr th:each="music,vs:${musicList}">
								<td>
									<input type="checkbox">
								</td>
								<td class="td_no" th:text="${beginNo -vs.index}"></td>
								<!-- # 구현 : 썸네일 가져오기 -->
								<!-- 방법 : 타임리프 if else(unless)를 통해 해결  -->
								<td>
									<span th:if="${music.hasThumbNail == 1}" >
										<img class="board_thumbnail" th:src="@{/music/thumbnail(musicNo=${music.musicNo})}">
									</span>
									<span th:unless="${music.hasThumbNail == 1}" >
										<img class="board_thumbnail" th:src="@{/images/defaultImage.png}">
									</span>
								<td>
									
									<div th:text="${music.musicTitle}" class="title_artist"></div>
									<div th:text="${music.activeLogDTO.userDTO.artist}" class="title_artist"></div>	<!-- * 조인된 테이블에서 데이터 꺼내는 법  -->
								</td>
								
								<td>
									<div th:text="${music.musicAlbum}"></div>
								</td>
								<td>
									<input type="button" value="좋아요">
								</td>
								<td>
									<input type="button" value="리스트에담기">
								</td>
								<td>
									<input type="button" value="다운받기">
								</td>
							</tr>
						</tbody>
					</table>
					
					<!-- 구현 : 게시글 업로드 -->
					<div class="btn_area">
						<input type="button" value="삭제" class="upload_btn">
						<div>
							<input type="button" value="업로드" class="delete_btn">
							<input type="button" value="전부다운받기" class="delete_btn">
						</div>
					</div>
					
					<!-- 구현 : 게시글 페이징 처리 + 검색기능 -->
					<div class="list_page_footer">
						<div class="page_block" th:utext="${paging}" ></div>
						<div class="list_page_search">
							<input type="text" placeholder="검색" class="list_page_search_text">
							<input type="button" value="검색" class="list_page_search_btn">
						</div>
					</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>