<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('태그뮤직>1:1문의')}"></head>
<meta charset="UTF-8">
<title>고객센터>태그뮤직</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/customerService.css}">
<script type="text/javascript">
 
	$(function(){
		fn_addChat();
		fn_ChatList();
		
		
		
		
	});
	
	
	
	function fn_addChat(){
		$('#btn_addChat').click(function(){
			if($('#content').val() == ''){
				alert('댓글 내용을 입력하세요');
				return;
			}
			$.ajax({
				type: 'post',
				url: '/chat/add',
				data: $('#frm_add_chat').serialize(),
				dataType: 'json',
				success: function(resData){  // resData = {"isAdd", true}
					if(resData.insertChat){
						// 채팅목록을 가져오는 함수필요
						$('#content').val('');
						fn_ChatList();
					}
				
				
				
					
				}
			});
		});
	}
	
	function fn_ChatList(){
		
		$.ajax({
			type : 'post',
			url : '/chat/list',
			data : 'userNo=[[${session.loginUser.userNo}]]',
			dataType : 'json',
			success : function(resData){
				$('#chat_box').empty();
				$.each(resData.chatList, function(i, chat){
					var div = '';
					
					//$('#chat_box').append('<li>'+chat.content+'</li>');
					 
					if(chat.depth == 0){
						div += '<div>';
					}else{
						div += '<div style="margin-left: 50px;">';
					}
					
					if(chat.state == 1){
						div += '<div>';
						div += chat.content;
						if(chat.depth ==0) {
							div += '<input type="button" value="답글" class="btn_reply_area">';
						}
						div += '</div>';
					}else {
						
						
					}
					div += '<div>';
					moment.locale('ko-KR');
					div += '<span style="font-size: 12px; color: silver;">' + '${#dates.format(blog.createDate,"yyyy. M. d HH:mm")}' + '</span>';
					div += '</div>';
					div += '<div style="margin-left: 40px;" class="reply_area blind">';
					div += '<form class="frm_reply">';
					div += '<input type="hidden" name="groupNo" value="' + chat.groupNo + '">';
					div += '<input type="text" name="content" placeholder="답글을 작성하려면 로그인을 해주세요">';
					// 로그인한 사용자만 볼 수 있도록 if 처리
					div += '<input type="button" value="답글작성완료" class="btn_reply_add">';
					div += '</form>';
					div += '</div>';
					div += '</div>';
					$('#chat_box').append(div);
					$('#chat_box').append('<div style="border-bottom: 1px dotted gray;"></div>');
				
					 
					
					
				});
			}
			
			
			
			
			
			
		});
		
		
		
		
		
		
		
	}; 
 
 
 
</script>
<body>

	<div th:replace="~{layout/header.html::header_layout}"></div>
	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		<!--  ** 모든 컨텐츠는 해당 content태그 아래에서 작성하시오  ** -->
		<div class="container">
		
		
		<div class="mainbox">

			<div class="maintitle">태그뮤직 고객센터</div>
			
			<div class="top_bar">
			    <ul>
			        <li>
			            <a th:href="@{/customerService/home}">홈</a>
			        </li>
			        <li>
			            <a th:href="@{/customerService/notice}">공지사항</a>
			        </li>
			        <li>
			            <a th:href="@{/customerService/FAQ}">자주 하는 질문</a>
			        </li>
			        <li class="click">
			            <a th:href="@{/customerService/chat}">1:1문의하기</a>
			        </li>
			    </ul>
			</div>
			
			<div class="chat_box" id="chat_box">
			
			</div>
			
			<div>
				<form th:action="@{/chat/add}" method="post" id="frm_add_chat">
					<input type="hidden" name="userNO" th:value="${session.loginUser.userNo}">
					<div>
						<input type="text" name="content" id="content" placeholder="문의내용">
					</div>
					<input type="button" value="보내기" id="btn_addChat">
				</form>
			</div>
			


		</div>

		</div>
	</div>





</body>
</html>