<!DOCTYPE html>
<html lang="ko"
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorate="~{fragments/layout}">

  <head>
    <title>음원관리</title>
    <!-- 개별 파일에 사용될 css/js 선언 -->
    <link th:href="@{/css/fragments/nav.css}" rel="stylesheet">
    <script th:src="@{/js/fragments/nav.js}"></script>
    
    <link rel="stylesheet" th:href="@{/css/user/mypage.css}">
    <link rel="stylesheet" th:href="@{/css/tune/list.css}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" /> 
    <script th:src="@{/js/tune/list.js}"></script>
  
  </head>

  <body layout:fragment="content" class="flex-col">
    <!-- code -->
	<main class="flex main">
    	<nav th:replace="fragments/nav::navFragment"></nav>
	    <section class="section">
	    			<input type="hidden" id="userNo" th:value="${session.loginUser.userNo}">
		<div th:if="${session.loginUser.userNo != 1}" class="music_title">내가 등록한 음원 목록</div>
		<div th:if="${session.loginUser.userNo == 1}" class="music_title">등록된 모든 음원 목록</div>
		<div class="flex music_controller_title">
			<div class="flex">
				<div style="width:100px;">이미지</div>
				<div style="width:360px;">음원 정보</div>
			</div>
			<div style="width:100px;">반응</div>
			<div style="width:170px;">작성일</div>
			<div style="width:180px;">글 관리</div>
		</div>
		<div class="music_list_box"></div>
	    </section>
	</main>

  </body>
</html>