<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/layout.css}">
<link rel="stylesheet" th:href="@{/css/tuneWrite.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script>
	$(function(){
		fn_add();
	});
	
	function fn_add(){
		$('#frm_upload').submit(function(){
			alert('음원을 등록합니다.');
		});
	}
	
</script>
</head>
<body>
	<div th:replace="~{layout/header.html::header_layout}"></div>
	<div th:replace="~{layout/side.html::side_layout}"></div>
	<div class="tune_controller">
		<form id="frm_upload" th:action="@{/tune/upload}" method="post" enctype="multipart/form-data">
			<input type="hidden" name="email" th:value="${session.loginUser.email}">
			<input type="hidden" name="artist" th:value="${session.loginUser.artist}" readonly>
			<div class="write_controller">
				<div>
					<h1>음원 등록</h1>
				</div>
				<div class="write_top_controller">
					<div class="flex">
						<div class="write_title">
							앨범 이름*
						</div>
						<input type="text" name="musicAlbum">
					</div>
					<div class="flex">
						<div class="write_title">
							음원 이름*
						</div>
						<input type="text" name="musicTitle">
					</div>
					<div class="flex">
						<div class="write_title">
							음원 등록*
						</div>
						<input type="file" name="music">
					</div>
					<div class="flex">
						<div class="write_title">
							장르*
						</div>
						<input type="text" name="musicGenre">
					</div>
				</div>
				<div class="write_bottom_controller">
					<div class="flex">
						<div class="write_title">
							앨범이미지
						</div>
						<div class="albumImg">
							<input type="file" name="image" id="albumImg">
						</div>
					</div>
					<div class="flex">
						<div class="write_title">가사				
						</div>
						<textarea name="musicContent" placeholder="가사"></textarea>
					</div>
				</div>
				<div>
					<input type="button" id="btn_cancel" value="취소">
					<input type="submit" id="btn_add" value="등록하기">
				</div>
			</div>
		</form>
	</div>
</body>
</html>