<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music > 회원가입')}"></head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/user/header.css}">
<link rel="stylesheet" th:href="@{/css/user/join.css}">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.0/font/bootstrap-icons.css">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/user/agree.js}"></script>

<body>
	<div th:replace="~{layout/loginHeader.html::loginFragment}"></div>
	<div class="join_controller">
		<div class="join_box">
				<form id="frm_agree" th:action="@{/user/join/write}">
					<!-- 모두 동의 -->
					<div class="lbl_bpx">
						<input type="checkbox" id="check_all" class="blind">
						<label for="check_all" class="lbl_all">
							<span class="check_text">태그뮤직 이용약관, 개인정보 수집 및 이용, 위치기반서비스 이용약관(선택), 프로모션 정보 수신(선택)에 모두 동의합니다.</span>
						</label>
					</div>
					<!-- 개별 동의 -->
					<div class="lbl_bpx">
						<input type="checkbox" id="service" class="check_one blind">
						<label for="service" class="lbl_one">
							<span class="check_text">이용약관 동의(필수)</span>
						</label>
						<div>
							<textarea readonly> 법률이 헌법에 위반되는 여부가 재판의 전제가 된 경우에는 법원은 헌법재판소에 제청하여 그 심판에 의하여 재판한다. 국무총리는 대통령을 보좌하며, 행정에 관하여 대통령의 명을 받아 행정각부를 통할한다.

공무원인 근로자는 법률이 정하는 자에 한하여 단결권·단체교섭권 및 단체행동권을 가진다. 국가는 균형있는 국민경제의 성장 및 안정과 적정한 소득의 분배를 유지하고, 시장의 지배와 경제력의 남용을 방지하며, 경제주체간의 조화를 통한 경제의 민주화를 위하여 경제에 관한 규제와 조정을 할 수 있다.

대한민국의 경제질서는 개인과 기업의 경제상의 자유와 창의를 존중함을 기본으로 한다. 정기회의 회기는 100일을, 임시회의 회기는 30일을 초과할 수 없다.

의원을 제명하려면 국회재적의원 3분의 2 이상의 찬성이 있어야 한다. 비상계엄이 선포된 때에는 법률이 정하는 바에 의하여 영장제도, 언론·출판·집회·결사의 자유, 정부나 법원의 권한에 관하여 특별한 조치를 할 수 있다.

정당의 설립은 자유이며, 복수정당제는 보장된다. 국회의 회의는 공개한다. 다만, 출석의원 과반수의 찬성이 있거나 의장이 국가의 안전보장을 위하여 필요하다고 인정할 때에는 공개하지 아니할 수 있다.

대통령은 법률이 정하는 바에 의하여 사면·감형 또는 복권을 명할 수 있다. 국가는 지역간의 균형있는 발전을 위하여 지역경제를 육성할 의무를 진다. 대통령은 국가의 원수이며, 외국에 대하여 국가를 대표한다.

법관이 중대한 심신상의 장해로 직무를 수행할 수 없을 때에는 법률이 정하는 바에 의하여 퇴직하게 할 수 있다. 국가는 재해를 예방하고 그 위험으로부터 국민을 보호하기 위하여 노력하여야 한다.

국회의원은 현행범인인 경우를 제외하고는 회기중 국회의 동의없이 체포 또는 구금되지 아니한다. 환경권의 내용과 행사에 관하여는 법률로 정한다. 행정권은 대통령을 수반으로 하는 정부에 속한다.

정당은 법률이 정하는 바에 의하여 국가의 보호를 받으며, 국가는 법률이 정하는 바에 의하여 정당운영에 필요한 자금을 보조할 수 있다. 이 헌법시행 당시의 대법원장과 대법원판사가 아닌 법관은 제1항 단서의 규정에 불구하고 이 헌법에 의하여 임명된 것으로 본다.

재의의 요구가 있을 때에는 국회는 재의에 붙이고, 재적의원과반수의 출석과 출석의원 3분의 2 이상의 찬성으로 전과 같은 의결을 하면 그 법률안은 법률로서 확정된다.
						</textarea>
						</div>
					</div>
					<div class="lbl_bpx">
						<input type="checkbox" id="privacy" class="check_one blind">
						<label for="privacy" class="lbl_one">
							<span class="check_text">개인정보수집 동의(필수)</span>
						</label>
						<div>
							<textarea readonly> 선거에 있어서 최고득표자가 2인 이상인 때에는 국회의 재적의원 과반수가 출석한 공개회의에서 다수표를 얻은 자를 당선자로 한다. 대통령은 필요하다고 인정할 때에는 외교·국방·통일 기타 국가안위에 관한 중요정책을 국민투표에 붙일 수 있다.

대법원장의 임기는 6년으로 하며, 중임할 수 없다. 국가는 법률이 정하는 바에 의하여 재외국민을 보호할 의무를 진다. 헌법에 의하여 체결·공포된 조약과 일반적으로 승인된 국제법규는 국내법과 같은 효력을 가진다.

국회에 제출된 법률안 기타의 의안은 회기중에 의결되지 못한 이유로 폐기되지 아니한다. 다만, 국회의원의 임기가 만료된 때에는 그러하지 아니하다. 대법관은 대법원장의 제청으로 국회의 동의를 얻어 대통령이 임명한다.

모든 국민은 보건에 관하여 국가의 보호를 받는다. 국회는 선전포고, 국군의 외국에의 파견 또는 외국군대의 대한민국 영역안에서의 주류에 대한 동의권을 가진다.

국무총리·국무위원 또는 정부위원은 국회나 그 위원회에 출석하여 국정처리상황을 보고하거나 의견을 진술하고 질문에 응답할 수 있다. 행정각부의 장은 국무위원 중에서 국무총리의 제청으로 대통령이 임명한다.

농업생산성의 제고와 농지의 합리적인 이용을 위하거나 불가피한 사정으로 발생하는 농지의 임대차와 위탁경영은 법률이 정하는 바에 의하여 인정된다.

대통령은 제3항과 제4항의 사유를 지체없이 공포하여야 한다. 대법원은 법률에 저촉되지 아니하는 범위안에서 소송에 관한 절차, 법원의 내부규율과 사무처리에 관한 규칙을 제정할 수 있다.

국회는 국민의 보통·평등·직접·비밀선거에 의하여 선출된 국회의원으로 구성한다. 헌법재판소 재판관은 정당에 가입하거나 정치에 관여할 수 없다. 여자의 근로는 특별한 보호를 받으며, 고용·임금 및 근로조건에 있어서 부당한 차별을 받지 아니한다.
							</textarea>
						</div>
					</div>
					<div class="lbl_bpx">
						<input type="checkbox" id="location" name="location" class="check_one blind">
						<label for="location" class="lbl_one">
							<span class="check_text">위치정보수집 동의(선택)</span>
						</label>
						<div>
							<textarea readonly> 정부는 회계연도마다 예산안을 편성하여 회계연도 개시 90일전까지 국회에 제출하고, 국회는 회계연도 개시 30일전까지 이를 의결하여야 한다. 탄핵결정은 공직으로부터 파면함에 그친다. 그러나, 이에 의하여 민사상이나 형사상의 책임이 면제되지는 아니한다.

국가는 여자의 복지와 권익의 향상을 위하여 노력하여야 한다. 이 헌법에 의한 최초의 대통령의 임기는 이 헌법시행일로부터 개시한다. 헌법에 의하여 체결·공포된 조약과 일반적으로 승인된 국제법규는 국내법과 같은 효력을 가진다.

형사피의자 또는 형사피고인으로서 구금되었던 자가 법률이 정하는 불기소처분을 받거나 무죄판결을 받은 때에는 법률이 정하는 바에 의하여 국가에 정당한 보상을 청구할 수 있다.

대법원장은 국회의 동의를 얻어 대통령이 임명한다. 대통령의 국법상 행위는 문서로써 하며, 이 문서에는 국무총리와 관계 국무위원이 부서한다. 군사에 관한 것도 또한 같다.

모든 국민은 주거의 자유를 침해받지 아니한다. 주거에 대한 압수나 수색을 할 때에는 검사의 신청에 의하여 법관이 발부한 영장을 제시하여야 한다. 국회는 국정을 감사하거나 특정한 국정사안에 대하여 조사할 수 있으며, 이에 필요한 서류의 제출 또는 증인의 출석과 증언이나 의견의 진술을 요구할 수 있다.

모든 국민은 통신의 비밀을 침해받지 아니한다. 지방의회의 조직·권한·의원선거와 지방자치단체의 장의 선임방법 기타 지방자치단체의 조직과 운영에 관한 사항은 법률로 정한다.
							</textarea>
						</div>
					</div>
					<div class="lbl_bpx">
						<input type="checkbox" id="promotion" name="promotion" class="check_one blind">
						<label for="promotion" class="lbl_one">
							<span class="check_text">마케팅 동의(선택)</span>
						</label>
						<div>
							<textarea readonly> 국회의원의 수는 법률로 정하되, 200인 이상으로 한다. 국회는 의장 1인과 부의장 2인을 선출한다. 감사위원은 원장의 제청으로 대통령이 임명하고, 그 임기는 4년으로 하며, 1차에 한하여 중임할 수 있다.

국가는 노인과 청소년의 복지향상을 위한 정책을 실시할 의무를 진다. 대한민국의 경제질서는 개인과 기업의 경제상의 자유와 창의를 존중함을 기본으로 한다.

대통령후보자가 1인일 때에는 그 득표수가 선거권자 총수의 3분의 1 이상이 아니면 대통령으로 당선될 수 없다. 국무위원은 국무총리의 제청으로 대통령이 임명한다.

국가는 건전한 소비행위를 계도하고 생산품의 품질향상을 촉구하기 위한 소비자보호운동을 법률이 정하는 바에 의하여 보장한다. 국군은 국가의 안전보장과 국토방위의 신성한 의무를 수행함을 사명으로 하며, 그 정치적 중립성은 준수된다.

모든 국민은 거주·이전의 자유를 가진다. 정당은 법률이 정하는 바에 의하여 국가의 보호를 받으며, 국가는 법률이 정하는 바에 의하여 정당운영에 필요한 자금을 보조할 수 있다.

새로운 회계연도가 개시될 때까지 예산안이 의결되지 못한 때에는 정부는 국회에서 예산안이 의결될 때까지 다음의 목적을 위한 경비는 전년도 예산에 준하여 집행할 수 있다.
							</textarea>
						</div>
					</div>
					<!-- 버튼 -->
					<div class="btn_box">
						<input class="btn cancel" id="btn_cancel" type="button" value="취소" onclick="history.back();">
						<button class="btn next">다음</button>
					</div>
				</form>
		</div>
	</div>	
</body>
</html>