<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div th:replace="~{layout/loginHeader.html::loginFragment}"></div>
	<div>
		이메일/비밀번호를 잊으셨나요?		
	</div>
	<div>
		비밀번호 재설정 안내를 받을 방법을 선택하세요.
	</div>
	<div>
		<label for="findPw">
			<input type="radio" id="findPw" name="find" value="findPw"> 이메일 주소
		</label>
	</div>
	<div>
		<label for="findEmail">
			<input type="radio" id="findEmail" name="find" value="findEmail"> 문자 메시지
		</label>
	</div>
</body>
</html>