<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Tag Music > 이메일/비밀번호 찾기</title>
<link rel="stylesheet" th:href="@{/css/user/header.css}">
<link rel="stylesheet" th:href="@{/css/user/help.css}">

<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/moment-with-locales.js}"></script>
<script>
	$(document).ready(function(){
		fn_clickTab();
		fn_findEmail();
		fn_findPw();
		fn_chooseFind();
		fn_close_popup_msg();
		fn_join();
	});
	
	function fn_findEmail(){
		$('#btn_findEmail').click(function(){
			
			$.ajax({
				url: '/user/findEmail',
				type: 'POST',
				contentType: 'application/json',
				data: JSON.stringify({
					name: $('#name').val(),
					mobile: $('#mobile').val()
				}),
				dataType: 'json',
				success: function(resData) {
					$('.backlayer').removeClass('blind');
					$('.result_wrap').removeClass('blind');
					if (resData.findUser != null) {
						let email = resData.findUser.email;
						email = email.substring(0, 100);
						moment.locale('ko-KR');
						$('#msg_result').html('회원님의 이메일 정보입니다.<br><span style="font-size:20px; font-weight: 700;">' + email + '</span><br>(가입일 : ' + moment(resData.findUser.joinDate).format("YYYY년 MM월 DD일 a h:mm:ss") + ')');
					} else {
						$('#msg_result').html('일치하는 회원이 없습니다. 입력 정보를 확인하세요.');
					}
				}
			});
		});
	}
	
	function fn_findPw(){
		$('#btn_findPw').click(function(){
			new Promise(function(resolve, reject){
				if($('#email').val() == ''){
					reject('이메일을 입력하세요.');
					return;
				}
				$.ajax({
					url: '/user/findPw',
					type: 'post',
					contentType: 'application/json',
					data: JSON.stringify({
						'email': $('#email').val()
					}),
					dataType: 'json',
					success: function(resData){
						if(resData.findUser != null){
							$('.backlayer').removeClass('blind');
							resolve(resData.findUser);
						} else {
							reject('일치하는 회원 정보가 없습니다.');
						}
					}
				});		
			}).then(function(findUser){
				$.ajax({
					url: '/user/sendTemporaryPassword',
					type: 'post',
					data: 'userNo=' + findUser.userNo + '&email=' + findUser.email,
					dataType: 'json',
					success: function(resData){
						console.log('resData: ' + resData.isSuccess);
						if(resData.isSuccess){
							alert('등록된 이메일로 임시 비밀번호가 발송되었습니다.');
							location.href = '/user/login/form';
						}
					},
					error: function(){
						alert('error');
					}
				});
			}).catch(function(msg){
				alert(msg);
			});
		});
	}
	
	function fn_clickTab(){
		$('.find_tab').click(function(){
			$('.find_tab').removeClass('find_tab_click');
			$(this).addClass('find_tab_click');
		})
	}
	
	function fn_chooseFind(){
		$('.btn_email').click(function(){
			$('.find_id_box').removeClass('blind');
			$('.find_pw_box').addClass('blind');
		});
		
		$('.btn_pw').click(function(){
			$('.find_id_box').addClass('blind');
			$('.find_pw_box').removeClass('blind');
		});
	}
	
	function fn_close_popup_msg(){
		$('.btn').click(function(){
			$('.backlayer').addClass('blind');
			$('.result_wrap').addClass('blind');
		});
		$('.backlayer').click(function(){
			$('.backlayer').addClass('blind');
			$('.result_wrap').addClass('blind');
		});
	}
	function fn_join(){
		$('.msg_login_box').click(function(){
			location.href='/user/join/agree';
		})	
	}
</script>
</head>

<body>
	<div th:replace="~{layout/loginHeader.html::loginFragment}"></div>
	<div class="contain">
		<div class="contain_title">
			이메일/비밀번호를 잊으셨나요?<br/>	
			비밀번호 재설정 안내를 받을 방법을 선택하세요.
		</div>
		
		<!--아이디 / 비밀번호 찾기 박스-->
		<div class="find_box">
			<div class="btn_find">
				<div class="find_tab find_tab_click btn_email">
					<span class="find_email">이메일 찾기</span>
				</div>
				<div class="find_tab btn_pw">
					<span class="find_pw">비밀번호 찾기</span>
				</div>
			</div>
			<div class="find_id_box">
				<form id="frm_findId">
					<div class="input_area input_name">
						<div class="input_msg">
							이름
						</div>
						<div class="input_box_area">
							<input type="text" name="name" id="name" class="input_box">
						</div>
					</div>	
					<div class="input_area input_mobile">
						<div class="input_msg">
							휴대폰 번호
						</div>
						<div class="input_box_area">
							<input type="text" name="mobile" id="mobile" class="input_box">
						</div>
						<span style="color:indianred;">* 하이픈(-) 없이 입력해주세요.</span>
					</div>
					<div>
						<input type="button" value="이메일찾기" id="btn_findEmail" class="btn btn_findEmail">
					</div>
				</form>
			</div>
			<div class="find_pw_box blind">
				<form id="frm-findPw">
					<div class="input_area input_email">
						<div class="input_msg">
							이메일
						</div>
						<div class="input_box_area">
							<input type="text" name="email" id="email" class="input_box">
						</div>
						<div class="btn_box">
							<input type="button" value="임시 비밀번호 발송" id="btn_findPw" class="btn btn_findPw">
						</div>
					</div>
				</form>
			</div>
			<div class="result_wrap blind">
				<div class="backlayer blind"></div>
				<div class="result_box">
					<div id="msg_result"></div>
					<div class="btn">확인</div>
				</div>
			</div>
		</div>
	</div> <!--contain-->
	<div class="help_bottom_controller">
		<div class="msg_login_box hover">TagMusic 회원이 아닌가요?</div>
		<div class="login_join_content">
			<a th:href="@{/user/join/agree}" id="join_text" class="login_join_content">가입하기</a>
		</div>
	</div>
</body>
</html>