<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music > 로그인')}"></head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/login.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js" integrity="sha512-3j3VU6WC5rPQB4Ld1jnLV7Kd5xr+cq9avvhwqzbH/taCRNURoeEpoPBK9pDyeukwSxwRPJ8fDgvYXd6SkaZ2TA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<!-- 카카오 SDK -->
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js" integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<!-- 카카오 로그인 -->
<script src="https://t1.kakaocdn.net/kakao_js_sdk/2.1.0/kakao.min.js"
  integrity="sha384-dpu02ieKC6NUeKFoGMOKz6102CLEWi9+5RQjWSV0ikYSFFd8M3Wp2reIcquJOemx" crossorigin="anonymous"></script>
<script>
	Kakao.init('f3f16cd97c3af4e9ecc26f19ad9a208f');
</script>
<script>
	
	$(function(){
		fn_inputEmail();
		fn_inputPw();
		fn_login();
		fn_displayRememberEmail();
	});
	
	function fn_inputEmail(){
		/* 
			① 아이디 공백 검사
			아이디 input 박스 밑에 색깔 그림자를 넣어, 오류난 위치 사용자에게 알려주기
			오류 예시
				1) @ 와 . 이 없을 경우
					- 메시지창 : "잘못된 이메일 형식"
					- 코드 진행 금지
				2) @ 와 . 이 있으면 데이터 검사 진행
					- 메시지창 : "이 이메일 주소를 사용하는 계정을 찾을 수 없음"
					- 새로운 계정 등록 (회원가입) 유도
		*/
		// 이메일 정규식 검사
		$('#email').keyup(function(){
			let emailValue = $(this).val();
			// 정규식 (4~60자, 숫자+소문자+대문자+특수문자(-,_) 조합)
			// 최소 입력 aaaa@a.aa
			let regEmail = /^[0-9a-zA-Z][0-9a-zA-Z-_]{3,29}@[a-z]{1,10}[\.][a-z\.]{2,18}$/;
			if(regEmail.test(emailValue) == false) {
				$('.msg_email').removeClass('blind');
				$('#email').addClass('error_box');
			} else {
				$('.msg_email').addClass('blind');
				$('#email').removeClass('error_box');
				
			}
		});
		
		// 확인 메시지
		$('#email').blur(function(){
			if($('#email').val() == '') {
				$('.msg_email').removeClass('blind');
			}
		});
	}
	
	function fn_inputPw(){
		$('#pw').keyup(function(){
			let emailValue = $(this).val();
			// 정규식 (4~60자, 숫자+소문자+대문자+특수문자(-_!@#$%^&*) 조합)
			let regEmail = /^[0-9a-zA-Z-_!@#$%^&*]{4,60}$/;
			if(regEmail.test(emailValue) == false) {
				$('.msg_pw').removeClass('blind');
				$('#pw').addClass('error_box');
			} else {
				$('.msg_pw').addClass('blind');
				$('#pw').removeClass('error_box');
			}
		});
		
		// 확인 메시지
		$('#pw').blur(function(){
			if($('#pw').val() == '') {
				$('.msg_pw').removeClass('blind');
			}
		});
	}
	
	function fn_login(){
		$('#frm_login').submit(function(event){
			
			// 아이디, 비밀번호 공백 검사
			if($('#email').val() == '' || $('#pw').val() == ''){
				alert('이메일과 비밀번호를 모두 입력하세요.');
				event.preventDefault();
				return;
			}
			
			// 아이디 기억을 체크하면 rememberId 쿠키에 입력된 아이디를 저장
			if($('#rememberEmail').is(':checked')){
				$.cookie('rememberEmail', $('#email').val());
			} else {
				$.cookie('rememberEmail', '');
			}
		});
			
	}
	function fn_displayRememberEmail(){
		// rememberEmail 쿠키에 저장된 아이디를 가져와서 표시
		let rememberEmail = $.cookie('rememberEmail');
		if(rememberEmail == ''){
			$('#email').val('');
			$('#rememberEmail').prop('checked', false);
		} else {
			$('#email').val(rememberEmail);
			$('#rememberEmail').prop('checked', true);
		}
		
	}

</script>
<style>
	.blind {
		display: none;
	}
</style>
</head>
<body>
	<!-- 배경이미지 -->
	<!--<img th:src="@{/images/background_login.jpg}" class="background_login">-->
	<div class="backgroung_layer"></div>
	<div th:replace="~{layout/loginHeader.html::loginFragment}"></div>
	<div class="login_controller">
		<form id="frm_login" th:action="@{/user/login}" method="post">
			<div class="login_top_controller">
				<div class="login_contents">
					<div class="login_title">로그인</div>
						<input type="hidden" name="url" th:value="${url}">
						<div class="login_email">
							<input type="text" name="email" id="email" class="input_box" placeholder="이메일 주소">
						</div>
						<div>
							<input type="text" class="msg_email msg_check blind" value="정확한 이메일 주소를 입력하세요.">
						</div>
						<div>
							<input type="password" name="pw" id="pw" class="input_box" placeholder="비밀번호">
						</div>
						<div>
							<!-- 패스워드 보여주기도 구현해 볼 것 -->
							<input type="text" class="msg_pw msg_check blind" value="비밀번호는 4~60자 사이여야 합니다.">
						</div>
						<!-- 이메일 기억/자동로그인/계정찾기 -->
						<div class="login_tom_middle_controller">
							<!-- 왼쪽 정렬 -->
							<div class="login_left">
								<label for="rememberEmail">
									<div class="remember_box"></div>
										<input type="checkbox" id="rememberEmail">
									<div class="msg_login_box">
										이메일 기억하기
									</div>
								</label>
								<label for="keepLogin">
									<input type="checkbox" name="keepLogin" id="keepLogin">
									<div class="msg_login_box">
										자동로그인
									</div>
								</label>
							</div>
							<!-- 오른쪽 정렬 -->
							<div class="login_right">
								<div class="login_box_right">
									<a class="msg_login_box msg_help" th:href="@{/user/loginHelp}">도움이 필요하신가요?</a>
								</div>
							</div>
						</div>
						<div>
							<button class="btn_login">로그인</button>
						</div>
						<div class="flex_center" style="margin-bottom: 15px;">
							<div class="line_gray"></div><div style="color:#bdc2ce;">또는</div><div class="line_gray"></div>
						</div>
						<!-- 간편 로그인 : 네이버 -->
						<div class="flex_center">
							<div class="login_naver_content login_api" th:data-url="${apiURL}">
								<div class="login_naver_div">
									<img style="width:25px" th:src="@{/images/login_naver.png}"/>
								</div>
								<script>
									$('.login_naver_content').click(function(){
										var url = $(this).data('url');
										location.href=url;
									})
								</script>
								<div>
									네이버 로그인
								</div>
								<div></div>
							</div>
						</div>
						<!-- 간편 로그인 : 카카오 -->
						<div class="flex_center">
							<div class="login_kakao_content login_api">
								<a id="kakao-login-btn" href="javascript:loginWithKakao()">
								  <img style="width:25px" th:src="@{/images/login_cacao.png}"
								    alt="카카오 로그인 버튼" />
								</a>
								<div>
									카카오 로그인
								</div>
								<p id="token-result"></p>
							</div>
						</div>
				</div>
			</div>
						<script>
							function loginWithKakao() {
							    Kakao.Auth.authorize({
							      redirectUri: 'http://localhost:9090',
							    });
							}
						    Kakao.Auth.setAccessToken('${ACCESS_TOKEN}');
							displayToken();
						    function displayToken() {
						    	var token = getCookie('authorize-access-token');
						    	
						    	if(token) {
									Kakao.Auth.setAccessToken(token);
									Kakao.Auth.getStatusInfo()
									    .then(function(res) {
									    if (res.status === 'connected') {
									        document.getElementById('token-result').innerText
									             = 'login success, token: ' + Kakao.Auth.getAccessToken();
									        }
									    })
									    .catch(function(err) {
									        Kakao.Auth.setAccessToken(null);
									    });
								}
							}
							
							function getCookie(name) {
							    var parts = document.cookie.split(name + '=');
							    if (parts.length === 2) { return parts[1].split(';')[0]; }
							}
						
						</script>
			
			<div class="login_bottom_controller">
					<div class="msg_login_box hover">TagMusic 회원이 아닌가요?</div>
					<div class="login_join_content">
						<a th:href="@{/user/join/agree}" id="join_text" class="login_join_content">가입하기</a>
					</div>
					
			</div>
		</form>
	</div>
	<script>
		$('.msg_login_box').click(function(){
			location.href='/user/join/agree';
		})	
	</script>
</body>
</html>