<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/user/mypage.css}">
<link rel="stylesheet" th:href="@{/css/user/switch.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/user/myinfo.js}"></script>
</head>

<body>
	<nav th:replace="~{layout/mypageNav.html::mypageFragment}"></nav>
	
	<div class="mypage_controller">
		<div class="mypage_title">
			개인정보 관리
		</div>
			<span>태그뮤직에 등록된 개인정보 정보를 확인할 수 있습니다. 최신 정보로 관리해주세요.</span>
		<form id="frm_modifyUser" method="post">
			<input type="hidden" name="email" th:value="${session.loginUser.email}">
			<div class="info_controller">
				<!-- 정보창 3개씩, 2줄 (top, bottom) -->
				<div class="info_top_contents">
					<div class="info artist flex_cloumn" id="info_artist">
						<div class="box_title">닉네임 변경</div>
						<div class="box_msg">게시글 작성, 문의사항 등<br/>
							태그뮤직 이용시 노출되는 닉네임입니다.</div>
					</div>
					<div class="info name flex_cloumn" id="info_name">
						<div class="box_title">이름/생일 변경</div>
						<div class="box_msg">게시글 작성, 문의사항 등<br/>
							태그뮤직 이용시 노출되는 닉네임입니다.</div>
					</div>
					<div class="info pw flex_cloumn" id="info_pw">
						<div class="box_title">비밀번호 변경</div>
						<div class="box_msg">게시글 작성, 문의사항 등<br/>
							태그뮤직 이용시 노출되는 닉네임입니다.</div>
					</div>
				</div>
				<div class="info_bottom_contents">
					<div class="info mobile flex_cloumn" id="info_mobile">
						<div class="box_title">연락처 변경</div>
						<div class="box_msg">게시글 작성, 문의사항 등<br/>
							태그뮤직 이용시 노출되는 닉네임입니다.</div>
					</div>
					<div class="info flex_cloumn" id="info_agreeCode">
						<div class="box_title">이벤트/마케팅 혜택알림</div>
						<div class="box_msg">게시글 작성, 문의사항 등<br/>
							태그뮤직 이용시 노출되는 닉네임입니다.</div>
					</div>
					<div class="info logout_box flex_cloumn" id="retire">
						<input type="hidden" id="userNo" th:value="${session.loginUser.userNo}">
						<div class="box_title">태그뮤직 탈퇴</div>
						<div class="box_msg">탈퇴 시에 주의사항을 꼭!<br/> 확인해주시기 바랍니다.</div>
					</div>
				</div>
			</div>
			
			
			<!-- 모달창 -->
			<div class="box_backlayer blind">
				<div class="modify_box blind">
					<!-- 닉네임 관리 -->
					<div class="modify_artist blind">
						<div class="info_title">
							댓글, 좋아요 등<br/> 태그뮤직 서비스 이용 시 노출되는 <br/>닉네임입니다.
						</div>
						
						<div class="current_info">
							<div>현재 닉네임</div>
							<div class="current_info_content" th:text="${session.loginUser.artist}"></div>
						</div>
						<div class="info_input">
							<input type="text" id="artist" name="artist" placeholder="새로운 닉네임 입력">
						</div>
						
						<div class="info_msg">
							닉네임은 2~15자로 한글, 영문, 숫자, 특수문자(-, _, .)만 사용가능합니다.<br/>
							한글 및 영문, 숫자, 일부 특수문자(-,_,.) 만 사용 가능하며, 최대 15자까지만 등록 가능합니다.<br/>
							<div style="padding-top: 10px; color:indianred">* 닉네임을 변경하면 이전 작성한 글의 닉네임도 같이 변경 됩니다.</div>
						</div>
						
						<div class="btn_box">
							<input class="btn cancel" type="button" value="취소">
							<input class="btn correct" id="btn_artist" type="button" value="변경">
						</div>
					</div>
					<!-- 실명 관리 -->
					<div class="modify_name blind">
						<div class="info_title">
							등록된 본인인증 정보를<br/> 확인해주세요.
						</div>
						
						<div class="current_info">
							<div>현재 이름</div>
							<div class="current_info_content" th:text="${session.loginUser.name}"></div>
						</div>
						<div class="info_input">
							<input type="text" id="name" name="name" placeholder="새로운 이름 입력">
						</div>
						
						<div class="info_msg">
							본인인증 정보는 서비스 이용을 위한 나이확인 및 본인확인 용도로 활용됩니다.<br/>
							본인인증을 통해 이름/나이 정보를 업데이트해 주세요.<br/>
						</div>
						
						<div class="btn_box">
							<input class="btn cancel" type="button" value="취소">
							<input class="btn correct" id="btn_name" type="button" value="변경">
						</div>
					</div>
					<!-- 비밀번호 관리 -->
					<div class="modify_pw blind">
						<div class="info_title">
							태그뮤직에 등록된 비밀번호를 확인해주세요.
						</div>
						<div class="info_input">
							<input type="password" id="originPw" name="originPw" placeholder="현재 비밀번호">
							<input type="button" id="btn_checkPw" value="비밀번호 확인">
						</div>
						<div id="new_pw_box" class="blind">
							<div class="info_input_newPw">
								<input type="password" id="newPw" name="newPw" style="padding: 0 20px;" placeholder="새로운 비밀번호">
							</div>
							<div id="msgNewPw" class="blind"  style="margin-left:10px; color:indianred">비밀번호는 4~30자 내로 입력해주세요. (사용가능한 특수문자 : -_!@#$%^*)</div>
							<div class="info_input_newPw">
								<input type="password" id="reNewPw" style="padding: 0 20px;" placeholder="새로운 비밀번호 재입력">
							</div>
							<div id="msgPw" class="blind" style="margin-left:10px; color:indianred">비밀번호가 일치하지 않습니다!</div>
						</div>
						<div class="btn_box">
							<input class="btn cancel" type="button" value="취소">
							<input class="btn correct" id="btn_pw" type="button" value="변경">
						</div>
						
					</div>
					<!-- 연락처 관리 -->
					<div class="modify_mobile blind">
						<div class="info_title">
							태그뮤직에 등록된 연락처를<br/>확인해 주세요.
						</div>
						<!--이메일-->
						<div>
							<div class="current_info">
								<div>현재 이메일</div>
								<div class="current_info_content" th:text="${session.loginUser.email}"></div>
								<div style="padding-left: 30px; color:indianred">
									*이메일은 변경할 수 없습니다.
								</div>
							</div>
						</div>
						<!--모바일-->
						<div class="current_info">
							<div>현재 모바일 번호</div>
							<div class="current_info_content" th:text="${session.loginUser.mobile}"></div>
						</div>
						<div class="info_input">
							<input type="text" id="mobile" name="mobile" placeholder="하이픈(-) 없이 입력해주세요."> 
						</div>
						<div>
							<div class="btn_box">
								<input class="btn cancel" type="button" value="취소">
								<input class="btn correct" id="btn_mobile" type="button" value="변경">
							</div>
						</div>
					</div>
					
					<!-- 마케팅 정보이용 동의 -->
					<div class="modify_agreeCode blind">
						<div class="info_title">
							태그뮤직에 제공할 정보를<br/>변경 할 수 있습니다.
						</div>
						<div class="info_agree_box">
							<div class="info_agree">
								<label>
									<div style="width:80%">마케팅 활용 동의</div>
								<input type="checkbox" role="switch"></div>
								</label>
							<div class="info_agree">
								<label>
									<div style="width:80%">위치정보 활용 동의</div>
	  							    <input role="switch" type="checkbox" />
								</label>
							</div>
						</div>
						<div class="btn_box">
							<input class="btn cancel" type="button" value="취소">
							<input class="btn correct" id="btn_mobile" type="button" value="변경">
						</div>
					</div>
					<!-- 탈퇴 전 비밀번호 재입력 -->
					<div class="retire_box blind">
						<div class="info_title">유저 확인을 위해 비밀번호를 입력해주세요.</div>
						
						<div class="info_input">
							<input type="password" id="pw" name="pw" placeholder="현재 비밀번호">						
						</div>
						
						<div class="btn_box">
							<input class="btn cancel" type="button" value="취소">
							<input class="btn correct" id="btn_retire" type="button" value="확인">
						</div>
					</div>
				</div>
			</div>
		</div>
		</form>
		<form action="/user/retire/goodbye" id="frm_goodbye">
			
		</form>
	</div>
</body>
</html>