<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
  <!-- configFragment -->
  <!-- 공통으로 사용할 css, js 파일 모음 -->
  <th:block th:fragment="configFragment">
    <!-- Style -->
    <link th:href="@{/css/reset.css}" rel="stylesheet">
    <link th:href="@{/css/global.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/header.css}" rel="stylesheet">
    <link th:href="@{/css/fragments/footer.css}" rel="stylesheet">
    <link th:href="@{/css/layout.css}" rel="stylesheet">
    <link th:href="@{/css/alarm.css}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Js  -->
    <script th:src="@{/js/jquery-3.6.1.min.js}"></script>
    <script th:src="@{/js/moment-with-locales.js}"></script>
    <script th:src="@{/js/fragments/header.js}"></script>
    
  </th:block>
</html>