.blind {
  display: none;
}

.flex {
	display: flex;
}

.flex-col {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.main {
	background-color: fuchsia;
	flex:1;
}
input[type=button] {
	background-color:#bdc2ce;
	border: none;
	border-radius: 30px;
}
input[type=button]:hover {
	background-color: #20325A;
	color: #fdfdfd;
	border: none;
	cursor: pointer;
}