@charset "UTF-8";

.blind {
	display: none;
}
.lbl_all, .lbl_one {
	padding-left: 20px;
	background-image: url(../../images/uncheck.png);
	background-size: 20px;
	background-repeat: no-repeat;
}
.lbl_checked {
	background-image: url(../../images/check.png);
}

.input_box {
	font-size: 16px;
	position: relative;
	border: none;
	color: #1f1f1f;
	outline: none;
	width: 85%;
	height: 45px;
	padding: 0 5px;
	margin: 10px 0;
	background-color: none;
	border-bottom: 3px solid #37486b;
}
@media only screen and (min-width: 740px) {
	.body {
		z-index: -2;
		position: absolute;
	}
	.background_login {
		z-index: -1;
		position: fixed;
		top:0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-image: url(../../images/background_login.jpg);
		background-position: center;
	}
	.backgroung_layer {
		position: absolute;
		display: inline-block;
		width: 100%;
		height: 100%;
		color: #f1f2f3;
		z-index: -1;
		background-color: rgba(0,0,0, 0.6);
	}
	.agree_box {
		position: relative;
		margin: 0 auto;
		width: 580px;
		background-color: rgba(0,0,0, 0.6);
	}
	.container {
		position: relative;
		border-radius: 10px;
		padding: 30px 0 50px; 
		margin: 0 auto;
		width: 430px;
		color: whitesmoke;
	}
	textarea {
		position: relative;
		width: 100%;
	}
}


.lbl_all {
	background-position-y: 5px;
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 20px;
}
.lbl_one {
	background-position-y: 2px;
}
.lbl_bpx {
	margin: 10px 0;
}
.check_text {
	margin-left: 10px;
}
.bi {
	color: darkgreen;
	background-color: rebeccapurple;
}
textarea {
	margin-top: 10px;
	background-color: rgba(233, 233, 233, 0.9);
}
.btn_box {
	position: relative;
	display: inline-block;
	text-align: center;
	margin: 20px auto;
}
.btn {
	width: 205px;
	height: 40px;
	border: none;
}
.cancel {
	margin-right: 14px;
}
.cancel:hover {
	background-color: crimson;
	font-weight: bold;
	color: whitesmoke;
	cursor: pointer;
	text-decoration: none;
}
.next:hover {
	background-color: green;
	font-weight: bold;
	color: whitesmoke;
	cursor: pointer;
	text-decoration: none;
}
#msg_box_top {
	display: inline-block;
	margin-top: 20px;
	margin-right: 20px;
}
.join_box_right {
	text-align: right;
}
.msg_join_box {
	font-size: 13px;
	font-weight: 400;
	color: #b3b3b3;
}