@charset "UTF-8";

.blind {
	display: none;
}


@media only screen and (min-width: 740px) {
	.body {
		z-index: -2;
		position: absolute;
	}
	.background_login {
		z-index: -1;
		position: fixed;
		top:0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-image: url(../images/background_login.jpg);
		background-position: center;
	}
	.login_box {
		z-index: 0;
		position: relative;
		display: block;
		margin: 80px auto 0;
		width: 420px;
		height: 550px;
		background-color: rgba(0, 0, 0, 0.7);
		text-align: center;
		padding-top: 30px;
		border-radius: 10px;
	}
	.login_container {
		width:290px;
		margin: auto;
	}
	
	.login_box_left {
		z-index: 100;
		display: inline-block;
		float: left;
	}
	
	.btn_login_bottom {
		position: relative;
		width: 100%;
		height: 30px;
	}
	.loginAPI {
		position: relative;
		margin-top: 10px;
		width: 100%;
	}
	.login_box_bottom {
		margin-top: 20px;
	}
}

.backgroung_layer {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	color: #f1f2f3;
	z-index: -1;
	background-color: rgba(0,0,0, 0.6);
}

.login_title {
	color: #f1f2f3;
	font-size: 32px;
	font-weight: 500;
	margin-bottom: 20px;
	margin-right: 160px;
}

.login_input_box {
	position: relative;
	border: none;
	border-radius: 4px;
	color: #fff;
	width: 100%;
	height: 45px;
	line-height: 45px;
	padding: 0 20px;
	margin: 7px 0;
	background-color:  #333;
}
.btn_login {
	position: relative;
	width: 100%;
	height: 40px;
	margin: 20px 0;
	border-radius: 5px;
	border: none;
	background-color: #D0D3E2;
}
.btn_login:hover {
	color: #D0D3E2;
	font-weight: 700;
	background-color: #417CF2;
}
.remember_box {
	background-size: 15px;
	background-repeat: no-repeat;
	background-image: url(../images/checkbox_uncheck.png);
	
}
.checkbox_check {
	background-image: url(../images/checkbox_check.png);
}
.msg_login_box {
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	color: #b3b3b3;
}