@charset "UTF-8";

/* 공통영역 (header.html을 포함한 모든 html에 적용) */

/* 클래스 초기화  */
html, body, section, article, div, a, input, ul, li, input {
	margin: 0px;
	padding: 0px;
	background-color: inherit;
	color: inherit;
}
a {
	text-decoration: none;
}
input[type=button] {
	background-color: #bdc2ce;
	border: none;
	border-radius: 30px;
}
.blind {
	display: none;
}



header {
	background: linear-gradient(#ffffff, 2%,#fdfdfd);
	box-shadow: 0 1px 10px 0 #37486b;
	z-index: 2;;
}
.flex_center {
	display: flex;
	justify-content: center;
	align-items: center;
}
.login_api {
	margin-top: 5px;
	display: flex;
	justify-content: space-between;
	width: 85%;
	background-color: #f8f9fa;
	padding: 10px 40px;
	border: 1px solid #e5e8eb;
	border-radius: 5px;
}
.login_api:hover {
	background-color: #e5e8eb;
}
.line_gray {
	height: 1px;
	background-color: #bdc2ce;
	width: 130px;
	margin: 10px;
}
@media only screen and (min-width: 740px) {
	.body {
		z-index: -2;
		position: absolute;
	}
	.background_login {
		z-index: -1;
		position: fixed;
		top:0;
		width: 100%;
		height: 100%;
		background-size: cover;
		background-image: url(../images/background_login.jpg);
		background-position: center;
	}
	.login_controller {
		display: flex;
		flex-direction: column;
		z-index: 0;
		margin: 5% auto;
		margin-bottom: 20px;
		width: 460px;
		text-align: center;
	}
	.login_top_controller {
		z-index: 0;
		position: relative;
		display: block;
		background-color: #fdfdfd;
		box-shadow: 0 1px 10px 0 #37486b;
		border-radius: 10px;
		padding-bottom: 30px;
	}
	.login_contents {
		width:420px;
		margin: auto;
		padding-top: 20px;
	}
	
	.btn_login_bottom {
		position: relative;
		width: 100%;
		height: 30px;
	}
	.loginAPI {
		position: relative;
		width: 100%;
	}
	.login_bottom_controller {
		margin-top: 20px;
	}
}

.login_tom_middle_controller {
	display: flex;
	justify-content: space-between;
	margin: 5px 30px;
}
.backgroung_layer {
	position: absolute;
	display: inline-block;
	width: 100%;
	height: 100%;
	z-index: -1;
	background-color:#f8f9fa;
}

.login_title {
	color: #1f1f1f;
	font-size: 32px;
	font-weight: 600;
	display: flex;
	margin: 20px 0 10px 30px;
}

.input_box {
	font-size: 16px;
	position: relative;
	border: none;
	color: #1f1f1f;
	outline: none;
	width: 85%;
	height: 45px;
	padding: 0 5px;
	margin: 10px 0;
	background-color: none;
	border-bottom: 3px solid #37486b;
}
.btn_login {
	position: relative;
	width: 85%;
	height: 50px;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 20px;
	border-radius: 5px;
	border: none;
	color: #fdfdfd;
	font-weight: 600;
	background-color: #1f1f1f;
}

.btn_login:hover {
	background-color: #37486b ;
	border: 3px solid #37486b;
}
/* 간편로그인 */



.remember_box {
	background-size: 15px;
	background-repeat: no-repeat;
	background-image: url(../images/uncheck.png);
	
}
.checkbox_check {
	background-image: url(../images/check.png);
}
.msg_login_box {
	display: inline-block;
	font-size: 13px;
	font-weight: 400;
	color: #b3b3b3;
}
.login_join_content {
	font-weight: 600;
	color: #37486b;
}