@charset "UTF-8";

/* main 페이지 전체
width는 1250px, 80퍼센트면 1000px;
 */
 
 /* a링크처리 */
 

body {
	
	height: 1400px;
	overflow-x: hidden;
	background-color: #fbfbfb;
	
}
 
 .main_container{
 
 

 	width: 100%;
 	/* margin : auto : 내용 영역을 페이지 가운데로 정렬하기 위해 사용됨  */
 	padding-left : 240px;
 	background-color: #fbfbfb;
}
 
.main {
	
	margin: 65px auto;
	
	background-color: #fbfbfb;
	width : 1650px;
	height: 1100px;
	padding: 30px;
	

	
}

a {
	
	text-decoration: none;
	
}

.main_lastList {
	
	width : 100%;
	height: 350px;
	background-color: #fbfbfb;
	margin-bottom: 90px;
	margin-top: 20px;
	color: #323232;

}

.main_likeList_genre_bar {
	
	width: 100%;
	height: 200px;
	margin-bottom: 50px;
	
}

.bar_title {
	
	font-size: 35px;
	font-weight: 900;
}


.main_lastList_header {
	
	padding: 20px;
	display: flex;
	justify-content: space-between;
	margin: 0 70px;
	
	
	font-size: 25px;
	font-weight: 600;
	
}

.main_musicLike_header {
	
		
	padding-left: 90px;
	
	margin-bottom: 50px;
	
	
	font-size: 25px;
	font-weight: 600;
	
}




/*
	전체 : width: 670
	item : 150px

*/

.main_lastList_body, .main_musicLike_body {
	
	width: 1600px;
	display: flex;
	height : 320px;
	margin-bottom: 40px;
	
}


.main_lastList_body_content {
	display: flex;
	
	overflow: hidden;
	background-color: #323232;
	width: 1500px;
	height: 300px;
	background-color: #efefef;
	box-shadow: 0 1px 10px 0 #808080;
	border-radius: 10px;
	
	
	
}
.main_musicLike_body_content {
	
	
	display: flex;
	flex-wrap: wrap;
	overflow: auto;
	background-color: #323232;
	width: 1420px;
	height: 600px;
	background-color: #efefef;
	box-shadow: 0 1px 10px 0 #808080;
	margin-left: 90px;
	border-radius: 10px;
	
	
}
.main_musicLike_body_content::-webkit-scrollbar {

    display: none; 
}


.main_lastList_body_left_btn, .main_lastList_body_right_btn, .main_musicLike_body_left_btn, .main_musicLike_body_rightt_btn  {
	
	height : 320px;
	line-height: 320px;	
	margin : 0 20px;
}

/* 아이템 하나 */
.main_item {
	
	
	background-color: #212121;
	width: 264px;
	height: 260px;
	margin: 20px 10px;
	padding: 3px 10px;
	
	
	border-radius: 10px;
	flex-wrap:nowrap;
    animation: bannermove 0.5s ease ;
	
}

@keyframes bannermove {
  from {
    transform: translate(100%, 0);
    visibility: none;
  }

  to {
    transform: translate(0, 0);
  }
}

/* 아이템 하나 */
.main_item_r {
	
	
	background-color: #212121;
	width: 264px;
	height: 260px;
	margin: 20px 10px;
	padding: 3px 10px;
	
	
	border-radius: 10px;
	flex-wrap:nowrap;
   animation: bannermove2 1s ease ;
	
}

@keyframes bannermove2 {
  from {
    transform: translate(-100%, 0);
    visibility: none;
  }

  to {
    transform: translate(0, 0);
  }
}

.main_item_p {
	
	background-color: #212121;
	width: 264px;
	height: 260px;
	margin: 20px 10px;
	padding: 3px 10px;
	
	
	border-radius: 10px;
	flex-wrap:nowrap;
   animation: bannermove3 1s ease ;
	
}

@keyframes bannermove3 {
  from {
    transform: translate(0, -30%);
    visibility: none;
  }

  to {
    transform: translate(0, 0);
  }
}

.main_item_p:hover {
	
	background-color: #545454;

	
}
 

.main_item:hover {
	background-color: #545454;
}

.main_item:focus {
	
	box-shadow: 0 3px 20px 0 #37486b;
	
}


.item_image {
	
	
	width: 100%;
	margin : 5px 0;
	height: 180px;
	border-radius: 10px;
	
}

.item_artist {
	
	padding: 3px 0;
	display : block;
	color: #dddddd;
	font-size: 12px;
	font-weight: 700;
}

.item_title, .item_image {
	padding: 3px 0;
	display : block;
	color: #dddddd;
	font-size: 14px;
	font-weight: 700;
}

.item_title, .item_artist {
	
	text-align: left;
	
}

 .container{
 	margin-left: 250px;
 	margin-top: 50px;
 	width: 100%;
 	padding-right : 350px;
 }
 
 
 /* 바 상단텍스트  */
 
 .list_title {
 
 	color:  #20325A;
 	display:inline-block;
 	font-size: 28px;
 	margin-right: 400px;
 	

 }
 
 .list_title_like {
	 
	 color:  #20325A;
 	display:inline-block;
 	font-size: 28px;
 	margin-right: 400px;
 	margin-bottom: 20px;
	 
 }

 
 .bar_content {
 
	margin-left: 17px;
 	font-size: 17px;
 	font-weight: 900;
 
 }

/* 바 상단 메뉴 */

.bar_header_menus {
	
	display: flex;

	width: 1520px;
	height: 20px;

	
}


.bar_header_menu {
	
	background-color: #37486b;
	width: 70px;
	
	margin-right: 5px;
	text-align: center;
	color: #eeeeee;
	font-size: 17px;
	border: none;
	border-radius: 20px;
	height: 30px;
	line-height: 30px;
	
	
}

.bar_header_menu:hover {
	background-color: #efefef;
	color: #323232;
	cursor: pointer;
	animation: fadein-btn3 0.5s;
	}
	
	@keyframes fadein-btn3 {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		
		background-color: #efefef;
		opacity: 0;
	}
	to {
		background-color: #37486b;
		opacity: 1;
		
	}
	}
	

#btn_popularMusicBoard {
	
	margin-left: 990px;
	cursor: pointer;
	
}

#btn_updatedMusicBoard {
	cursor: pointer;
}





/* 페이지 버튼 위치고정 */

.page_popular_right {
	
	display: block;
	float: right;
}

