@charset "UTF-8";


p {
	
	height : 30px;
	font-size: 30px;
}

.list_container {
	
 	width: 100%;
 	/* margin : auto : 내용 영역을 페이지 가운데로 정렬하기 위해 사용됨  */
 	padding-left : 250px;
 	height : 100%;
 	background-color: #ECECEC;
	

}


.list_page {
	
	margin : 150px auto;
	
	width: 1000px;
	height: 800px;
	padding-right: 30px;
	display: block;
	
	
}

.page_title {
	
	font-size: 45px;
	font-weight: 900;
	margin-bottom: 70px;
	
}



.list_page_header {
	

	/* position: absolute;
	top: 150px; left: 240px; */
	margin-left: 0;
	margin-bottom: 20px;
	height : 120px;
	

	
	
}

.btn_all {
	
	float: left;
	margin-bottom: 15px;
	
}

.td {
	
	 font-size: 13px;
	 color : #333333;
	 
	
}

.music_detail {
	display : flex;
	
}



/* 테이블 */
table {
	
    width: 970px;
    height : 600px;
   
    border-collapse: collapse;
    font-size: 15px;
    color : #333333;
    text-align: center;
   
}
  th, td {
  
    font-size: 13px;
  	height: 60px;
    border-top: 1px solid #888888;
    padding: 6px 3px;
    
}

tr:nth-of-type(10) {
	border-bottom: 1px solid #888888;
	
	
}

tr:nth-of-type(1) {

	border-top: 2px solid #444444;
	
}

.title_artist {
	
	text-align: left;
}

.btn_area {
	
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	width: 100%;

}

.td_no {
	
	font-weight: 900;
	
}


.list_page_table {
	
	padding-bottom: 30px;
	
}

.select_genre {
	
	margin-bottom: 30px;
	
}

.select_genre_title {
	
	
	font-size: 15px;
	font-weight: 900;
	margin-bottom: 20px;
	
}

.select_all_btn_area {
	

	margin-top: 80px;
}

.list_select_ul {
	
	width : 1000px;
	height: 80px;
	color : #333333;
	
	
}

.list_select_li {
	display : inline-block;
	width : 185px;
	text-align: center;
	height: 50px;
	background-color: #999999;
	line-height: 50px;
	margin-bottom: 7px;
	margin-right: 7px;
	
	
}



.list_select_li:hover {
	
	background-color: #dddddd;
	
}
/* 버튼 : 기본옵션  */
input[type=button] {
	cursor: pointer;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #777777;
	border-radius: 3px;
	color: #333333;
	padding: 5px 10px;
	text-align: center;
	font-size: 10px;
	font-weight: 900;
}

.paging {
	
	margin-bottom: 10px;
	
}


/* 전체선택버튼 */
.select_all_btn_area {
	
	margin-bottom: 10px;
	height : 35px;
	
	
}

.board_thumbnail {
	
	margin-right: 10px;
	width : 50px;
	height : 50px;
	
}


/* 페이지 footer : 페이징 처리 */

.list_page_footer {
	
	margin: 50px 400px;
	
}

/* 페이지 util : 페이지 블록 처리 css */
.paging {
	
	border: 1px solid #222222;
	display: inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	color: #444444;
	font-weight: 900;
	border: 1px solid #444444;
}

.paging:hover {
	
	background-color: #888888; 
	color: #eeeeee;
	
}

.list_page_search {
	
	margin-top: 10px;
	display: flex;

}

.list_page_search_text {
	
	margin-right: 5px;
	
}

.board_playlist_area {
	
	position: relative;
	
}


.playlist_open {
	
	position : absolute;
	top: 0px; left: 20px;
	width: 300px;
	height: 200px;
	border: 1px solid #ababab;
	background-color: #efefef;
	padding: 20px;
	
	
	
}

.modal_btn_area {
	
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: 50px;
	margin-top: 20px;
	
}

.btn_createPlaylist {
	
	border: 1px solid #889888;
	background-color: #dddddd;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	
}

.btn_modal_close {
	
	border: 1px solid #889888;
	background-color: #dddddd;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	
}

.createPlaylist_header {
	
	width: 430px;
	height: 50px;
	
}

.createPlaylist_body {
	
	width: 430px;
	height: 80px;
	
}

.playlist_name {
	
	width: 200px;
	height: 30px;
	
}

.createPlaylist_btn_area {
	
	display: flex;
	justify-content: space-between;
	
	width: 420px;
	height: 100px;
	
}



.createPlaylist_btn, .createPlaylist_btn_cancel {
	
	border: 1px solid #889888;
	background-color: #dddddd;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	
}

/* 추가수정란  */
.musicBoard_td_musicLike {
	
	padding: 20px;
	
}

.musicBoard_musicLike {
	
	display: inline-block;
	
	

	
}

.musicBoard_musicLikeCnt {
	
	display: inline-block;
	margin-left: 3px;
	font-size: 15px;
	font-weight: 900;
	
	
	
}


