@charset "UTF-8";


p {
	
	height : 30px;
	font-size: 30px;
}

body {
	
	
	height: 1400px;
	background-color: #fbfbfb;
}

.list_container {
	
 	
 	/* margin : auto : 내용 영역을 페이지 가운데로 정렬하기 위해 사용됨  */
 	
 	background-color: #fbfbfb;
	width: 100%;
	margin: 35px auto;
	padding: 60px 270px;	
	animation: fadein-container 2s;
		}
		
		@keyframes fadein-container {
	/* 효과를 동작시간 동안 0 ~ 1까지 */
		from {
			opacity: 0;
		}
		to {
			opacity: 1;
		}
	}

.list_page {
	

	display: block;
	background-color: #fbfbfb;
	margin: 15px auto;
	width : 1300px;
	height: 1450px;
	padding: 10px 30px;
	
	
}

.page_title {
	
	padding: 5px;
	width: 240px;
	font-size: 35px;
	font-weight: 900;
	margin-bottom: 25px;
	border-bottom: 2px solid #20325A;
 	box-shadow: 0px 10px 10px -10px #37486b;
	
	
}



.list_page_header {
	

	/* position: absolute;
	top: 150px; left: 240px; */
	margin-left: 0;
	margin-bottom: 20px;
	height : 120px;
	

	
	
}

.btn_all {
	
	float: left;
	margin-bottom: 15px;
	
}

.td {
	
	 font-size: 13px;
	 color : #333333;
	 
	
}

.music_detail {
	display : flex;
	
}



/* 테이블 */
.musicBoard_table {
	
   
    height : 600px;
    text-align: center;
    animation: fadein 3s;
	
  	background: radial-gradient(#efefef, #eeeeee);
	width: 1150px;
    padding: 30px;
    border-radius: 10px;
   
    border-collapse: collapse;
    font-size: 25px;
    color : #333333;
    text-align: center;
    table-layout: fixed;
   
}


	tbody {
		
		  height : 300px;

	}
	th {
	
		font-size: 20px;
		height: 20px;
		margin-bottom: 20px;
	
	}
	
	.musicBoard_tr {
		
			
	width: 1200px;
	height: 40px;
	font-size: 20px;
  	height: 30px;
    border-top: 1px solid #aaaaaa;
    padding: 10px;
		
	}
	
  th, td {
  
    font-size: 13px;
  	height: 60px;
    border-top: 1px solid #888888;
    padding: 6px 3px;
    
}

tr:nth-of-type(10) {
	border-bottom: 1px solid #888888;
	
	
}

tr:nth-of-type(1) {

	border-top: 2px solid #444444;
	
}

.title_artist {
	
	text-align: left;
}

.btn_area {
	
	display: flex;
	justify-content: space-between;
	padding-top: 15px;
	width: 100%;

}

.td_no {
	
	font-weight: 900;
	
}


.list_page_table {
	
	padding: 40px;
	background-color: #efefef;
	box-shadow: 0 1px 10px 0 #808080;
	
	border-radius: 10px;
	



	
}

.select_genre {
	
	margin-bottom: 30px;
	
}

.select_genre_title {
	
	
	font-size: 20px;
	font-weight: 900;
	margin-bottom: 20px;
	
}

.select_all_btn_area {
	
	height: 10px;
	margin-top: 10px;
}

.list_select_ul {
	
	width : 1000px;
	height: 80px;
	color : #333333;
	
	
}

.list_select_li {
	display : inline-block;
	width : 185px;
	text-align: center;
	height: 50px;
	
	line-height: 50px;
	margin-bottom: 7px;
	margin-right: 7px;
	
	background-color: #20325A;
	color: #fdfdfd;
	box-shadow: 0 1px 10px 0 #37486b;
	font-weight: 900;
	
	
}



.list_select_li:hover {
	
	background-color: #dddddd;
	color: #323232;
	animation: fadein-btn 1s;
	font-weight: 900;
	}
	
	@keyframes fadein-btn {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		
		opacity: 0;
	}
	to {
		
		opacity: 1;
		
	}
	}
/* 버튼 : 기본옵션  */
input[type=button] {
	cursor: pointer;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #777777;
	border-radius: 3px;
	color: #333333;
	padding: 5px 10px;
	text-align: center;
	font-size: 10px;
	font-weight: 900;
}

.paging {
	
	margin-bottom: 10px;
	
}


/* 전체선택버튼 */
.select_all_btn_area {
	
	margin-bottom: 10px;
	height : 35px;
	
	
}

.board_thumbnail {
	
	margin-right: 10px;
	width : 50px;
	height : 50px;
	
}


/* 페이지 footer : 페이징 처리 */

.list_page_footer {
	
	margin: 50px 400px;
	
}

/* 페이지 util : 페이지 블록 처리 css */
.paging {
	margin-bottom: 10px;
	border: 1px solid #222222;
	display: inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	color: #444444;
	font-weight: 900;
	border: 1px solid #444444;
}

.paging:hover {
	
	background-color: #888888; 
	color: #eeeeee;
	
}

.list_page_search {
	
	margin-top: 10px;
	display: flex;

}

.list_page_search_text {
	
	margin-right: 5px;
	
}

.board_playlist_area {
	
	position: relative;
	
}


.playlist_open {
	
	position : absolute;
	top: 0px; left: 20px;
	width: 300px;
	height: 200px;
	border: 1px solid #ababab;
	background-color: #efefef;
	padding: 20px;
	
	
	
}

.modal_btn_area {
	
	display: flex;
	justify-content: space-between;
	width: 300px;
	height: 50px;
	margin-top: 20px;
	
}

.btn_createPlaylist {
	
	border: 1px solid #889888;
	background-color: #dddddd;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	
}

.btn_modal_close {
	
	border: 1px solid #889888;
	background-color: #dddddd;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	
}

.createPlaylist_header {
	
	width: 430px;
	height: 50px;
	
}

.createPlaylist_body {
	
	width: 430px;
	height: 80px;
	
}

.playlist_name {
	
	width: 200px;
	height: 30px;
	
}

.createPlaylist_btn_area {
	
	display: flex;
	justify-content: space-between;
	
	width: 420px;
	height: 100px;
	
}



.createPlaylist_btn, .createPlaylist_btn_cancel {
	
	border: 1px solid #889888;
	background-color: #dddddd;
	width: 80px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	
}

/* 추가수정란  */
.musicBoard_td_musicLike {
	
	padding: 20px;
	
}

.musicBoard_musicLike {
	
	display: inline-block;
	
	

	
}

.musicBoard_musicLikeCnt {
	
	display: inline-block;
	margin-left: 3px;
	font-size: 15px;
	font-weight: 900;
	
	
	
}


#modal {
	

  position:absolute;

  z-index:1;
  display: none;
  

animation: fadein-modal-open 1s;

	}
	
	@keyframes fadein-modal-open {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.modal_close {

	animation: fadein-modal-close 1s;
}	
	
	@keyframes fadein-modal-close {
/* 효과를 동작시간 동안 0 ~ 1까지 */
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
	



#modal h2 {
  margin:0;   
}

#modal button {
  display:inline-block;
  width:100px;
  margin-left:calc(100% - 100px - 10px);
}

#modal .modal_content {
  width:450px;

  position:absolute;
   top: 200px;
	left:290px;
 
  background-color:#474545;
  order:none;
  color: #efefef;
  border-radius: 10px;
  font-size: 16px;
  text-align: center;
  padding: 30px;
  
  
  
}

#modal .modal_layer {
  position:fixed;
  top:0;
  left:0;
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.8);
  z-index:-1;
}   





