@charset "UTF-8";


	/* 클래스 초기화  */
	* {
	box-sizing: border-box;
	margin : 0;
	padding : 0;
	}
	
	a {
	text-decoration: none;
	color: #222222;	
	}
	
	.player {
	position: fixed;
	left:0; bottom:0;
	

	
	}
	
	.layout_tagMusic_player {
		
	height: 70vh;
	width: 100%;
	background-color: #777777;
	min-height: 110px;
	}
	
	
	



	