@charset "UTF-8";

html, body {
	padding: 0px;
	margin: 0px;
}

nav {
	margin: 0;
	padding: 0;
	position: relative;
	width: 240px;
	height: 2000px;
	float: left;
	background-color: green; 
}

@media (max-width: 720px) {
	nav {
		display: none;
	}
}
@media (min-width: 720px) {
	.contain {
		margin-left: 240px;
		padding: 60px;
	}
}
.info_box {
	background-color: 	
}
.info {
	padding: 10px 0 10px 30px;
}