@charset "UTF-8";

/* 공통영역 (header.html을 포함한 모든 html에 적용) */

/* 클래스 초기화  */
html, body, section, article, div, a, input, ul, li, input {
	margin: 0px;
	padding: 0px;
	background-color: inherit;
	color: inherit;
}
a {
	text-decoration: none;
}

.blind {
	display: none;
}

.naver_join_controllers {
	display: flex;
	flex-direction: column;
	width: 600px;
	background-color: #fdfdfd;
	box-shadow: 0 1px 10px 0 #37486b;
	margin: auto;
	border-radius: 10px;
}
.naver_join_contents {
	padding: 30px 60px;
}

.btn {
	width: 40%;
	height: 40px;
	background-color: #bdc2ce;
	border-radius: 10px;
	border:none;
	margin: 20px 20px 0;
}
.btn:hover {
	cursor: pointer;
}
#btn_join:hover {
	background-color: green;
}
#btn_cancel:hover {
	background-color: red;
}
.join_bottom_controller {
	display: flex;
	justify-content: center;
}

input[type=text] {
	width: 70%;
	height: 30px;
	margin: 5px 0 20px;
	font-size: 16px;
	border:none;
	border: 1px solid #bdc2ce;
	border-bottom: 4px solid #37486b;
	outline: none;
	margin-left: 10px;
	background-color: #fdfdfd;
}
.input_15 input[type=text] {
	width: 15%;
}