@charset "UTF-8";


/* 클래스 초기화  */

	* {
	box-sizing: border-box;
	margin : 0;
	padding : 0;
	
	}
	
	
	.playlist_container {

	
 	width: 100%;
	background-color: #efefef;
 	margin: 35px auto;
	padding: 60px 270px;
	
	}
	
	.playlist {
		
		background-color: #ffffff;
 		margin: 35px auto;
		width : 1300px;
		height: 1300px;
		padding: 30px;
	}
	
	.playlist_header {
		
		background-color: #efefef;
		height: 120px;
		
		font-size: 20px;
		font-weight: 800;
		color: 212121;
		padding: 20px;
		margin-bottom: 20px;	
	}
	
	.playlist_body {
		
		background-color: #efefef;
		height: 1200px;
		
		font-size: 20px;
		font-weight: 800;
		color: 212121;
		padding: 20px;
	}
	
	.playlist_list {
		
		background-color: #323232;
		height: 220px;
		padding: 20px;
		margin-bottom: 10px;
	}
	
	.playlist_list_click {
		
		background-color: #323232;
		height: 820px;
		padding: 20px;
		margin-bottom: 10px;
	}
	
	.playlist_musicBoard {
		
		display: none;
	}
	
	.playlist_musicBoard_click {
		
		display: visibility;
	}
	
	
	
	.playlist_list_top {
		display: flex;
		
		
	}
	
	
	
	.playlist_list_left {
		
		width: 160px;
		height : 160px;
		background-color: #fefefe;
		margin-right: 30px;
		
	}
	
	.playlist_list_middle {
		
		width: 640px;
		height : 160px;
		background-color: #fefefe;
		margin-right: 30px;
		padding: 20px;
		
		
	}
	
	.playlist_list_right {
		
		padding: 20px;
		width: 290px;
		height : 160px;
		background-color: #fefefe;
		display: flex;
		
	}
	
	.playlist_bottom {
		
		width : 1300px;
		margin-top: 10px;
		padding-left: 490px;
		
	}
	
	.btn_playlist_musicBoard {
		
	
		margin-top: 5px;
		text-align: center;
		width: 150px;
		height: 20px;
		line-height: 20px;
		cursor: pointer;
		
		background-color: #efefef;
		
	}
	
	.playlist_btn {
		
		margin: 10px 20px;
		background-color: #efefef;
		color: #232323;
		display: inline-block;
		width: 80px;
		height: 35px;
		line-height: 35px;
		border-radius: 6px;
		text-align: center;
		cursor: pointer;
		font-weight: 900;
		padding: 0 10px;
		list-style: none;

		
		
		
	}
	
	.playlist_musicBoard {
	
		margin-top: 5px;
		
		background-color: #323232;
		width: 400px;
		padding: 5px;
		height: 500px;
	}
	
	table {
	
	background-color: white;
	width: 1150px;
    padding: 10px;
    height : 300px;
   
    border-collapse: collapse;
    font-size: 15px;
    color : #333333;
    text-align: center;
   
}

tbody {
	
	  height : 300px;
	
	
	
}
  th, td {
  
    font-size: 13px;
  	height: 30px;
    border-top: 1px solid #888888;
    padding: 10px;
    
}

.playlist_thumbnail {
	
	display: inline-block;
	margin-right: 10px;
	width: 160px;
	height : 160px;
	
}

.td_music {
	margin-right: 20px;
	
}




.paging {
	
	border: 1px solid #222222;
	display: inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	color: #444444;
	font-weight: 900;
	border: 1px solid #444444;
}

	
.playlist_musicBoard {
	
	height: 400px;
	
	
	
}
	
	

	/*
	
	.playlist_thumbNailimage {
	
		
	
	}
	
	.playlist {
	
	margin: 35px auto;
	margin-top: 75px;
	background-color: #212121;
	width : 1300px;
	height: 1300px;

	padding: 80px 150px;
	
	
	}
	
	.playlist_title_username { 
	
	color: #eeeeee;
	font-weight: 800;
	
	
	}
	
	playlist_header {
	
	margin: 50px auto 20px;
	background-color: #323232;
	height: 50px;
	line-height: 50px;
	border-radius: 10px;
	padding: 0 20px;
	
	}
	*/
	/*
	.playlist_cnt {
	
	display: inline-block;
	margin-right: 50px;
	margin-top: 30px;
	font-weight: 800;
	font-size: 20px;
	}
	
	.playlist_cnt_emp {
	
	display: inline-block;
	text-align: center;
	font-size: 30px;
	}
	
	.btn_playlist_add {
	
	
	background-color: #efefef;
	color: #232323;
	display: inline-block;
	width: 230px;
	height: 35px;
	line-height: 35px;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
	font-weight: 900;
	padding: 0 10px;

	}
	
	.btn_playlist_edit {
	
	background-color: #efefef;
	color: #232323;
	display: inline-block;
	width: 150px;
	height: 35px;
	line-height: 35px;
	border-radius: 6px;
	text-align: center;
	cursor: pointer;
	font-weight: 900;
	padding: 0 10px;
	margin-left: 570px;
	
	}
	
	.playlist_body {
	
	margin: 30px auto;
	background-color: #323232;
	height: 1050px;
	padding : 20px;
	border-radius: 6px;

	}
	
	.playlist_item {
	
	display: flex;
	background-color: #232323;
	padding: 20px;
	/* width: 1310px; */
	/*
	height: 190px;
	border-radius: 10px;
	margin-bottom: 20px;
	


	
	}
	
	.playlist_item_area_left {

		width: 220px;
		height: 150px;
		border-right: 2px solid #676767;
		
	}
	
	.playlist_thumbnail {
		
		border-radius: 10px;
		display: inline-block;
		width: 160px;
		height: 150px;
		
		margin-right: 5px;
	
	}
	
	.playlist_item_area_middle {
	
		width: 560px;
		margin-left: 30px;
		
	}
	
	.playlist_item_area_right {
		
		display: flex;
		
	
		
	
	}
	
	.btn_playlist {
	
		background-color: #efefef;
		color: #232323;
		display: inline-block;
		width: 60px;
		height: 35px;
		line-height: 35px;
		border-radius: 6px;
		text-align: center;
		cursor: pointer;
		font-weight: 900;
		padding: 0 10px;
		list-style: none;
		margin-right: 15px;
		
	
	}
	.playlist_item_area_right_item {
	
		margin: 5px 0;
		font-size: 20px;
		font-weight: 800;
	
	}
	
	.playlist_box {
		
		width: 20px;
		height: 150px;
		display: inline-block;
		text-align: center;
		margin-right: 10px;
		
		
		
	}
	
	*/
