@charset "UTF-8";


/* 클래스 초기화  */

	* {
	box-sizing: border-box;
	margin : 0;
	padding : 0;
	
	}
	
	
	.playlist_container {

	
 	width: 100%;
	background-color: #efefef;
 	margin: 35px auto;
	padding: 60px 270px;
	
	}
	
	.playlist {
		
		background-color: #ffffff;
 		margin: 35px auto;
		width : 1300px;
		height: 1300px;
		padding: 30px;
	}
	
	.playlist_header {
		
		display: flex;
		
		background-color: #efefef;
		height: 120px;
		width: 1240px;
		font-size: 20px;
		font-weight: 800;
		color: 212121;
		padding: 15px;
		margin-bottom: 20px;	
	}
	
	.playlist_area {
	
		
	
	}
	
	.playlist_header_left {
	
	margin-right: 100px;
	
	}
	
	.playlist_add {
	
	background-color: #dddddd;
	border: 1px solid #888888;
	width: 200px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	
	}
	
	
	
	.playlist_body {
		
		background-color: #efefef;
		height: 1200px;
		
		font-size: 20px;
		font-weight: 800;
		color: 212121;
		padding: 20px;
	}
	
	.playlist_list {
		
		background-color: #323232;
		height: 220px;
		padding: 20px;
		margin-bottom: 10px;
	}
	
	.playlist_list_click {
		
		background-color: #323232;
		height: 820px;
		padding: 20px;
		margin-bottom: 10px;
	}
	
	.playlist_musicBoard {
		
		display: none;
	}
	
	.playlist_musicBoard_click {
		
		display: visibility;
	}
	
	
	
	.playlist_list_top {
		display: flex;
		
		
	}
	
	
	
	.playlist_list_left {
		
		width: 160px;
		height : 160px;
		background-color: #fefefe;
		margin-right: 30px;
		
	}
	
	.playlist_list_middle {
		
		width: 640px;
		height : 160px;
		background-color: #fefefe;
		margin-right: 30px;
		padding: 20px;
		
		
	}
	
	.playlist_list_right {
		
		padding: 20px;
		width: 290px;
		height : 160px;
		background-color: #fefefe;
		display: flex;
		
	}
	
	.playlist_bottom {
		
		width : 1100px;
		margin-top: 10px;
		padding-left: 490px;
		
	}
	
	.btn_playlist_musicBoard {
		
	
		margin-top: 5px;
		text-align: center;
		width: 150px;
		height: 20px;
		line-height: 20px;
		cursor: pointer;
		
		background-color: #efefef;
		
	}
	
	.playlist_btn {
		
		margin: 10px 20px;
		background-color: #efefef;
		color: #232323;
		display: inline-block;
		width: 80px;
		height: 35px;
		line-height: 35px;
		border-radius: 6px;
		text-align: center;
		cursor: pointer;
		font-weight: 900;
		padding: 0 10px;
		list-style: none;

		
		
		
	}
	
	.playlist_musicBoard {
	
		margin-top: 5px;
		
		background-color: #323232;
		width: 400px;
		padding: 5px;
		height: 500px;
	}
	
	table {
	
	background-color: white;
	width: 1150px;
    padding: 10px;
    height : 300px;
   
    border-collapse: collapse;
    font-size: 15px;
    color : #333333;
    text-align: center;
   
}

tbody {
	
	  height : 300px;
	
	
	
}
  th, td {
  
    font-size: 13px;
  	height: 30px;
    border-top: 1px solid #888888;
    padding: 10px;
    
}

.playlist_thumbnail {
	
	display: inline-block;
	margin-right: 10px;
	width: 160px;
	height : 160px;
	
}

.td_music {
	margin-right: 20px;
	
}




.paging {
	
	border: 1px solid #222222;
	display: inline-block;
	width: 40px;
	height: 35px;
	text-align: center;
	line-height: 35px;
	font-size: 20px;
	color: #444444;
	font-weight: 900;
	border: 1px solid #444444;
}

	
.playlist_musicBoard {
	
	height: 400px;
	
	
	
}

.playlistZero_area {
	
	background-color: #dddddd;
	padding: 20px;
	width: 1200px;
	height: 500px;
	text-align:center;
	display: flex;
	padding-top: 250px;
	

}

.playlistZero_left {
	
	width: 1100px;
	height: 500px;
	
	
	
}

.playlistZero_left_content {
	
	margin-bottom: 20px;
	
}

.playlistZero_right {
	
	
	width: 200px;
	height: 500px;
}

.playlist_add {
	
	margin-left: 520px;
	
}

.playlistZero_right_btn {
	
	margin-top: 200px;
	background-color: #dddddd;
	border: 1px solid #888888;
	width: 50px;
	height: 40px;
	line-height: 40px;
	text-align: center;
	
	font-size: 14px;
	margin-left:50px;
	
	
}

.playlistZero_right_content {
	
	font-size: 12px;
	width: 150px;
	height: 40px;
	
}




