<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music')}"></head>
<meta charset="UTF-8">
<title></title>
<!-- static 폴더 이후의 위치를 적으면 된다. -->
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
	<script th:inline="javascript">
	
		// [main 페이지]
	
		$(document).ready(function() {
			
			fn_updatedMusic();			// 구현 : main페이지 최신리스트바
			fn_pageMove();				// 기능 : 최신리스트바 페이지 버튼
			fn_updatedMusicBoard();		// 구현 : 최신리스트 게시판조회
			
		});
				
		
		// # 구현 : main페이지 최신리스트 바, ajax
		function fn_updatedMusic() {
			
			$.ajax({
				type: 'get',
				url: '/music/list/updated',
				data : 'page=' + $('#page').val(),	
				dataType: 'json',
				success: function(resData) {	// resData : musicList, pageUtil, artist
					
					// 갱신
					$('#updatedMusicList').empty();
			
			
					// 페이징
					var pageUtil = resData.pageUtil;
					var page = $('#page').val();
					
					// (1) # 기능 : 페이징 좌측버튼 보여주기
					if(pageUtil.page > 1) {
						$('#updatedMusicList').append($('<span class="enable_listLink" data-page="' +(pageUtil.page -1) + '">').text('◀'));
					}
					
					// (2) 가운데 : 게시글
					$.each(resData.musicList, function(index, music) {
						
						// # 구현 : 썸네일 가져오기
						// * 방법 : 자바스크립트로 텍스트 추가하는 방식을 사용
						console.log(music)
						var text = '';
						if(music.hasThumbNail == 1) {
							console.log(music.hasThumbNail);
							// (1) 썸네일이 존재하는 경우 썸네일 맵핑 요청
							text = '<img class="item_image" src="/music/thumbnail?musicNo=' + music.musicNo + '" width="169px" height="169px">';
						} else if(music.hasThumbNail == 0) {
							// (2) 디폴트 이미지 : 정적 파일의 경로는 static 이하 폴더부터
							text = '<img class="item_image" src="/images/defaultImage.png" width="169px" height="169px">';
						}
						
						$('<div class="main_item">') 
						.append(text)
						.append('<a class="item_title" href="music/detail?musicNo=' + music.musicNo + '">' + music.musicTitle + '</a>')
						.append('<a class="item_title" href="music/detail?musicNo=' + music.musicNo + '">' + music.activeLogDTO.userDTO.artist + '</a>')
						.appendTo(('#updatedMusicList'));   
						/* .append(text)
						.append( $('<a class="item_title" href="/music/detail?musicNo=' + music.musicNo +'">').text(music.musicTitle) )
						.append( $('<a class="item_title" href="/music/detail?musicNo=' + music.musicNo +'">').text(music.activeLogDTO.userDTO.artist) )
						.appendTo($('#updatedMusicList'));  */
						
					}); 
					// (3) # 기능 : 페이징 우측버튼 보여주기
					if(pageUtil.page != pageUtil.totalPage) {
						$('#updatedMusicList').append($('<span class="enable_listLink" data-page="' + (pageUtil.page + 1) + '">').text('▶'));						
					}	
				}
			});	
		}
		
		// # 기능 : 최신리스트바 페이지 버튼
		function fn_pageMove() {
			 $(document).on('click', '.enable_listLink', function(){
		         $('#page').val($(this).data('page'));	// 버튼에 저장된 page 태그값을 hidden의 페이지값에 전달 -> 새로운 페이지를 파라미터로 전달해서 재요청
		         fn_updatedMusic();
		      });
		}
		
		// # 구현 : 최신리스트 게시판조회, mvc
		function fn_updatedMusicBoard() {
			$('#btn_updatedMusicBoard').click(function() {
				location.href="/music/updatedMusicBoard?page=" + $('#page').val();
			});
		}
		
		
	
	</script>
</head>
<body>
	<div th:replace="~{layout/header.html::header_layout}"></div>
	
	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		<!--  ** 모든 컨텐츠는 해당 content태그 아래에서 작성하시오  ** -->


		<div class="main_container">


		<!--  # 메인페이지 -->
			<div class="main">
				<!--  # 최신리스트 -->
				<div class="main_list">
					<div class="main_header">
						<div class="list_title">최신리스트</div>
						<input type="button" value="전체조회" id="btn_updatedMusicBoard">
					</div>
					
					<!-- 구현 : 최신음악리스트4 -->
					<!-- 
						musicImage, artist : 별도의 테이블에서 값을 구해온다
						musictitle : music테이블에서 조회
					 -->
					 
					 <!--  * page : 페이지 파라미터값 담당 -->
					<input type="hidden" id="page" value="1">
					
					<div id="updatedMusicList" class="main_item_area">
						<div class="main_item" th:each="music:${musicList}">
						<!-- 구현 : 썸네일처리  -->
						<!-- 	<div class="item_image" th:text=""></div> -->
							
						<!-- 구현 : 제목, 아티스트 조회해오기  -->
							<!-- <div class="item_title" th:text="">제목</div>
							<div class="item_artist" th:text="${artist}">아티스트</div> -->
						</div>
					</div>
				</div>
				<!--  # 믹스리스트 -->
				<div class="main_list">믹스리스트
				
				</div>
			</div>

		</div>
	</div>
	








	
	
	
</body>
</html>