<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music')}"></head>
<meta charset="UTF-8">
<title></title>
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
	<script th:inline="javascript">
	
		// MAIN 페이지
	
		$(document).ready(function() {
		
			clearInterval(fn_updatedMusic);	// 기능 : 최신리스트바 자동넘김
			setInterval(fn_updatedMusic, 15000);	

			fn_updatedMusic();				// 구현 : 최신리스트바
			fn_updatedPageMove();			// 기능 : 최신리스트바 페이지 이동버튼
			fn_updatedMusicBoard();			// 구현 : 최신리스트 게시판 이동
			fn_popularMusic();				// 구현 : 인기리스트바
			fn_popularMusicBoard();			// 구현 : 인기음악 게시판조회
			fn_popllarMusic_Total();		// 구현 : 인기음악 장르_가요 전체요청버튼
			fn_popluarMusic_selectGenre();	// 구현 : 장르별 인기순 조회
			iframe_click();					// 기능 : 음악플레이어 실행
		});
		
		// 전역변수
		var page = 1  	// 페이징 처리
		var pageUtil;	// 페이지유틸
		var text;
		var content;
			
			function fn_updatedMusic() {	// 구현 : 최신리스트 바 
				
					$.ajax({
						type: 'get',
						url: '/music/list/updated',
						data : 'page=' + $('#page_updated').val(),	
						dataType: 'json',
						success: function(resData) {	
							
							// 갱신
							$('.main_lastList_body').empty();
					
							// 페이징
							pageUtil = resData.pageUtil;
							page = $('#page_updated').val();
							
							// (1) # 기능 : 페이징 좌측버튼 보여주기
							if(page == pageUtil.beginPage) {
								$('.main_lastList_body').append('<div class="main_lastList_body_left_btn" data-page="' +(pageUtil.endPage) + '"><i class="fa-solid fa-circle-chevron-left fa-3x"></i></div>');
							} else {
								$('.main_lastList_body').append('<div class="main_lastList_body_left_btn" data-page="' +(pageUtil.page -1) + '"><i class="fa-solid fa-circle-chevron-left fa-3x"></i></div>');
							}
							
							
							
			
							content = $('<div id="main_lastList_body_content" class="main_lastList_body_content"></div>');
		
							// (2) 가운데 : 게시글
							$.each(resData.musicList, function(index, music) {
								
								
								// # 구현 : 썸네일 가져오기
								if(music.hasThumbNail == 1) {
									text = '<img class="item_image" src="/tune/display/image?musicNo=' + music.musicNo + '" width="169px" height="169px" data-musno="'+music.musicNo+'">';
								} else if(music.hasThumbNail == 0) {
									text = '<img class="item_image" src="/images/defaultImage.png" width="169px" height="169px" data-musno="'+music.musicNo+'">';
								}
								
							    $('<div class="main_item">')
							   .append(text)
							   .append('<a class="item_title" href="tune/iframe?musicNo=' + music.musicNo + ' data-musno="'+music.musicNo+'">' + music.musicTitle + '</a>')
							   .append('<a class="item_artist" href="tune/iframe?musicNo=' + music.musicNo + ' data-musno="'+music.musicNo+'">' + music.userDTO.artist + '</a>')
							   .appendTo( $(content) );
							}); 
				
							 $('.main_lastList_body').append( $(content) );
						
							
							// (3) # 기능 : 페이징 우측버튼 보여주기
							if(page != pageUtil.endPage) {
								$('.main_lastList_body').append('<div class="main_lastList_body_right_btn main_lastList_body_right_btn_time"  data-page="' + (pageUtil.page + 1) + '"><i class="fa-solid fa-circle-chevron-right fa-3x"></i></div>');
							} else {
								$('.main_lastList_body').append('<div class="main_lastList_body_right_btn  "  data-page="1"><i class="fa-solid fa-circle-chevron-right fa-3x"></i></div>');
							}
							
						}
					});
				
					$('#page_updated').val($('.main_lastList_body_right_btn_time').data('page'));
					
				}
				
			function fn_updatedMusicr() {	// 기능 : 우측버튼 최신화
			
			$.ajax({
				type: 'get',
				url: '/music/list/updated',
				data : 'page=' + $('#page_updated').val(),	
				dataType: 'json',
				success: function(resData) {	
					
					// 갱신
					$('.main_lastList_body').empty();
			
					// 페이징
					pageUtil = resData.pageUtil;
					page = $('#page_updated').val();
					
					// (1) # 기능 : 페이징 좌측버튼 보여주기
					
					if(page == pageUtil.beginPage) {
						$('.main_lastList_body').append('<div class="main_lastList_body_left_btn" data-page="' +(pageUtil.endPage) + '"><i class="fa-solid fa-circle-chevron-left fa-3x"></i></div>');
					} else {
						$('.main_lastList_body').append('<div class="main_lastList_body_left_btn" data-page="' +(pageUtil.page -1) + '"><i class="fa-solid fa-circle-chevron-left fa-3x"></i></div>');
					}
					
					content = $('<div id="main_lastList_body_content" class="main_lastList_body_content"></div>');

					// (2) 가운데 : 게시글
					$.each(resData.musicList, function(index, music) {
						
						
						// # 구현 : 썸네일 가져오기
						if(music.hasThumbNail == 1) {
							text = '<img class="item_image" src="/tune/display/image?musicNo=' + music.musicNo + '" width="169px" height="169px" data-musno="'+music.musicNo+'">';
						} else if(music.hasThumbNail == 0) {
							text = '<img class="item_image" src="/images/defaultImage.png" width="169px" height="169px" data-musno="'+music.musicNo+'">';
						}
						
					    $('<div class="main_item_r">')
					   .append(text)
					   .append('<a class="item_title" href="tune/iframe?musicNo=' + music.musicNo + ' data-musno="'+music.musicNo+'">' + music.musicTitle + '</a>')
					   .append('<a class="item_artist" href="tune/iframe?musicNo=' + music.musicNo + ' data-musno="'+music.musicNo+'">' + music.userDTO.artist + '</a>')
					   .appendTo( $(content) );
					}); 
		
					 $('.main_lastList_body').append( $(content) );
				
					
					// (3) # 기능 : 페이징 우측버튼 보여주기
					if(page != pageUtil.endPage) {
						$('.main_lastList_body').append('<div class="main_lastList_body_right_btn"  data-page="' + (pageUtil.page + 1) + '"><i class="fa-solid fa-circle-chevron-right fa-3x"></i></div>');
					} else {
						$('.main_lastList_body').append('<div class="main_lastList_body_right_btn"  data-page="1"><i class="fa-solid fa-circle-chevron-right fa-3x"></i></div>');
					}	
				}
			});	
		}
		
		
		function fn_updatedPageMove() {	// # 기능 : 최신리스트바 페이지 버튼
			 $(document).on('click', '.main_lastList_body_left_btn', function(){  	        
		         $('#page_updated').val($(this).data('page'));	// 버튼에 저장된 page 태그값을 hidden의 페이지값에 전달 -> 새로운 페이지를 파라미터로 전달해서 재요청
		         fn_updatedMusicr();
		      });
		      
		      $(document).on('click', '.main_lastList_body_right_btn', function(){
		        	    
		         $('#page_updated').val($(this).data('page'));	// 버튼에 저장된 page 태그값을 hidden의 페이지값에 전달 -> 새로운 페이지를 파라미터로 전달해서 재요청
		       
		         fn_updatedMusic();
		      });
		}


		function fn_updatedMusicBoard() {	// # 구현 : 최신리스트 게시판조회, mvc
			$('#btn_updatedMusicBoard').click(function() {
				location.href="/music/board/updatedMusic?page=1";
			});
		}
		
		function fn_popularMusic() {	// # 구현 : 인기음악 전체리스트바
		
			$.ajax({
				type: 'get',
				url: '/music/list/popular',
				dataType: 'json',
				success: function(resData) {	// resData : musicList, pageUtil, artist
					
					// 갱신
					$('.main_musicLike_body').empty();

					content = $('<div id="main_musicLike_body_content" class="main_musicLike_body_content"></div>');

					// (2) 가운데 : 게시글
					$.each(resData.musicList, function(index, music) {
						
						
						// # 구현 : 썸네일 가져오기
						if(music.hasThumbNail == 1) {
							text = '<img class="item_image" src="/tune/display/image?musicNo=' + music.musicNo + '" width="169px" height="169px" data-musno="'+music.musicNo+'">';
						} else if(music.hasThumbNail == 0) {
							text = '<img class="item_image" src="/images/defaultImage.png" width="169px" height="169px" data-musno="'+music.musicNo+'">';
						}
						
					    $('<div class="main_item_p">')
					   .append(text)
					   .append('<a class="item_title" href="tune/iframe?musicNo=' + music.musicNo + ' data-musno="'+music.musicNo+'">' + music.musicTitle + '</a>')
					   .append('<a class="item_artist" href="tune/iframe?musicNo=' + music.musicNo + ' data-musno="'+music.musicNo+'">' + music.userDTO.artist + '</a>')
					   .appendTo( $(content) );
					}); 
		
					 $('.main_musicLike_body').append( $(content) );	
				}
			});	
		}

		function fn_popularMusicBoard() {	// # 구현 : 인기리스트 게시판 이동
			$('#btn_popularMusicBoard').click(function() {
				location.href="/music/board/popularMusic?page=1";
			});
		}

		function fn_popllarMusic_Total() {	// # 인기리스트 : 전체버튼
			
			$('#bar_genre_total').click(function () {
				fn_popularMusic();
			});
		}
		

		function fn_popluarMusic_selectGenre() {	// 구현 : 장르별 인기순 조회
	
			$('.bar_header_menu_title').click(function () { 	
				
				var genre = $(this).text();	

				$.ajax({
				type: 'get',
				url: '/music/list/popular/genre',
				data : 'genre=' + genre,
				dataType: 'json',
				success: function(resData) {	
					
					$('.main_musicLike_body').empty();
			
					content = $('<div id="main_musicLike_body_content" class="main_musicLike_body_content"></div>');

					$.each(resData.musicList, function(index, music) {
			
						if(music.hasThumbNail == 1) {
							text = '<img class="item_image" src="/tune/display/image?musicNo=' + music.musicNo + '" width="169px" height="169px" data-musno="'+music.musicNo+'">';
						} else if(music.hasThumbNail == 0) {
							text = '<img class="item_image" src="/images/defaultImage.png" width="169px" height="169px" data-musno="'+music.musicNo+'">';
						}
						
					    $('<div class="main_item_p">')
					   .append(text)
					   .append('<a class="item_title" href="tune/iframe?musicNo=' + music.musicNo + ' data-musno="'+music.musicNo+'">' + music.musicTitle + '</a>')
					   .append('<a class="item_artist" href="tune/iframe?musicNo=' + music.musicNo + ' data-musno="'+music.musicNo+'">' + music.userDTO.artist + '</a>')
					   .appendTo( $(content) );
					}); 
		
					 $('.main_musicLike_body').append( $(content) );
					
					
				}
			});		
		});
	}
	
		
		function iframe_click() {	// 구현 : 음악플레이 아이프레임
			
			var musicNo;
			
			$(document).on('click', '.item_image', function() {
				musicNo = $(this).data('musno');
				window.parent.location.href="/tune/iframe?musicNo=" + musicNo;
			});
			
			$(document).on('click', '.item_title', function() {
				
				musicNo = $(this).data('musno');
				window.parent.location.href="/tune/iframe?musicNo=" + musicNo;
			});
			
			$(document).on('click', '.item_artist', function() {

				
				musicNo = $(this).data('musno');
				window.parent.location.href="/tune/iframe?musicNo=" + musicNo;
			});		
		}
	</script>
</head>
<body>
	<div th:replace="~{layout/header.html::header_layout}"></div>
	
	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		<!--  ** 모든 컨텐츠는 해당 content태그 아래에서 작성하시오  ** -->


		<div class="main_container">
		

		<!--  # 메인페이지 -->
			<div class="main">
				<!--  # 최신리스트 -->
				<div class="main_lastList">
					<div class="main_lastList_header">
						<div class="list_title">
							<i class="fa-solid fa-headphones"></i>
							<span class="bar_title">최신리스트</span>
							<span class="bar_content">최신 곡들을 들어보세요</span>
						</div>
						<i id="btn_updatedMusicBoard" class="fa-solid fa-plus fa-2x"></i>
					</div>

					 <!--  파라미터 : 최신, 인기, 장르별 인기 -->
					<input type="hidden" id="page_updated" value="1">
					<div class="main_lastList_body">
					
						<div id="main_lastList_body_content" class="main_lastList_body_content"></div>
						
					</div>
				</div>
				<!--  # 믹스리스트 -->
				<div class="main_likeList">
					<div class="main_musicLike_header">
						<div class="list_title_like">
							<i class="fa-solid fa-fire"></i>
							<span class="bar_title">인기리스트</span>
							<span class="bar_content">많은 사랑을 받은 음악입니다</span>
						</div>
						
						<input type="hidden" id="genre_value">
						
						<div class="bar_header_menus">
							<div class="bar_header_menu bar_header_menu_title" id="bar_genre_total">전체</div>
							<div class="bar_header_menu bar_header_menu_title" id="bar_genre_gayeo">가요</div>
							<div class="bar_header_menu bar_header_menu_title" id="bar_genre_pop">팝송</div>
							<div class="bar_header_menu bar_header_menu_title" id="bar_genre_trot">트로트</div>
							<div class="bar_header_menu bar_header_menu_title" id="bar_genre_rock">락</div>

							<i id="btn_popularMusicBoard" class="fa-solid fa-plus fa-2x"></i>
						</div>
					</div>
					<div class="main_musicLike_body">
						<div id="main_musicLike_body_content" class="main_musicLike_body_content"></div>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</body>
</html>