<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music')}">
<meta charset="UTF-8">
<title></title>
<!-- static 폴더 이후의 위치를 적으면 된다. -->
<link rel="stylesheet" th:href="@{/css/main.css}">
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script th:src="@{/js/main.js}"></script>
</head>
<body>
	<header th:replace="~{layout/header.html::header}" ></header>
	
	<div class="container">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		<!--  ** 모든 컨텐츠는 해당 content태그 아래에서 작성하시오  ** -->

		<div class="main_container">
	
			<!--  # 최신리스트 -->
			<div class="main_lastList">
				<div class="main_lastList_header">
					<div class="list_title">
						<i class="fa-solid fa-headphones"></i>
						<span class="bar_title">최신리스트</span>
						<span class="bar_content">최신 곡들을 들어보세요</span>
					</div>
					<i id="btn_updatedMusicBoard" class="fa-solid fa-plus fa-2x"></i>
				</div>
	
				 <!--  * page : 페이지 파라미터값 담당 -->
				<input type="hidden" id="page_updated" value="1">
				<input type="hidden" id="page_popular" value="1">
				<input type="hidden" id="page_popular_genre" value="1">
				<div class="main_lastList_body">
				
					<div id="main_lastList_body_content" class="main_lastList_body_content"></div>
					
				</div>
			</div>
			<!--  # 믹스리스트 -->
			<div class="main_likeList">
				<div class="main_musicLike_header">
					<div class="list_title_like">
						<i class="fa-solid fa-fire"></i>
						<span class="bar_title">인기리스트</span>
						<span class="bar_content">많은 사랑을 받은 음악입니다</span>
					
					</div>
					
					
					<!-- * 장르구분용 hidden -->
					<input type="hidden" id="genre_value">
					
					<div class="bar_header_menus">
						<div class="bar_header_menu bar_header_menu_title" id="bar_genre_total">
							전체
						</div>
						<div class="bar_header_menu bar_header_menu_title" id="bar_genre_gayeo">
							가요
						</div>
						<div class="bar_header_menu bar_header_menu_title" id="bar_genre_pop">
							팝송
						</div>
						<div class="bar_header_menu bar_header_menu_title" id="bar_genre_trot">
							트로트
						</div>
						<div class="bar_header_menu bar_header_menu_title" id="bar_genre_rock">
							락
						</div>
	
						
						<i id="btn_popularMusicBoard" class="fa-solid fa-plus fa-2x"></i>
					</div><!-- header에서 flex를 줘서 수평이됨 -->
					
				</div>
	
				<div class="main_musicLike_body">
				
					<div id="main_musicLike_body_content" class="main_musicLike_body_content"></div>
					
				</div>
				
				
				</div>
			</div>

			<!-- # 구현 : 음악플레이어, iframe크기를 지정함으로서 불러온 html의 일부만 보여줄 수 있다  -->
		</div>
		
	<footer class="footer">
		<p>© 2022 Tagmusic.pjt</p>
	</footer>
</body>
</html>