<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('Tag Music')}"></head>
<meta charset="UTF-8">
<link rel="stylesheet" th:href="@{/css/payment.css}">
<title></title>
<style>
	ul,ol{list-style:none}
	nav{overflow:hidden;height:80px;}
	#nav3 {
	  width: 100%;
	  height: 12%;
	  position: relative;
	  text-align: center;
	}
	#nav3>a {
	  line-height: 80px;
	  display: block;
	  font-size: 30px;
	  font-weight: 900;
	  position: absolute;
	}
	#nav3>select {
	  height: 30px;
	  background-color: #1b2035;
	  color: #fff;
	  position: absolute;
	  transform: translateY(-15px);
	  border: 2px solid #fff;
	  border-radius: 30px;
	}
	
	/* 선물 box */
	.blind {
		display: none;
	}
	.backlayer {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,0,0,0.7);
		z-index: 100;
		width: 100%;
		height:100%;
	}
	.gift_session {
		position: absolute;
		top: 0;
		left: 0;
		background-color: rgba(0,255,130,0);
		width: 100%;
		height:100%;
	}
	.container_gift {
		position: relative;
		z-index: 110;
		width: 420px;
		height: 300px;
		background-color: #00FF80;
		margin: 200px auto;
	}
	.gift_box {
		position: relative;
		margin: auto;
		padding-top: 40px;
		width: 350px;
		background-color: #00FF80;
		text-align: center;
	}
	
	
</style>
<!-- static 폴더 이후의 위치를 적으면 된다. -->
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script type="text/javascript" src="https://service.iamport.kr/js/iamport.payment-1.1.5.js"></script>


<script th:inline="javascript">
$(document).ready(function(){
	var userName = $('#userName').data('name');
	if(userName != null){
		fn_passList();
	} else {
		fn_isNotUser();
	}
	fn_init();
 });
function fn_init(){
	$('.backlayer').addClass('blind');
	$('.gift_session').addClass('blind');
	$('.gift_box_div').addClass('blind');
	$('#getRecipientEmail').prop('readonly', false);
}
function fn_isNotUser(){
	$.ajax({
		type: 'post',
		url: '/pass/list',
		dataType: 'json',
		success: function(resData){
			var txt = '';
			$.each(resData.passList, function(i, pass){
				txt += '<div class="pass_box">';
				txt += '<div class="pass_box_left">';
				txt += '<div class="pass_name">'+pass.passName+'</div>';
				txt += '<div class="pass_msg_price">';
				txt += '<div class="pass_msg">무제한 듣기 + 무제한 다운로드</div>';
				txt += '<div class="pass_price">'+pass.passPrice+' 원!</div>';
				txt += '</div>';
				txt += '</div>';
				txt += '<div class="pass_box_right">';
				txt += '<input type="button" value="결제하기" onclick="fn_login()">';
				txt += '</div>';
				txt += '</div>';
				if(pass.passName == "30일이용권"){
					txt += '<input type="button" value="선물하기" id="btn_gift" onclick="fn_login()">';
			
				}
			});
			$('#buyPageDiv').append(txt);
		}
	});
}
function fn_passList(){
	$.ajax({
		type: 'post',
		url: '/pass/list',
		dataType: 'json',
		success: function(resData){
			var txt = '';
			$.each(resData.passList, function(i, pass){
				txt += '<div class="pass_box">';
				txt += '<div class="pass_box_left">';
				txt += '<div class="pass_name">'+pass.passName+'</div>';
				txt += '<div class="pass_msg_price">';
				txt += '<div class="pass_msg">무제한 듣기 + 무제한 다운로드</div>';
				txt += '<div class="pass_price">'+pass.passPrice+' 원!</div>';
				txt += '</div>';
				txt += '</div>';
				txt += '<div class="pass_box_right">';
					txt += '<input type="button" value="결제하기" data-ticket="'+ pass.passName+'" data-passno="'+pass.passNo+'" data-pg="inicis통합결제" data-amount="'+pass.passPrice+'" onclick="fn_buyTicket(this)">';
				txt += '</div>';
				txt += '</div>';
				if(pass.passName == "30일이용권"){
					txt += '<input class="btn_gift_30days" type="button" value="선물하기" data-if="0" data-ticket="'+ pass.passName + '" data-passno="'+pass.passNo+'" data-pg="inicis통합결제" data-amount="'+pass.passPrice+'" onclick="fn_presentTicket(this)">';
				}
			});
			
			$('#buyPageDiv').append(txt);
		}
	});
}

function fn_login(){
	
	 if(confirm('아직 로그인을 안하셨네요. 로그인 페이지로 이동하겠습니까?')){
		$('#frm_login').submit();
	}
}

function fn_buyTicket(e){
	
	var musicAmount = $(e).data('amount');
	var paymentPg = $(e).data('pg');
	var ticketName = $(e).data('ticket');
	var passNo = $(e).data('passno');
	var userName = $('#userName').data('name');
	var userEmail = $('#userEmail').data('email');
	var userMobile = $('#userMobile').data('mobile');
	var userAddr = '';
	userAddr += $('#userAddr1').data('addr');
	userAddr += $('#userAddr2').data('addr');
	userAddr += $('#userAddr3').data('addr');
	userAddr += $('#userAddr4').data('addr');
	var userPostcode = $('#postcode').data('postcode');
		
	var IMP = window.IMP; 
	IMP.init('imp66111374');
	
	var merchant_uid = 'TagMusic_' + new Date().getTime();
	IMP.request_pay({ 
		pg: "html5_inicis",
		pay_method: 'card',
		merchant_uid: merchant_uid,
		name: ticketName, 
		//name: '노래제목:'+firstCartMusicName+' 외'+ (muprice-1) +'곡',
		amount: musicAmount,
		buyer_email: userEmail,
		buyer_name: userName,
		buyer_tel: userMobile,
		buyer_addr: '서울시',
		buyer_postcode: '123-111',
		m_redirect_url: 'https://www.yourdomain.com/payments/complete'
		}, function (rsp) {
			if (rsp.success) {
				
				 $.ajax({
					type: 'post',
					url: '/payment/thirtyDay',
					data: 'email=' + userEmail + '&price=' + musicAmount + '&passNo=' + passNo + '&payPg=' + paymentPg + '&ticketName=' + ticketName + '&merchantUid=' + merchant_uid,
					dataType: 'json',
					success: function(resData){
						var msg = '';
						if(resData.result == 1){
							msg += '이용권 구매가 완료되었습니다.';
						} else {
							msg += '이용권 구매가 실패하였습니다..';
						}
						alert(msg);
						fn_remainingDay();
						
					}
					
				}); 
				 
			} else {
			var msg = '';
			msg += rsp.error_msg;
			alert(msg)
		}
			
	});
	
}
function fn_presentTicket(e){
	$('#recipientInfoBox').text('');
	var recipientEmail = $('#getRecipientEmail').val();
	$('#getRecipientEmail').val('');
	$('.backlayer').removeClass('blind');
	$('.gift_session').removeClass('blind');
	var userNickName = $(e).data('artist');
	var ticketName = $('.btn_gift_30days').data('ticket');
	ticketName += '(TO.'+ userNickName +')';
		
		var musicAmount = $('.btn_gift_30days').data('amount');
		var paymentPg = $('.btn_gift_30days').data('pg');
		
		var passNo = $('.btn_gift_30days').data('passno');
		var userName = $('#userName').data('name');
		var userEmail = $('#userEmail').data('email');
		var userMobile = $('#userMobile').data('mobile');
		var userAddr = '';
		userAddr += $('#userAddr1').data('addr');
		userAddr += $('#userAddr2').data('addr');
		userAddr += $('#userAddr3').data('addr');
		userAddr += $('#userAddr4').data('addr');
		var userPostcode = $('#postcode').data('postcode');
			
		var IMP = window.IMP; 
	
		
		IMP.init('imp66111374');//imp72345478
		var merchant_uid = 'TagMusic_' + new Date().getTime();
		console.log($(e).data('if'));
		if($(e).data('if') == '1'){
		IMP.request_pay({ 
			pg: "html5_inicis",
			pay_method: 'card',
			merchant_uid: merchant_uid,
			name: ticketName, 
			//name: '노래제목:'+firstCartMusicName+' 외'+ (muprice-1) +'곡',
			amount: musicAmount,
			buyer_email: userEmail,
			buyer_name: userName,
			buyer_tel: userMobile,
			buyer_addr: '서울시',
			buyer_postcode: '	-111',
			m_redirect_url: 'https://www.yourdomain.com/payments/complete'
			}, function (rsp) {
				if (rsp.success) {
					 $.ajax({
						type: 'post',
						url: '/payment/present/thirtyDay',
						data: 'email=' + recipientEmail  +'&sessionEmail=' + userEmail + '&price=' + musicAmount + '&passNo=' + passNo + '&payPg=' + paymentPg + '&ticketName=' + ticketName + '&merchantUid=' + merchant_uid,
						dataType: 'json',
						success: function(resData){
							var msg = '';
							console.log(resData);
							if(resData.result == 1){
								msg += '이용권 선물이 완료되었습니다.';
							} else {
								msg += '이용권 선물을 실패하였습니다..';
							}
							alert(msg);
							fn_remainingDay();
							fn_init();
						}
					}); 
				} else {
				var msg = '';
				msg += rsp.error_msg;
				alert(msg)
			}
		});
	}
}

</script>
</head>
<body>
	<div th:replace="~{layout/header.html::header_layout}"></div>
	<div th:replace="~{layout/side.html::side_layout}"></div>
	<div class="back_content">
		<div id="back_layer"></div>
	</div>
	<article class="payment_base_layer">
		<div class="article_contain">
			<div class="pay_controllers">
				<div class="payTitle">태그뮤직 이용권 구매</div>
				<div class="payContent">
					<nav id="nav3" class="tab_box_basic">
						<ul class="top_pay_controller">
							<li class="tab_payment tab_box_click">
								<a class="tab_text" th:href="@{/payment/buy}">BEST</a>
							</li>
							<li>
								전체 이용권
							</li>
							<li>
								이용권 선물
							</li>
							<li>
								쿠폰 등록
							</li>
						</ul>
					</nav>
					
					<input type="hidden" id="isUser" th:data-user="${session}">
					<div th:if="${session.loginUser != null}">
						<input type="hidden" id="userName" th:data-name="${session.loginUser.name}">
						<input type="hidden" id="userEmail" th:data-email="${session.loginUser.email}">
						<input type="hidden" id="userMobile" th:data-mobile="${session.loginUser.mobile}">
						<input type="hidden" id="userAddr1" th:data-addr="${session.loginUser.roadAddress}">
						<input type="hidden" id="userAddr2" th:data-addr="${session.loginUser.jibunAddress}">
						<input type="hidden" id="userAddr3" th:data-addr="${session.loginUser.detailAddress}">
						<input type="hidden" id="userAddr4" th:data-addr="${session.loginUser.extraAddress}">
						<input type="hidden" id="postcode" th:data-postcode="${session.loginUser.postcode}">
						<input type="hidden" class="isUser" th:data-user="true">
					</div>
					<!-- 패스 -->
					<!-- <div>
						<input type="button" id="isPassHave" value="티켓가지고있어?" onclick="isPassHave();">
					</div>
					<script>
					function isPassHave(){
						$.ajax({
							type: 'post',
							url: '/payment/isPassHave',
							dataType: 'json',
							success: function(resData){
								console.log(resData.isNotLogin);
								if(resData.result == 0){
									if(confirm('이용권이 없는 회원입니다. 이용권을 구매하러 가시겠습니까?')){
										location.href="/payment/buy";
									}
								}
								if(resData.isNotLogin == 'loginPlz'){
									if(confirm('로그인이 안된 유저입니다 로그인 하시겠습니까?')){
										location.href="/user/login/form";
									}
								}
							}
						});
					}
					</script> -->
					 <div id="buyPageDiv"></div>
				</div>
				
				<span th:utext="${loginUser}"></span>
			</div>
		</div>
	</article>
	<form action="/user/login/form" id="frm_login"></form>
	<!-- 프로필 사진 클릭시 팝업 창 -->
	<div class="backlayer blind"></div>
	<div class="gift_session blind">
		<div class="container_gift">
			<div class="gift_box">
				<div>
					<div>
						<span id="remainingDay"></span>
					</div>
					<div>
						<span id="dDay"></span>
					</div>
				</div>
				<h3>누구에게 선물하시겠습니까?</h3>
				<br>
				<span>선물받을 사람의 이메일을 입력해주세요</span>
				<div>* 해당 이용권은 선물하는 즉시 <br> 바로 적용되는 상품입니다.</div>
				<input type="text" id="getRecipientEmail">
				<!-- /*<input type="button" id="setRecipientInfo" value="보내기">*/ -->
				
				<input type="button" id="send_gift" value="보내기">
				
				<br>
				<div id="recipientInfoBox"></div>
				<div class="gift_box_div blind">
					<input type="button" id="gift_submit" value="전송" data-artist="" data-if="1" onclick="fn_presentTicket(this)">	
					<input type="button" id="gift_cancle" value="취소">				
				</div>
				<script>
					var userEmail = $('#userEmail').data('email');
					
					$('#send_gift').click(function(ev){
						$('#recipientInfoBox').text('');
						var recipientEmail = $('#getRecipientEmail').val();
						console.log(recipientEmail);
						let regEmail = /^[0-9a-zA-Z][0-9a-zA-Z-_]{3,29}@[a-z]{1,10}[\.][a-z\.]{2,18}$/;
						if(regEmail.test(recipientEmail) == false) {
							$('#recipientInfoBox').text('올바른 이메일 형식으로 작성해주세요.');
							ev.preventDefault();
							return;
						}
						if(recipientEmail == userEmail){
							$('#recipientInfoBox').text('');
							$('#recipientInfoBox').text('본인에게는 선물 할 수 없습니다!!');
							ev.preventDefault();
							return;
						}
						if(recipientEmail == 'admin@web.com'){
							$('#recipientInfoBox').text('');
							$('#recipientInfoBox').text('선물할 수 있는 대상이 아닙니다.');
							ev.preventDefault();
							return;
						}
						$.ajax({
							type: 'post',
							url: '/payment/recipient',
							data: 'email=' + recipientEmail, 
							dataType: 'json',
							success: function(resData){
								$('#recipientInfoBox').text('');
								if(resData.result == null){
									$('#recipientInfoBox').text('해당 유저는 존재하지않습니다.');
								} else {
									$('#getRecipientEmail').prop('readonly', true);
									$('#recipientInfoBox').text('\''+ recipientEmail + '(' + resData.result.artist + ')\'에게 보내겠습니까?');
									$('#gift_submit').data('artist', resData.result.artist);
									$('.gift_box_div').removeClass('blind');
								}
							}
						});
					});
				</script>
			</div>
		</div>
	</div>
	<script>
		$('.backlayer').click(function(){
			$('.backlayer').addClass('blind');
			$('.gift_session').addClass('blind');
			$('.gift_box_div').addClass('blind');
			$('#getRecipientEmail').prop('readonly', false);
		});
		$('#gift_cancle').click(function(){
			$('.backlayer').addClass('blind');
			$('.gift_session').addClass('blind');
			$('.gift_box_div').addClass('blind');
			$('#getRecipientEmail').prop('readonly', false);
		});
	</script>

	
</body>
</html>