<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('태그뮤직>고객센터')}"></head>
<meta charset="UTF-8">
<title>고객센터>태그뮤직</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/customerService.css}">
<script>

	$(function(){
		
		$('#btn_upload_edit').click(function(event){
			$('#frm_upload').attr('action', '/upload/edit');
			$('#frm_upload').submit();
		});
		
		$('#btn_upload_remove').click(function(event){
			if(confirm('첨부된 모든 파일이 함께 삭제됩니다. 삭제할까요?')){
				$('#frm_upload').attr('action', '/upload/remove');
				$('#frm_upload').submit();
			}
		});
		
		$('#btn_upload_list').click(function(event){
			location.href = '/upload/list';
		});
		
	});
</script>

<body>		

<style>
 	table {
	 	width:100%;
	 	table-layout: fixed;
		  }
</style>

<div th:replace="~{layout/header.html::header_layout}"></div>
	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		<!--  ** 모든 컨텐츠는 해당 content태그 아래에서 작성하시오  ** -->
		<div class="container">
			<div class="mainbox">
			
				<div class="maintitle">태그뮤직 고객센터</div>
				
				<div class="top_bar">
				    <ul>
				        <li>
				            <a th:href="@{/customerService/home}">홈</a>
				        </li>
				        <li>
				            <a th:href="@{/board/list}">공지사항</a>
				        </li>
				         <li class="click">
				            <a th:href="@{/upload/list}">자주 하는 질문</a>
				        </li>
				        <li>
				            <a th:href="@{/customerService/chat}">1:1문의하기</a>
				        </li>
				    </ul>
					
				</div>	
			
		<h1>업로드 게시글 정보</h1>
	<div>	
	  <ul>
		 <table class="table table-striped"> 
			<thead>
				<tr bgcolor="#F6F6F6">
			   <td>
			     <li th:text="|제목 : ${upload.title}|"></li>
			   </td>
			   <td>
			     <li th:text="|작성일 : ${#dates.format(upload.createDate, 'yyyy-MM-dd HH:mm:ss')}|"></li>
			   </td>
			  <td>
			    <li th:text="|조회수 : ${#numbers.formatInteger(upload.Hit,1,'COMMA')}|"></li>
			  </td>	
			  <td>
			    <li th:text="|첨부파일 개수 : ${attachCnt}|"></li>
			   </td>
			  </tr>	
			</thead>
			  
			<tbody>
			  <tr>
			 	 <td align=left valign=top> 
			      <li th:text="|${upload.content}|"></li>
			     </td>
			  </tr>   
			</tbody>  
			
		 <tfoot>
			<tr>
			  <td></td>
				<td align=left>
				 <h2>첨부파일 및 다운로드</h2>
			        <div th:each="attach : ${attachList}">
				     <a th:href="@{/upload/download(attachNo=${attach.attachNo})}">
					  <div th:if="${attach.hasThumbnail == 1}">
						<img th:src="@{/upload/display(attachNo=${attach.attachNo})}" class="attach_img" th:title="${attach.origin}" th:text="${attach.origin}">
					  </div>
					 <div th:if="${attach.hasThumbnail == 0}">
						<img th:src="@{/images/text.png}" width="50px" class="attach_img" th:title="${attach.origin}" th:text="${attach.origin}">
					 </div>
				     </a>
			       </div>
				</td>   
			     <td align=left>
			       <h3><a th:href="@{/upload/downloadAll(uploadNo=${upload.uploadNo})}">모두 다운로드</a></h3>
				</td> 
	        </tr>
		  </tfoot>   
         </table>
	    </ul> 	 
	   </div>
	
		  <hr>
	
		<div>
			<form id="frm_upload" method="post">
				<input type="hidden" name="uploadNo" th:value="${upload.uploadNo}">
				<input type="button" value="게시글편집" id="btn_upload_edit"> 			
				<input type="button" value="게시글삭제" id="btn_upload_remove"> 			
				<input type="button" value="게시글목록" id="btn_upload_list"> 			
			</form>
		</div>
	   </div>
	  </div>
</body>
</html>