<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title th:text="${title}"></title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<script>
	
	$(function(){
		fn_fileCheck();
		fn_removeAttach();
	});
		
	function fn_fileCheck(){
		
		$('#files').change(function(){
			
			let maxSize = 1024 * 1024 * 10; 
			
			let files = this.files;
			
			$('#file_list').empty();
			$.each(files, function(i, file){
				
				if(file.size > maxSize){
					alert('10MB 이하의 파일만 첨부할 수 있습니다.');
					$(this).val('');
					return;
				}
				
				$('#file_list').append('<div>' + file.name + '</div>');
				
			});
			
		});
		
	}
		
		$('#frm_edit').submit(function(event){
			if($('#title').val() == ''){
				alert('제목은 필수입니다.');
				event.preventDefault();
				return;
				
			}
		});
	
	
	function fn_removeAttach(){
		
		$('.lnk_remove_attach').click(function(event){
			if(confirm('첨부 파일을 삭제할까요?') == false){
				event.preventDefault();
				return;
			}
		});
	}

</script>
</head>
<body>

	<div>
	
		<h1>편집화면</h1>
		
		<form id="frm_edit" th:action="@{/upload/modify}" method="post" enctype="multipart/form-data">
		
			<input type="hidden" name="uploadNo" th:value="${upload.uploadNo}">
		
			<div>
				<label for="title">제목</label>
				<input type="text" id="title" name="title" th:value="${upload.title}" required="required">
			</div>
			<div>
				<label for="content">내용</label>
				<textarea name="content" id="content" th:text="${upload.Content}"></textarea>				
			</div>
			
			<div>
				<button>편집완료</button>
				<input type="button" value="목록" onclick="location.href='/upload/list'">
			</div>

			<div>
				<label for="files">첨부 추가</label>
				<input type="file" id="files" name="files" multiple="multiple">
				<div id="file_list"></div>
			</div>
		
			
		</form>
		
		<div>
			<h3>첨부삭제</h3>
			
			<tr th:each="attach : ${attachList}">
			 <a class="lnk_remove_attach" th:href="@{/upload/attach/remove(uploadNo=${upload.uploadNo},attachNo=${attach.attachNo})}"><td th:text="${attach.origin}"></td></a>
			</tr>
			
		</div>
	
	</div>
	
</body>
</html>