<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{layout/header::head('태그뮤직>고객센터')}"></head>
<meta charset="UTF-8">
<title>고객센터>태그뮤직</title>
<script th:src="@{/js/jquery-3.6.1.min.js}"></script>
<link rel="stylesheet" th:href="@{/css/customerService.css}">
<script>
	
	$(function(){
		fn_fileCheck();
		fn_removeAttach();
	});
		
	function fn_fileCheck(){
		
		$('#files').change(function(){
			
			let maxSize = 1024 * 1024 * 1000; 
			
			let files = this.files;
			
			$('#file_list').empty();
			$.each(files, function(i, file){
				
				if(file.size > maxSize){
					alert('1000MB 이하의 파일만 첨부할 수 있습니다.');
					$(this).val('');
					return;
				}
				
				$('#file_list').append('<div>' + file.name + '</div>');
				
			});
			
		});
		
	}
		
		$('#frm_edit').submit(function(event){
			if($('#title').val() == ''){
				alert('제목은 필수입니다.');
				event.preventDefault();
				return;
				
			}
		});
	
	
	function fn_removeAttach(){
		
		$('.lnk_remove_attach').click(function(event){
			if(confirm('첨부 파일을 삭제할까요?') == false){
				event.preventDefault();
				return;
			}
		});
	}
</script>
<body>
 <style>
    table {	 
	  width:100%; 
	  table-layout: fixed;
 	      } 
  </style>
  
<div th:replace="~{layout/header.html::header_layout}"></div>
	<div class="session">
		<div th:replace="~{layout/side.html::side_layout}"></div>
		<!--  ** 모든 컨텐츠는 해당 content태그 아래에서 작성하시오  ** -->
		<div class="container">
			<div class="mainbox" >
			
				<div class="maintitle">태그뮤직 고객센터</div>
				
				<div class="top_bar">
				    <ul>
				        <li>
				            <a th:href="@{/customerService/home}">홈</a>
				        </li>
				        <li>
				            <a th:href="@{/board/list}">공지사항</a>
				        </li>
				        <li class="click">
				            <a th:href="@{/upload/list}">자주 하는 질문</a>
				        </li>
				        <li>
				            <a th:href="@{/customerService/chat}">1:1문의하기</a>
				        </li>
				    </ul>
					
				</div>

	   <div>
	
		 <h1>편집화면</h1>
		
	  <form id="frm_edit" th:action="@{/upload/modify}" method="post" enctype="multipart/form-data">
		  <table class="table table-striped">
		   <input type="hidden" name="uploadNo" th:value="${upload.uploadNo}">
			<thead>
			  <tr>
			    <td style="background-color:rgb(192, 192, 192)">
				 <h2><label for="title" style="background-color:rgb(192, 192, 192)">제목</label></h2>	
			    </td>	
			    <td style="height:95%;width:95%; background-color:rgb(192, 192, 192)">	
				 <input type="text" id="title" name="title" th:value="${upload.title}" required="required" style="height: 45px;width:100%;border: 0; background-color:rgb(255, 255, 255)">
			   </td>
			</thead>
			
			<tbody>
			  <tr>
			   <td style="background-color:rgb(192, 192, 192)">  
				<h3><label for="title" style="background-color:rgb(192, 192, 192)">내용</label></h3>	
			   </td>
			   <td style="height:100%;width:100%;">	
				<textarea name="content" id="content" th:text="${upload.Content}" style="height:100%;width:100%;border: 0; background-color:rgb(255, 255, 255)"></textarea>				
			   </td>
			  </tr> 
			</tbody>
			
			<tfoot>
			 <tr>
			  <td>
			     <input type="file" id="files" name="files" multiple="multiple">
				  <div id="file_list"></div>
			  </td>	  
			  <td style="text-align:right;">
				<input type="button" value="목록" onclick="location.href='/upload/list'">
				<button>편집완료</button>
			  </td>
			 </tr>  	
			</tfoot>	
		  </table>
		</form>
		
		<hr>
		
		<div>
			<h4>첨부삭제</h4>
			 <tr th:each="attach : ${attachList}">
			  <a class="lnk_remove_attach" th:href="@{/upload/attach/remove(uploadNo=${upload.uploadNo},attachNo=${attach.attachNo})}"><td th:text="${attach.origin}"></td></a>
			 </tr>
		</div>
	</div>
	
</body>
</html>